<!DOCTYPE html>
<html style="overflow-y: hidden;">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>end</title>
</head>
<body>
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
	</div>

	<div class="bannder17">
		
	</div>

	<div class="endpage">
	  <h2 >***** 谢谢参与！*****</h2>
	</div>
</body>
</html>