<!DOCTYPE html>
<html >
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <title>Index</title>
</head>
<body>
<form method="post" action="{% url 'classification:Chinstro' %}">
    {% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
        <input type="submit" name="" value="下一步"  id="butt-next">
	</div>

	<div class="bannder1"></div>
	
	<div  class="questionspage" >
        <div class="index">
		<p >感谢您参与我们的在线实验。 这项研究大约需要15分钟才能完成。</p>

        <p >您的答复将保持秘密和匿名。 这项研究的数据经不会被做细节公布，报告只会是一个集体总和的形式呈现的。 除了研究人员之外，没有人会知道你对这个问卷的答案。</p>

		<p >如果您同意参与此项目，请尽可能回答问题。</p>

		<p>感谢您在这项重要的尝试中提供的帮助。</p>

		<p>请点击“下一步”到下一页。</p>
            </div>
	</div>
    </form>
</body>
</html>