<!DOCTYPE html>
<html style="overflow-y: hidden;">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <title>Instruction</title>
</head>
<body>
<form action="{% url 'classification:LogCh' %}" class="longform">
    {% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
	</div>

	<div class="bannder2">
		
	</div>

	<div class="questionspage">
        <div class="index-instru">
            <br/>
            <br/>
			<p>指示：</p>
			<p>在线实验包括三个步骤：</p>

            <p>步骤1.注册</p>
        	<p>在下一页中，您需要注册在线实验。 您可以使用电子邮件地址或随机数字进行注册。</p>

			<p>步骤2.问卷</p>
			<p>注册实验后，您将首先填写一个简短的问卷。</p>

			<p>步骤3：一个任务+一个问卷</p>
            <p >您需要完成一个任务。这个任务关于针对不同的设计情况选择合适的设计技术。设计技术指着根据特定的程序来进行设计活动。</p>
	    </div>
        <input type="submit" class="tesinput" name="" value="下一步"  id="butt-next">
    </div>
</form>
</body>
</html>