<!DOCTYPE html>
<html style="overflow-y: hidden;">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="{% static 'JS/index.js' %}"></script>
    <title>post-test 3</title>
</head>
<body>
<form method="post" action="{% url 'classification:Addpost3' %}" onsubmit="return Posttest()" class="longform">
    {% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
			<input type="submit" name="" value="下一步" id="butt-next">
	</div>

	<div class="bannder14">
		
	</div>


	  <div class="questionspage">
          <br/>
		<p>请回答以下问题。</p>
		
		<table id="tab2">
			 <tr class="dark">
                <td><span style="margin-left: 35px;">主观正确性</span></td>
            </tr>
			<tr class="white">
				<td><span style="margin-left: 35px;">您同意或不同意以下声明的程度如何？</span></td>
			</tr>
            <tr class="white">
				<td><span style="margin-left: 35px;">1 =极不赞同; 7 =非常赞同</span></td>
			</tr>
            <tr class="light" id="post1name">
                <td>
                    <span class="number">1.</span><span class="Ques">所选择的设计技术适合任务的情景。</span>
                    <span class="onelowde">
                        <span class="seclowde"><input type="radio" name="post1" value="1" ><label class="labpositionshort">1</label></span>
                        <span class="seclowde"><input type="radio" name="post1" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclowde"><input type="radio" name="post1" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclowde"><input type="radio" name="post1" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclowde"><input type="radio" name="post1" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclowde"><input type="radio" name="post1" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclowde"><input type="radio" name="post1" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white" id="post2name">
                <td>
                <span class="number">2.</span><span class="Ques">所选择的设计技术不适合任务的情景。</span>
                <span class="onelowde">
                    <span class="seclowde"><input type="radio" name="post2" value="1" ><label class="labpositionshort">1</label></span>
                    <span class="seclowde"><input type="radio" name="post2" value="2"><label class="labpositionshort">2</label></span>
                    <span class="seclowde"><input type="radio" name="post2" value="3"><label class="labpositionshort">3</label></span>
                    <span class="seclowde"><input type="radio" name="post2" value="4"><label class="labpositionshort">4</label></span>
                    <span class="seclowde"><input type="radio" name="post2" value="5"><label class="labpositionshort">5</label></span>
                    <span class="seclowde"><input type="radio" name="post2" value="6"><label class="labpositionshort">6</label></span>
                    <span class="seclowde"><input type="radio" name="post2" value="7"><label class="labpositionshort">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light" id="post3name">
                <td>
                    <span class="number">3.</span><span class="Ques">我觉得使用的这个网页影响了对合适的设计技术的选择。</span>
                    <span class="onelowde">
                        <span class="seclowde"><input type="radio" name="post3" value="1" ><label class="labpositionshort">1</label></span>
                        <span class="seclowde"><input type="radio" name="post3" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclowde"><input type="radio" name="post3" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclowde"><input type="radio" name="post3" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclowde"><input type="radio" name="post3" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclowde"><input type="radio" name="post3" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclowde"><input type="radio" name="post3" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white" style="height:45px;">
                <td>

                </td>
            </tr>
             <tr class="dark">
                <td><span style="margin-left: 35px;">决策信心</span></td>
             </tr>
			 <tr class="white">
				<td><span style="margin-left: 35px;">您同意或不同意以下声明的程度如何？ 1 =极不赞同; 7 =非常赞同</span></td>
			 </tr>
            <tr class="light" id="post4name">
                <td>
                <span class="number">4.</span><span class="Ques">所选的设计技术是正确的。</span>
                <span class="onelowde">
                    <span class="seclowde"><input type="radio" name="post4" value="1" ><label class="labpositionshort">1</label></span>
                    <span class="seclowde"><input type="radio" name="post4" value="2"><label class="labpositionshort">2</label></span>
                    <span class="seclowde"><input type="radio" name="post4" value="3"><label class="labpositionshort">3</label></span>
                    <span class="seclowde"><input type="radio" name="post4" value="4"><label class="labpositionshort">4</label></span>
                    <span class="seclowde"><input type="radio" name="post4" value="5"><label class="labpositionshort">5</label></span>
                    <span class="seclowde"><input type="radio" name="post4" value="6"><label class="labpositionshort">6</label></span>
                    <span class="seclowde"><input type="radio" name="post4" value="7"><label class="labpositionshort">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="white" id="post5name">
                <td>
                    <span class="number">5.</span><span class="Ques">我不确定所选择的设计技术是否合适。</span>
                    <span class="onelowde">
                        <span class="seclowde"><input type="radio" name="post5" value="1" ><label class="labpositionshort">1</label></span>
                        <span class="seclowde"><input type="radio" name="post5" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclowde"><input type="radio" name="post5" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclowde"><input type="radio" name="post5" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclowde"><input type="radio" name="post5" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclowde"><input type="radio" name="post5" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclowde"><input type="radio" name="post5" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="light" id="post6name">
                <td>
                <span class="number">6.</span><span class="Ques">我对这项任务所选择的设计技术并不自信。</span>
                <span class="onelowde">
                    <span class="seclowde"><input type="radio" name="post6" value="1" ><label class="labpositionshort">1</label></span>
                    <span class="seclowde"><input type="radio" name="post6" value="2"><label class="labpositionshort">2</label></span>
                    <span class="seclowde"><input type="radio" name="post6" value="3"><label class="labpositionshort">3</label></span>
                    <span class="seclowde"><input type="radio" name="post6" value="4"><label class="labpositionshort">4</label></span>
                    <span class="seclowde"><input type="radio" name="post6" value="5"><label class="labpositionshort">5</label></span>
                    <span class="seclowde"><input type="radio" name="post6" value="6"><label class="labpositionshort">6</label></span>
                    <span class="seclowde"><input type="radio" name="post6" value="7"><label class="labpositionshort">7</label></span>
                </span>
                </td>
            </tr>
		</table>
	</div>
</form>
</body>
</html>