<!DOCTYPE html>
<html style="height: 100%" xmlns="http://www.w3.org/1999/html">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <title>pre-test</title>
</head>
<body onload="checknull()">
<form method="post" action="{% url 'classification:PreAddA' %}">
{% csrf_token %}
	<div class="header">  <!-- logo部分 -->
		<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
			<p>Welcome to the Online Experiment</p>
		</div>
        {% if request.user.is_authenticated %}
            <label name="userid">{{ request.user.id }}</label>
        {% endif %}
        <input type="submit" name="" value="下一步" id="butt-next">
	</div>

	<div class="bannder4"></div>

	<div class="mainbody">
	  <div class="opptions">
          <br/>
		<p>请回答以下问题。</p>
		<table id="tab1">
			<tr class="dark">
				<td><span class="number">No.</span><span class="Ques">Question</span><td>
			</tr>
            <tr class="white">
				<td>
                    <span class="number">1.</span><span class="Ques">请记下您所居住最久的的外国国家的名字。</span>
                    <span class="onelow">
                        <input type="text" name="countryname" value="在此输入..." class="tiankong" onfocus='if(this.value=="在此输入..."){this.value="";}; 'onblur='if(this.value==""){this.value="在此输入...";};'>
                    </span>
				</td>
			</tr>
			<tr class="light">
				<td>
				<span class="number">2.</span><span class="Ques">您在这个外国国家生活了多少年？</span>
				<span class="onelow">
				<span class="seclow"><input type="text" name="yearslong" value="在此输入..." class="tiankong" onfocus='if(this.value=="在此输入..."){this.value="";}; 'onblur='if(this.value==""){this.value="在此输入...";};'> &nbsp;年</span>
				</span>
				</td>
			</tr>
            <tr class="white" style="height: 35px;">
                <td></td>
            </tr>
        </table>

        <table id="tab2">
            <tr class="dark"><td>请选择最符合你情况的答案。</td></tr>
            <tr class="white">
				<td><span style="margin-left: 35px;">您同意或不同意以下声明的程度如何？</span><td>
			</tr>
            <tr class="white">
                <td><span style="margin-left: 35px;">1 =极不赞同; 7 =非常赞同</span></td>
            </tr>

            <tr class="light">
                <td>
                <span class="number">1.</span><span class="Ques">我了解这个国家的法律和经济制度。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="F1" value="1" ><label class="labpositionshort">1  </label></span>
                        <span class="seclow"><input type="radio" name="F1" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="F1" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="F1" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="F1" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="F1" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="F1" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white">
                    <td>
                    <span class="number">2.</span><span class="Ques">我知道在这个国家使用的语言的规则（如词汇，语法）。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="F2" value="1" ><label class="labpositionshort">1  </label></span>
                        <span class="seclow"><input type="radio" name="F2" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="F2" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="F2" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="F2" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="F2" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="F2" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                     </td>
            </tr>
            <tr class="light">
                <td>
                <span class="number">3.</span><span class="Ques">我了解这个国家的文化价值和宗教信仰。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="F3" value="1" ><label class="labpositionshort">1  </label></span>
                        <span class="seclow"><input type="radio" name="F3" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="F3" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="F3" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="F3" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="F3" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="F3" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white">
                    <td>
                    <span class="number">4.</span><span class="Ques">我了解这个国家的婚姻制度。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="F4" value="1" ><label class="labpositionshort">1  </label></span>
                        <span class="seclow"><input type="radio" name="F4" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="F4" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="F4" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="F4" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="F4" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="F4" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                     </td>
            </tr>
            <tr class="light">
                <td><form >
                <span class="number">5.</span><span class="Ques">我了解这个国家的艺术与工艺品。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="F5" value="1" ><label class="labpositionshort">1  </label></span>
                        <span class="seclow"><input type="radio" name="F5" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="F5" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="F5" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="F5" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="F5" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="F5" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white">
                    <td>
                    <span class="number">6.</span><span class="Ques">我知道在这个国家表达非言语行为的规则。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="F6" value="1" ><label class="labpositionshort">1  </label></span>
                        <span class="seclow"><input type="radio" name="F6" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="F6" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="F6" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="F6" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="F6" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="F6" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                     </td>
            </tr>
		</table>
	</div>
</form>
</body>
</html>