<!DOCTYPE html>
<html style="height: 100%" xmlns="http://www.w3.org/1999/html">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <title>pre-test</title>
</head>
<body>
<form method="post" action="{% url 'classification:PreAdd' %}">
{% csrf_token %}
	<div class="header">  <!-- logo部分 -->
		<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
			<p>Welcome to the Online Experiment</p>
		</div>
        {% if request.user.is_authenticated %}
            <label name="userid">{{ request.user.id }}</label>
        {% endif %}
        <input type="submit" name="" value="下一步" id="butt-next">
	</div>

	<div class="bannder4"></div>

	<div class="mainbody">
	  <div class="opptions">
		<p>请回答以下问题。</p>
		<table id="tab1">
			<tr class="dark">
				<td><span class="number">No.</span><span class="Ques">Question</span><td>
			</tr>
			<tr class="light">
				<td>
				<span class="number">1.</span><span class="Ques">你属于年龄组？</span>
				<span class="onelow">
				<span class="seclow"><input type="radio" name="age" value="<20" ><label class="labposition"> &lt;20  </label></span>
				<span class="seclow"><input type="radio" name="age" value="21-30"><label class="labposition">21-30</label></span>
				<span class="seclow"><input type="radio" name="age" value="31-40"><label class="labposition">31-40</label></span>
				<span class="seclow"><input type="radio" name="age" value="41-50"><label class="labposition">41-50</label></span>
				<span class="seclow"><input type="radio" name="age" value="&gt;51"><label class="labposition">&gt;51</label></span>
				</span>
				 </td>
			</tr>
			<tr class="white">
				<td><form>
				<span class="number">2.</span><span class="Ques">你的性别是什么？</span>
				<span class="onelow">
                        <span class="seclow"><input type="radio" name="sex" value="fmale" ><label class="labposition">女 </label></span>
                        <span class="seclow"><input type="radio" name="sex" value="male" ><label class="labposition">男</label></span>
                        <span class="seclow"><input type="radio" name="sex" value="other" ><label class="labposition">其他 </label></span>
				</span>
                </form></td>
			</tr>
			<tr class="light">
				<td>
                    <span class="number">3.</span><span class="Ques">你的国籍是什么？</span>
                    <span class="onelow">
                        <input type="text" name="national" value="在此输入..." class="tiankong" onfocus='if(this.value=="在此输入..."){this.value="";}; 'onblur='if(this.value==""){this.value="在此输入...";};'>
                    </span>
				</td>
			</tr>
			<tr class="white">
				<td>
                    <span class="number">4.</span><span class="Ques">你最高的教育水平是什么？</span>
                    <span class="onelow">
                    <span class="seclow"><input type="radio" name="edu" value="UG" ><label class="labposition"> 本科在读 </label></span>
                    <span class="seclow"><input type="radio" name="edu" value="Bachelor" ><label class="labposition"> 学士 </label></span>
                    <span class="seclow"><input type="radio" name="edu" value="MS"><label class ="labposition"> 硕士在读 </label></span>
                    <span class="seclow"><input type="radio" name="edu" value="Master"><label class ="labposition"> 硕士 </label></span>
                    <span class="seclow"><input type="radio" name="edu" value="DS"><label class ="labposition"> 博士在读 </label></span>
                    <span class="seclow"><input type="radio" name="edu" value="Doctorate"><label class ="labposition"> 博士 </label></span>
                    <span class="seclow"><input type="text" name="eduother" value="在此输入..." class="tiankong" onfocus='if(this.value=="在此输入..."){this.value="";}; 'onblur='if(this.value==""){this.value="在此输入...";};'></span>
                    </span>
                </td>
			</tr>
			<tr class="light">
				<td>
                    <span class="number">5.</span><span class="Ques">你有哪些专业知识？</span>
                    <span class="onelow">
                    <span class="seclow"><input type="checkbox" name="knowledge" value="CP" ><label class="labposition"> 计算机编程 </label></span>
                    <span class="seclow"><input type="checkbox" name="knowledge" value="DS" ><label class="labposition"> 设计服务 </label></span>
                    <span class="seclow"><input type="checkbox" name="knowledge" value="MA"><label class ="labposition"> 管理 </label></span>
                    <span class="seclow"><input type="checkbox" name="knowledge" value="TS"><label class ="labposition"> 技术服务 </label></span>
                    <span class="seclow"><input type="checkbox" name="knowledge" value="SR"><label class ="labposition"> 科学研究 </label></span>
                    <span class="seclow"><input type="checkbox" name="knowledge" value="EDU"><label class ="labposition"> 教育 </label></span>
                    <span class="seclow"><input type="text" name="knowother" value="在此输入..." class="tiankong"  onfocus='if(this.value=="在此输入..."){this.value="";}; 'onblur='if(this.value==""){this.value="在此输入...";};'></span>
                    </span>
				</td>
			</tr>
			<tr class="white">
				<td>
				    <span class="number">6.</span><span class="Ques">以下哪项最能描述你的角色？</span>
                    <span class="onelow">
                        <span class="seclow"><input type="checkbox" name="role" value="Manager" ><label class="labposition"> 经理</label></span>
                        <span class="seclow"><input type="checkbox" name="role" value="Student"><label class ="labposition"> 学生</label></span>
                        <span class="seclow"><input type="checkbox" name="role" value="Designer"><label class ="labposition"> 设计师 </label></span>
                        <span class="seclow"><input type="checkbox" name="role" value="Consultant"><label class ="labposition"> 顾问 </label></span>
                        <span class="seclow"><input type="checkbox" name="role" value="Researcher"><label class ="labposition"> 科研人员 </label></span>
                        <span class="seclow"><input type="checkbox" name="role" value="Programmer"><label class ="labposition"> 编程员 </label></span>
                        <span class="seclow"><input type="text" name="roleother" value="在此输入..." class="tiankong" onfocus='if(this.value=="在此输入..."){this.value="";}; 'onblur='if(this.value==""){this.value="在此输入...";};'></span>
				</span>
				</td>
			</tr>
			<tr class="light">
				<td>
				<span class="number">7.</span><span class="Ques">你有多少年的全职工作经验？</span>
				<span class="onelow">
				<span class="seclow"><input type="text" name="years" value="在此输入..." class="tiankong" onfocus='if(this.value=="在此输入..."){this.value="";}; 'onblur='if(this.value==""){this.value="在此输入...";};'> &nbsp;年</span>
				</span>
				</td>
			</tr>
			<tr class="white">
				<td><form >
					<span class="number">8.</span><span class="Ques">你参加过多少个设计项目（包括学生项目）？</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="pronu" value="" ><label class="labposition"> 0 </label></span>
                        <span class="seclow"><input type="radio" name="pronu" value=""><label class="labposition">&lt;3</label></span>
                        <span class="seclow"><input type="radio" name="pronu" value=""><label class="labposition">3-5</label></span>
                        <span class="seclow"><input type="radio" name="pronu" value=""><label class="labposition">6-10</label></span>
                        <span class="seclow"><input type="radio" name="pronu" value=""><label class="labposition">11-15</label></span>
                        <span class="seclow"><input type="radio" name="pronu" value=""><label class="labposition">&gt;15</label></span>
                    </span>
				</form></td>
			</tr>
			<tr class="light">
				<td><form>
                    <span class="number">9.</span><span class="Ques">你有没有参加任何与设计有关的课程或讲座或研讨会？</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="cours" value="Y" ><label class="labposition"> 是</label></span>
                        <span class="seclow"><input type="radio" name="cours" value="N"><label class="labposition">否</label></span>
                    </span>
				</form></td>
			</tr>
			<tr class="white">
				<td><form>
				<span class="number">10.</span><span class="Ques">在设计过程中，您是否曾经使用过任何设计技术（设计技术意味着根据特定的程序来进行设计活动）？</span>
				<span class="onelow">
				<span class="seclow"><input type="radio" name="tech" value="1" ><label class="labposition"> 是</label></span>
				<span class="seclow"><input type="radio" name="tech" value="2"><label class="labposition">否</label></span>
                </span>
				</form> </td>
			</tr>
			<tr class="light">
				<td><form >
				<span class="number">11.</span><span class="Ques">请选择您熟悉的设计技术？</span>
				<span class="onelow">
				<span class="seclow"><input type="checkbox" name="samtech" value="Persona" ><label class="labposition"> 角色模型</label></span>
				<span class="seclow"><input type="checkbox" name="samtech" value="Scenario"><label class ="labposition"> 场景</label></span>
				<span class="seclow"><input type="checkbox" name="samtech" value="ThinkAloud"><label class ="labposition"> 出声思考 </label></span>
				<span class="seclow"><input type="checkbox" name="samtech" value="KanoAnalysis"><label class ="labposition"> 卡诺分析 </label></span>
				<span class="seclow"><input type="checkbox" name="samtech" value="RolePlaying"><label class ="labposition"> 角色扮演 </label></span>
				<span class="seclow"><input type="checkbox" name="samtech" value="Behavior"><label class ="labposition"> 行为地图 </label></span>
				<span class="seclow"><input type="checkbox" name="samtech" value="None"><label class ="labposition"> 以上都不是 </label></span>
				</span>
				</form></td>
			</tr>
			<tr style="height: 25px; background-color: white;" >
				<td>
					
				</td>
			</tr>
		</table>

		<table id="tab2">
			<tr class="dark">
				<td><span style="margin-left: 35px;">您同意或不同意以下声明的程度如何？ 1 =极不赞同; 7 =非常赞同</span><td>
			</tr>
            <tr class="light">
                    <td><form>
                    <span class="number">1.</span><span class="Ques">我对设计技术非常了解。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que1" value="1" ><label class="labposition">1</label></span>
                        <span class="seclow"><input type="radio" name="que1" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que1" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que1" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que1" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que1" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que1" value="7"><label class="labposition">7</label></span>
                    </span>
                    </form> </td>
            </tr>
            <tr class="white">
                <td><form >
                <span class="number">2.</span><span class="Ques">在一个团队中，我是使用设计技术的专家之一。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que2" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que2" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que2" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que2" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que2" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que2" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que2" value="7"><label class="labposition">7</label></span>
                    </span>
                </form></td>
            </tr>
            <tr class="light">
                    <td><form>
                    <span class="number">3.</span><span class="Ques">与团队中的大多数成员相比，我对设计技术知之甚少。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que3" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que3" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que3" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que3" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que3" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que3" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que3" value="7"><label class="labposition">7</label></span>
                    </span>
                    </form> </td>
            </tr>
            <tr class="white">
                <td><form >
                <span class="number">4.</span><span class="Ques">当使用设计技术时，我真的不知道很多。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que4" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que4" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que4" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que4" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que4" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que4" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que4" value="7"><label class="labposition">7</label></span>
                    </span>
                </form></td>
            </tr>
            <tr class="light">
                    <td><form>
                    <span class="number">5.</span><span class="Ques">我对设计技术不是很了解。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que5" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que5" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que5" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que5" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que5" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que5" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que5" value="7"><label class="labposition">7</label></span>
                    </span>
                    </form> </td>
            </tr>
            <tr class="white">
                <td><form >
                <span class="number">6.</span><span class="Ques">我有很多设计技术的经验。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que6" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que6" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que6" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que6" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que6" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que6" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que6" value="7"><label class="labposition">7</label></span>
                    </span>
                </form></td>
            </tr>
            <tr class="light">
                    <td><form>
                    <span class="number">7.</span><span class="Ques">我对设计技术很熟悉。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que7" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que7" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que7" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que7" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que7" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que7" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que7" value="7"><label class="labposition">7</label></span>
                    </span>
                    </form> </td>
            </tr>
            <tr class="white">
                <td><form >
                <span class="number">8.</span><span class="Ques">在解决问题时，我把重点放在对象，属性，类别上。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que8" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que8" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que8" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que8" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que8" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que8" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que8" value="7"><label class="labposition">7</label></span>
                    </span>
                </form></td>
            </tr>
            <tr class="light">
                    <td><form>
                    <span class="number">9.</span><span class="Ques">在解决问题时，我运用基于类别的规则来预测和解释对象的行为。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que9" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que9" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que9" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que9" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que9" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que9" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que9" value="7"><label class="labposition">7</label></span>
                    </span>
                    </form> </td>
            </tr>
            <tr class="white">
                <td><form >
                <span class="number">10.</span><span class="Ques">我发现很容易学习类别。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que10" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que10" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que10" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que10" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que10" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que10" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que10" value="7"><label class="labposition">7</label></span>
                    </span>
                </form></td>
            </tr>
            <tr class="light">
                    <td><form>
                    <span class="number">11.</span><span class="Ques">解决问题时，我根据功能组织事物。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que11" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que11" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que11" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que11" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que11" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que11" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que11" value="7"><label class="labposition">7</label></span>
                    </span>
                    </form> </td>
            </tr>
            <tr class="white">
                <td><form >
                <span class="number">12.</span><span class="Ques">在解决问题的时候，我使用正式的逻辑进行推理，制定分类，并运用和合理化规则。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que12" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que12" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que12" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que12" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que12" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que12" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que12" value="7"><label class="labposition">7</label></span>
                    </span>
                </form></td>
            </tr>
            <tr class="light">
                    <td><form>
                    <span class="number">13.</span><span class="Ques">当逻辑和经验知识发生冲突时，我通常坚持正式的逻辑规则。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que13" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que13" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que13" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que13" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que13" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que13" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que13" value="7"><label class="labposition">7</label></span>
                    </span>
                    </form> </td>
            </tr>
            <tr class="white">
                <td><form >
                <span class="number">14.</span><span class="Ques">我解释个人的行为是由于他们的性格或个性。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que14" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que14" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que14" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que14" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que14" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que14" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que14" value="7"><label class="labposition">7</label></span>
                    </span>
                </form></td>
            </tr>
            <tr class="light">
                    <td><form>
                    <span class="number">15.</span><span class="Ques">在解决问题的时候，我把重点放在物体周围的环境。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que15" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que15" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que15" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que15" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que15" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que15" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que15" value="7"><label class="labposition">7</label></span>
                    </span>
                    </form> </td>
            </tr>
            <tr class="white">
                <td><form >
                <span class="number">16.</span><span class="Ques">在解决问题的时候，我使用的是很少的通用规则。我认为一个物体的行为是由周围环境中的情况和因素来解释的。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que16" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que16" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que16" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que16" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que16" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que16" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que16" value="7"><label class="labposition">7</label></span>
                    </span>
                </form></td>
            </tr>
            <tr class="light">
                    <td><form>
                    <span class="number">17.</span><span class="Ques">我发现很难学习类别。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que17" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que17" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que17" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que17" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que17" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que17" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que17" value="7"><label class="labposition">7</label></span>
                    </span>
                    </form> </td>
            </tr>
            <tr class="white">
                <td><form >
                <span class="number">18.</span><span class="Ques">在解决问题的时候，我更喜欢以主题来组织事物（例如，使用上下文或环境作为识别相似性的基础）。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que18" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que18" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que18" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que18" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que18" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que18" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que18" value="7"><label class="labposition">7</label></span>
                    </span>
                </form></td>
            </tr>
            <tr class="light">
                    <td><form>
                    <span class="number">19.</span><span class="Ques">在解决问题的时候，我比较喜欢综合的辩证推理。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que19" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que19" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que19" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que19" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que19" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que19" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que19" value="7"><label class="labposition">7</label></span>
                    </span>
                    </form> </td>
            </tr>
            <tr class="white">
                <td><form >
                <span class="number">20.</span><span class="Ques">我更喜欢可以接受矛盾的逻辑。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que20" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que20" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que20" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que20" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que20" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que20" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que20" value="7"><label class="labposition">7</label></span>
                    </span>
                </form></td>
            </tr>
            <tr class="light">
                    <td><form>
                    <span class="number">21.</span><span class="Ques">我把人们的行为解释为情境外力的结果。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que21" value="1" ><label class="labposition">1  </label></span>
                        <span class="seclow"><input type="radio" name="que21" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="que21" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="que21" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="que21" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="que21" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="que21" value="7"><label class="labposition">7</label></span>
                    </span>
                    </form> </td>
            </tr>
		</table>
	</div>
	</div>
</form>
</body>
</html>