<!DOCTYPE html>
<html style="height: 100%" xmlns="http://www.w3.org/1999/html">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <title>pre-test</title>
</head>
<body>
<form method="post" action="{% url 'classification:ChPreAdd1' %}">
{% csrf_token %}
	<div class="header">  <!-- logo部分 -->
		<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
			<p>Welcome to the Online Experiment</p>
		</div>
        {% if request.user.is_authenticated %}
            <label name="userid">{{ request.user.id }}</label>
        {% endif %}
        <input type="submit" name="" value="下一步" id="butt-next">
	</div>

	<div class="bannder4"></div>

	<div class="mainbody">
	  <div class="opptions">
          <br/>
		<p>请回答以下问题。</p>

		<table id="tab2">
            <tr class="dark">
				<td><span style="margin-left: 35px;">设计技术相关知识</span><td>
			</tr>
			<tr class="white">
				<td><span style="margin-left: 35px;">您同意或不同意以下声明的程度如何？ </span><td>
			</tr>
            <tr class="white">
            <td><span style="margin-left: 35px;">1 =极不赞同; 7 =非常赞同</span><td>
            </td>
            <tr class="light">
                    <td>
                    <span class="number">1.</span><span class="Ques">我对设计技术非常了解。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que11" value="1" ><label class="labpositionshort">1</label></span>
                        <span class="seclow"><input type="radio" name="que11" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="que11" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="que11" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="que11" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="que11" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="que11" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                    </td>
            </tr>
            <tr class="white">
                <td>
                <span class="number">2.</span><span class="Ques">在一个团队中，我是使用设计技术的专家之一。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que12" value="1" ><label class="labpositionshort">1</label></span>
                        <span class="seclow"><input type="radio" name="que12" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="que12" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="que12" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="que12" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="que12" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="que12" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="light">
                    <td>
                    <span class="number">3.</span><span class="Ques">与团队中的大多数成员相比，我对设计技术知之甚少。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que13" value="1" ><label class="labpositionshort">1  </label></span>
                        <span class="seclow"><input type="radio" name="que13" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="que13" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="que13" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="que13" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="que13" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="que13" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                    </td>
            </tr>
            <tr class="white">
                <td>
                <span class="number">4.</span><span class="Ques">当使用设计技术时，我真的不知道很多。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que14" value="1" ><label class="labpositionshort">1</label></span>
                        <span class="seclow"><input type="radio" name="que14" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="que14" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="que14" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="que14" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="que14" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="que14" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="light">
                    <td>
                    <span class="number">5.</span><span class="Ques">我对设计技术不是很了解。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que15" value="1" ><label class="labpositionshort">1</label></span>
                        <span class="seclow"><input type="radio" name="que15" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="que15" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="que15" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="que15" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="que15" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="que15" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                     </td>
            </tr>
            <tr class="white">
                <td>
                <span class="number">6.</span><span class="Ques">我有很多设计技术的经验。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que16" value="1" ><label class="labpositionshort">1</label></span>
                        <span class="seclow"><input type="radio" name="que16" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="que16" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="que16" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="que16" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="que16" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="que16" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="light">
                    <td>
                    <span class="number">7.</span><span class="Ques">我对设计技术很熟悉。</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="que17" value="1" ><label class="labpositionshort">1  </label></span>
                        <span class="seclow"><input type="radio" name="que17" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="que17" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="que17" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="que17" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="que17" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="que17" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                     </td>
            </tr>
		</table>
	</div>
	</div>
</form>
</body>
</html>