<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="../CSS/body.css"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="../JS/myscript.js"></script>
    <title>Tag Cloud</title>
</head>
<body onload="time_fun()">
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="../img/kit2.png">
				<p>Welcome to the Online Experiment</p>
			</div>

			<div class="timing">
 			<span>Time</span><span id="mytime">0 min 00 sec</span>
 			</div>
 			
			<input type="button" name="" value="下一步" onclick="" id="queren">
	</div>

	<div class="bannder1">
		
	</div>

	<div class="mainbody">
		<div class="top-down">  <!-- Taxonomy部分 -->
			<dl>
				<dd>User Research</dd>
				<dd>Idea Generation</dd>
				<dd>Information Organization</dd>
				<dd>Feedback Collection</dd>
				<dd>Prototype evaluation</dd>
				<dd>Prototyping</dd>
				<dd>Evaluation</dd>
				<dd>Expert participation</dd>
				<dd>Product Evaluation</dd>
				<dd>Collaboration with stakeholders</dd>
				<dd>User participation</dd>
				<dd>Short term duration</dd>
				<dd>Long term duration</dd>
				<dd>UX Evaluation</dd>
				<dd>Mid term duration</dd>
				<dd>Relationship and Dependency</dd>
				<dd>User simulation</dd>
				<dd>User participation (user group)</dd>
				<dd>Flexible time length</dd>
				<dd>Feedback collection (offline)</dd>
				<dd>Feedback collection (online)</dd>
				<dd>Project Organization</dd>
				<dd>Data Collection</dd>
				<dd>Observation</dd>
			</dl>
		</div>  	

		<div class="teches">   <!-- Technoloqie部分 -->
			<table>
				<tr>
					<td onclick=""><div class="tech">
						<h4>3-12-3 Brainstorming</h4>
						<p>enables a group (not exceed 10 group members) to focus on generating, collecting, and discussing ideas.
						</p>
					</div></td>
					<td><div class="tech">
						<h4>3E- Expressing Emotion and Experience</h4>
						<p>seeks to collect users’ emotion feedback after using a product or a service by writing and drawing on a 3E template.
						</p>
					</div></td>
					<td><div class="tech">
						<h4>6-3-5 Brainwriting</h4>
						<p>seeks to develop 108 ideas by silent writing or sketching in 30 minutes within a group of six participants.</p>
					</div></td>
					<td><div class="tech">
						<h4>A/B Testing</h4>
						<p>seeks to compare two versions of a design to see which one can meet the business goal.</p>
					</div></td>
				</tr>
				<tr>
					<td><div class="tech">sjlgajlkgjak</div></td>
					<td><div class="tech">rhgsaigyawhe</div></td>
					<td><div class="tech">dfhsfh</div></td>
				</tr>
				<tr>
					<td><div class="tech">
						<h4>3-12-3 Brainstorming</h4>
						<p>3-12-3 Brainstorming is a time-limited brainstorming technique, which enables a group (not exceed 10 group members) to focus on generating.</p>
					</div></td>
					<td><div class="tech">kgyufhv</div></td>
					<td><div class="tech">dfhsfh</div></td>
				</tr>
				<tr>
					<td><div class="tech">
						<h4>3-12-3 Brainstorming</h4>
						<p>3-12-3 Brainstorming is a time-limited brainstorming technique, which enables a group (not exceed 10 group members) to focus on generating.</p>
					</div></td>
					<td><div class="tech">rhgsaigyawhe</div></td>
					<td><div class="tech">dfhsfh</div></td>
				</tr>
				<tr>
					<td><div class="tech">
						<h4>3-12-3 Brainstorming</h4>
						<p>3-12-3 Brainstorming is a time-limited brainstorming technique, which enables a group (not exceed 10 group members) to focus on generating.</p>
					</div></td>
					<td><div class="tech">rhgsaigyawhe</div></td>
					<td><div class="tech">dfhsfh</div></td>
				</tr>
				<tr>
					<td><div class="tech">
						<h4>3-12-3 Brainstorming</h4>
						<p>3-12-3 Brainstorming is a time-limited brainstorming technique, which enables a group (not exceed 10 group members) to focus on generating.</p>
					</div></td>
					<td><div class="tech">rhgsaigyawhe</div></td>
					<td><div class="tech">dfhsfh</div></td>
				</tr>
			</table>
		</div>

		<div class="selected" >  
 			<div class="taskdiscription">
 				<p>Task 1</p>
 			</div>
 			
 			<div class="biaoge">
 				<form method="post" action="">
 					<dl>
						<dt>The selected design techniques will be appeared here：</dt>
						<dd>brainstrodgfadfagme</dd>
						<dd>brainstddfrome</dd>
						<dd>Brainstorming</dd>
						<dd>brainstromdgae</dd>
						<dd>brgae</dd>
						<dd>brainstromdgae</dd>
						<dd>brainstdgae</dd>
						<dd>brainae</dd>
					</dl>
					<input type="button" name="" value="确认选择" onclick="" id="queren">
				</form>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
	<div class="feet">
		
	</div>
</body>
</html>