<!DOCTYPE html>
<html style="overflow-y: hidden;">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <title>TaskDetail 1</title>
</head>
<body>
<form action="{% url 'classification:SwitchCH' %}" method="post" class="longform">
{% csrf_token %}
    <div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
			<input type="submit" name="" value="下一步" onclick="jumpcn3()" id="butt-next">
	</div>

	<div class="bannder12">
		
	</div>

	<div class="questionspage">
    <div class="index-instru" style="margin-top: 15%;">
        {% for task in taskdes %}
            {% if task.id == 1 %}
            <p>您现在在开发一个用于预订电影票的移动应用程序的团队中工作。<p/>
            {% endif %}
            <h3 style="margin-left: 0px;">任务 {{ task.id }}</h3>
            <p>{{ task.Description }}</p>
        {% endfor %}
        <p>请使用以下网页为此任务选择三个设计技术。</p>
	</div>
    </div>
</form>
</body>
</html>