<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/html">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/task.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{% static 'JS/myscript.js' %}"></script>

    <title>Top-Down</title>
</head>
<body onload="time_funch()">
	<form method="post" action="{% url 'classification:T_Addtech2' %}" onsubmit="return check()">
    {% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
			<div class="timing">
 			<span>您还剩</span>	<span id="mytime">0 分 00 秒</span>
 			</div>
            {% if request.user.is_authenticated %}
                <label>{{ request.user.id }}</label>
            {% endif %}
			<input type="submit" name="" value="下一步" id="queren" >
	</div>

	<div class="bannder8" style="">
		
	</div>

	<div class="mainbody">
		<div class="top-down">  <!-- Taxonomy部分 -->
				<dl>
                    <dt>设计阶段</dt>
                    {% for attri in attribut1 %}
                        <dd onclick="showtop1()" class="{% ifequal design_id attri.id|stringformat:"i"  %}active2{% endifequal %}"><a onclick="showtop1();" class="taga" href="?design={{ attri.id }}&dependency={{ dependency_id }}&duration={{ duration_id }}&participant={{ participant_id }}&evaluation={{ evaluation_id }}"> {{ attri.Design_Name }}</a><a id="top1" href="?dependency={{ dependency_id }}&duration={{ duration_id }}&participant={{ participant_id }}&evaluation={{ evaluation_id }}"><img  class="hiddeimg" src="{% static 'img/chacha3.png' %}"></a></dd>
                    {% endfor %}

					<dt>时间依赖性</dt>
                    {% for attri in attribut2  %}
                       <dd onclick="showtop2()" class="{% ifequal dependency_id attri.id|stringformat:"i" %}active2{% endifequal %}"><a href="?dependency={{ attri.id }}&design={{ design_id }}&duration={{ duration_id }}&participant={{ participant_id }}&evaluation={{ evaluation_id }}">{{ attri.Dependency_Name }}</a><a  id="top2" href="?design={{ design_id }}&duration={{ duration_id }}&participant={{ participant_id }}&evaluation={{ evaluation_id }}"><img  class="hiddeimg" src="{% static 'img/chacha3.png' %}"></a></dd>
                    {% endfor %}

					<dt>持续时间</dt>
                    {% for attri in attribut3 %}
                       <dd onclick="showtop3()" class="{% ifequal duration_id attri.id|stringformat:"i" %}active2{% endifequal %}"> <a href="?duration={{ attri.id }}&design={{ design_id }}&dependency={{ dependency_id }}&participant={{ participant_id }}&evaluation={{ evaluation_id }}">{{ attri.Duration_Name }}</a><a  id="top3" href="?design={{ design_id }}&dependency={{ dependency_id }}&participant={{ participant_id }}&evaluation={{ evaluation_id }}"><img class="hiddeimg" src="{% static 'img/chacha3.png' %}"></a></dd>
                    {% endfor %}

                    <dt>用户参与情况</dt>
                    {% for attri in attribut4 %}
                            <dd onclick="showtop4()" class="{% ifequal participant_id attri.id|stringformat:"i" %}active2{% endifequal %}"><a href="?participant={{ attri.id }}&design={{design_id }}&dependency={{ dependency_id }}&duration={{ duration_id }}&evaluation={{ evaluation_id }}">{{ attri.Participation_Name }}</a><a  id="top4" href="?design={{design_id }}&dependency={{ dependency_id }}&duration={{ duration_id }}&evaluation={{ evaluation_id }}"><img  class="hiddeimg" src="{% static 'img/chacha3.png' %}"></a></dd>
                    {% endfor %}

					<dt>评估类型</dt>
                        {% for attri in attribut5 %}
                            <dd onclick="showtop5()" class="{% ifequal evaluation_id attri.id|stringformat:"i" %}active2{% endifequal %}"><a href="?evaluation={{ attri.id }}&design={{ design_id }}&dependency={{ dependency_id }}&duration={{ duration_id }}&participant={{ participant_id }}">{{ attri.Evaluation_Name }}</a><a id="top5" href="?design={{ design_id }}&dependency={{ dependency_id }}&duration={{ duration_id }}&participant={{ participant_id }}"><img  class="hiddeimg" src="{% static 'img/chacha3.png' %}"></a></dd>
                        {% endfor %}
				</dl>
		</div>  

		<div class="teches" >
            {% for tech in all_techch %}
                <div class="postcard">
					<div class="lantian">
					<h4 class="biaoti">{{ tech.Tech_Name }}</h4><img class="topshow" src="{% static 'img/plus1.png' %}"
							onclick="addtech(this)">
					</div>
					<div class="contented">
						<p>{{ tech.Short_Description }}</p>
						<div class="showed">
							<p>{{ tech.Long_Description|linebreaksbr }}</p>
						</div>
					</div>
				</div>
            {% endfor %}
		</div>

		<div class="selected" >
 			<div class="taskdiscription">
                {% for task in task %}
                    <h4>任务 {{ task.id }}</h4>
 				<p class="bb">{{ task.Description }}</p>
                {% endfor %}
 			</div>
 			
 			<div class="biaoge">
 				<form method="post" action="">
 					<dl>
 					<dt>您可以使用左侧的类别来选择设计技术。</dt>
					<dt>请选择3个设计技术。</dt>
					<dt class="tone">请点击“+”，所选的设计技术将出现在这里。</dt>
					<dd id="sam1"><input type="text" id="same1" name="selectedone" class="tijiao"><img id="same11" src="{% static 'img/chacha3.png' %}"  onclick="Delete(1);"></dd>
					<dd id="sam2"><input type="text" id="same2" name="selectedtwo" class="tijiao"><img id="same22" src="{% static 'img/chacha3.png' %}"  onclick="Delete(2);"></dd>
					<dd id="sam3"><input type="text" id="same3" name="selectedthree" class="tijiao"><img id="same33" src="{% static 'img/chacha3.png' %}"  onclick="Delete(3);"></dd>
					</dl>
				</form>
			</div>
		</div>
		<div style="clear:both"></div>
    </div>
    </form>
</body>
</html>