<!DOCTYPE html>
<html style="overflow: hidden;  width: 100%;  height: 100%;">
{% load staticfiles %}
<head>
     <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/task.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <title>Blank</title>
</head>
<body onload="time_funch()">
	<form method="post" action="{% url 'classification:B_Addtech1' %}" onsubmit="return check()">
    {% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
			<div class="timing">
 			<span>您还剩</span>	<span id="mytime">0 分 00 秒</span>
 			</div>
			<input type="submit" name="" value="下一步" id="queren" >
	</div>

	<div class="bannder7">
		
	</div>

	<div class="mainbody">
		<div class="bottomup">  <!-- Taxonomy部分 -->
			<dl id="notshow">
				<dt>Participant</dt>
					<dd class="bottomin">User</dd>
					<dd class="bottomin">Stakeholder</dd>
					<dd class="bottomin">Expert</dd>
				</dl>
		</div> 
		
		<div class="teches">
            {% for teches in tech %}
                <div class="postcard">
					<div class="lantian">
					<h4 class="biaoti">{{ teches.Tech_Name }}</h4><img class="topshow" src="{% static 'img/plus1.png' %}"
							onclick="addtech(this)">
					</div>
					<div class="contented">
						<p>{{ teches.Short_Description }}</p>
						<div class="showed">
							<p>{{ teches.Long_Description|linebreaksbr }}</p>
						</div>
					</div>
				</div>
            {% endfor %}
		</div>

		<div class="selected">  
 			<div class="taskdiscription">
                {% for task1 in task %}
 				<h4 class="aa">任务 {{ task1.id }}</h4>
 				<p class="bb">{{ task1.Description }}</p>
                {% endfor %}
 			</div>
 			
 			<div class="biaoge">
 					<dl>
 					<dt>您可以使用左侧的类别来选择设计技术。</dt>
					<dt>请选择3个设计技术。</dt>
					<dt class="tone">请点击“+”，所选的设计技术将出现在这里。</dt>
					<dd id="sam1"><input type="text" id="same1" class="tijiao" name="selectedone"><img  id="same11" src="{% static 'img/chacha3.png' %}"  onclick="Delete(1);"></dd>
					<dd id="sam2"><input type="text" id="same2" class="tijiao" name="selectedtwo"><img  id="same22" src="{% static 'img/chacha3.png' %}"   onclick="Delete(2);"></dd>
					<dd id="sam3"><input type="text" id="same3" class="tijiao" name="selectedthree"><img  id="same33" src="{% static 'img/chacha3.png' %}"  onclick="Delete(3);"></dd>
					</dl>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
	<div class="feet">
		
	</div>
</form>
</body>
</html>
