<!DOCTYPE html>
<html style="overflow-y: hidden;">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="{% static 'JS/index.js' %}"></script>
    <title>Introduction</title>
</head>
<body>
<form method="post" action="{% url 'classification:Chintroblank' %}" onsubmit="return remindingb()" class="introde-form">
{% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
             <input type="submit" name="" value="下一步" id="butt-next" >
	</div>

	<div class="bannder11">
	</div>
	<div class="introde-page">
		<p>您真的了解该网页如何使用了吗？请点击<span id="sti">“再看一遍”</span>重新学习如何使用该网页</p>
		<div class="back-blanking">
	  		<div><input type="button" name="" value="显示介绍" id="showbutttest" onclick="removebuttonbiging()"></div>
            <div style="margin-top:-35%;margin-left:-5%;">
              <input type="button" name="" value="再看一遍" id="showbig" onclick="removebuttonbig()">
            </div>


	   		<div id="part2Bing">
		  		<p>在这一区域，包括50个设计技术。 所有设计技巧都以卡片形式呈现。<br/>
				请点击“+”，选择设计技巧。 所选的设计技术将出现在网页的底部。<br/>
				您只能为每个任务选择三种设计技术。</p>
		  		<input type="button" name="" value="Next" id="pbutton2" class="bbotton" onclick="showpart4()">
	  		</div>

	  		<div id="part3S" style="margin-top: -36%;">
		  		<p>任务将出现在这个区域作为提醒。 在您进入网页选择设计技术之前，该任务的描述就已经被介绍了。</p>  		
	  		</div>
	  		
	  		<div id="part4" style="margin-top: -15%;">
		  		<p>所选的设计技术将出现在这个区域。</p>
		  		<input type="button" name="" value="Next" id="pbutton3" class="bbotton" onclick="showpart3S()">
	  		</div>
        </div>
    </div>
</form>
</body>
</html>