<!DOCTYPE html>
<html >
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <title>Index</title>
</head>
<body>
<form method="post" action="{% url 'classification:Deinstro' %}">
    {% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
	</div>

	<div class="bannder1">

	</div>

	<div style="" class="questionspage" >
        <div class="index" style="width: 800px;">
		<p>Vielen Dank für die Teilnahme an unserem Online-Experiment. Die Durchführung des Experimentes dauert ca. 10 Minuten.  </p>

        <p>Ihre Antworten werden vertraulich und anonym behandelt. Die Daten aus dieser Untersuchung werden unter Verschluss gehalten und nur auf aggregierter Ebene ausgewiesen. Niemand außer den beteiligten Wissenschaftlerinnen wird Zugriff auf Ihre individuellen Antworten bekommen.</p>

		<p>Wenn Sie sich bereit erklären, an unserem Forschungsprojekt teilzunehmen, beantworten Sie bitte die Fragen so exakt und vollständig wie möglich. Vielen Dank für Ihre Mithilfe bei diesem Forschungsprojekt.</p>

		<p>Bitte klicken Sie auf "Weiter" um zur nächsten Seite zu gelangen.</p>
</div>
        <input type="submit" class="tesinput" value="Weiter"  id="butt-next">
	</div>
</form>
</body>
</html>