<!DOCTYPE html>
<html >
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>Instruction</title>
</head>
<body>
<form method="post" action="{% url 'classification:LogDe' %}">
    {% csrf_token %}

	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
			<input type="submit" name="" value="Weiter" onclick="" id="butt-next">
	</div>

	<div class="bannder2">
		
	</div>

	<div class="mainde">
		<div class="instructionde" >
				<p>Anweisung:</p>
				<p>Das Online-Experiment besteht aus drei Schritten:</p>

                <h4>Schritt 1. Registrierung</h4>
            	<p>Auf der nächsten Seite müssen Sie sich für das Online-Experiment registrieren. Sie können entweder eine E-Mail-Adresse oder Zufallszahlen verwenden, um sich zu registrieren.</p>

				<h4>Schritt 2. Fragebogen</h4>
				<p>Nach der Registrierung füllen Sie zunächst bitte einen kurzen Fragebogen aus.</p>

				<h4>Schritt 3. Aufgabenbearbeitung  </h4>
				<p>Sie erhalten eine Aufgabe. Das Ziel der Aufgabe ist, geeignete Designtechniken für unterschiedliche Designsituationen auszuwählen. Designtechniken bedeuten, dass Sie einem bestimmten Verfahren folgen, um Designaktivitäten systematisch durchzuführen. </p><br/>

				<p>Nach jeder Aufgabe folgt ein kurzer Fragebogen.</p>
		</div>
	</div>
    </form>
</body>
</html>