<!DOCTYPE html>
<html style="overflow-y:hidden;">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>Instruction</title>
</head>
<body >
<form method="post" action="{% url 'classification:LogDe' %}" class="longform">
    {% csrf_token %}

	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}" >
				<p>Welcome to the Online Experiment</p>
			</div>

	</div>

	<div class="bannder2">
		
	</div>

	<div class="questionspage">
		<div class="index-instru" >
            <br/>
            <br/>
				<p>Anweisung:</p>
				<p>Das Online-Experiment besteht aus drei Schritten:</p>

                <h4>Schritt 1. Registrierung</h4>
            	<p>Auf der nächsten Seite müssen Sie sich für das Online-Experiment registrieren. Sie können entweder eine E-Mail-Adresse oder Zufallszahlen verwenden, um sich zu registrieren.</p>

				<h4>Schritt 2. Fragebogen</h4>
				<p>Nach der Registrierung füllen Sie zunächst bitte einen kurzen Fragebogen aus.</p>

				<h4>Schritt 3. Aufgabebearbeitung  </h4>
				<p>Sie erhalten eine Aufgabe. Das Ziel der Aufgabe ist, geeignete Designtechniken für unterschiedliche Designsituationen auszuwählen. Designtechniken bedeuten, dass Sie einem bestimmten Verfahren folgen, um Designaktivitäten systematisch durchzuführen. </p><br/>
		</div>
        <input type="submit" style="margin-top: 5px;" class="tesinput" value="Weiter" onclick="" id="butt-next">
	</div>
    </form>
</body>
</html>