<!DOCTYPE html>
<html >
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="../../CSS/body.css"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>Instruction</title>
</head>
<body>
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="../../img/kit2.png">
				<p>Welcome to the Online Experiment</p>
			</div>
			<input type="button" name="" value="Next" onclick="" id="butt-next">
	</div>

	<div class="bannder2">
		
	</div>

	<div class="main">
		<div class="instruction">
				<p>Instruction:</p>
				<p>Die online experiment includes four steps</p></br>

                <p>Step 1. Register</p>
            	<p>On the next page, you need to register the online experiment, you can either use an email address or a random number to register.</p></br>

				<p>Step 2. A questionnaire</p>
				<p>After registering the experiment, you will at first fill out a short questionnaire with XX questions.</p></br>

				<p>Step 3. Three tasks</p>
				<p>Three tasks will present to you and you need to use the online.</p></br>

				<p>Step 4. A questionnaire</p>
				<p>After finishing the three tasks, you will fill out a questionnaire with XX questions.</p></br>
		</div>
	</div>
</body>
</html>