<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="../../CSS/body.css"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="../../JS/myscript.js"></script>
    <title>Introduction</title>
</head>
<body>
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="../../img/kit2.png">
				<p>Welcome to the Online Experiment</p>
			</div>
			<input type="button" name="" value="Next" id="butt-next" onclick="reminding()">
	</div>

	<div class="bannder5">
		
	</div>

	<div class="mainbody">
		<p>Before starting the first task, please have a look at the following introduction of the way of using the website.</p>
		<p>The task is presented to you before the webpage for selecting design techniques appear. </p>
	  	<div class="backtest">
	  		<input type="button" name="" value="Show the instruction" id="showbutton" onclick="removebutton()">

	  		<div id="part1">
	  			<p>In this eare you will find </p>
	  			<input type="button" name="" value="next" id="pbutton1" onclick="showpart2()">
	  		</div>

	   		<div id="part2">
		  		<p>ahkdghawirghakls</p>
		  		<input type="button" name="" value="next" id="pbutton2" onclick="showpart3()">
	  		</div>

	  		<div id="part3">
		  		<p>ahkdghawirghakls</p>
		  		<input type="button" name="" value="next" id="pbutton3" onclick="showpart4()">
	  		</div>
	  		
	  		<div id="part4">
		  		<p>ahkdghawirghakls</p>
		  		<input type="button" name="" value="next" id="pbutton4" onclick="">
	  		</div>
	  </div>
</body>
</html>