<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="../../CSS/body.css"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js"></script>
    <script src="../../JS/myscript.js"></script>
    <title>Login</title>
</head>
<body>
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="../../img/kit2.png">
				<p>Welcome to the Online Experiment</p>
			</div>
			<input type="button" name="" value="Next" id="butt-next" onclick="showregister()">
	</div>

	<div class="bannder3">
		
	</div>

	<div class="main">  <!-- logo部分 -->
		<div class="instruction">
			<p>Please use your email address or a random number to register. As the three tasks have correct answer, we expected you to answer the questions as best you can.</p>
			<p>If you register with your email address, we will choose the top 10% participants and they will be rewarded with a XX gift card upon XXX.</p>
			<div class="log_in">
				<form method="post" action="">
				<input type="text"  name="username" id="username" value="Email/Random Number" onfocus='if(this.value=="Email/Random Number"){this.value="";}; 'onblur='if(this.value==""){this.value="Email/Random Number";};'/>
				</form>
			</div>
		</div>
	</div>
</body>
</html>