<!DOCTYPE html>
<html style="overflow-y: hidden;">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <title>Login</title>
</head>
<body>
<form method="post" action="{% url 'classification:LoginDe' %}">
    {% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>

	</div>

	<div class="bannder3">
		
	</div>

	  <!-- logo部分 -->
		<div class="log-in">
            <div class="logp">
			<p>Bitte verwenden Sie Ihre E-Mail-Adresse oder Zufallszahlen, um sich zu registrieren. </p>
			<p>Wir bitten Sie die Fragen so gut wie möglich zu beantworten. Wenn Sie sich mit Ihrer E-Mail-Adresse anmelden, wählen wir zufällig aus den besten 10% der Teilnehmer aus. Diese erhalten ein kleines Geschenk von uns.</p>
            </div>
            <div class="log_in">
                <div class="log_input">
				<input id="inputtext" type="text" name="username" id="username" value="E-Mail-Adresse/Zufallszahlen" onfocus='if(this.value=="E-Mail-Adresse/Zufallszahlen"){this.value="";}; 'onblur='if(this.value==""){this.value="E-Mail-Adresse/Zufallszahlen";};'/>
                </div>
                <div class="log_inp"> <p class="remindingen" id="repeated">{{ msg }}</p></div>
            </div>
            <input type="submit" class="tesinput" style="margin-top: 20px;" value="Weiter" id="butt-next" onclick="showregister()">
		</div>

    </form>
</body>
</html>