<!DOCTYPE html>
<html style="overflow-y: hidden;">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="{% static 'JS/index.js' %}"></script>
    <title>post-test 3</title>
</head>
<body>
<form method="post" action="{% url 'classification:Addpost3DE' %}" onsubmit="return Posttest()">
    {% csrf_token %}

	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
			<input type="submit" name="" value="Weiter" onclick="" id="butt-next">
	</div>

	<div class="bannder14">
		
	</div>


	  <div class="questionspage">
          <br>
		<p>Bitte beantworten Sie die folgenden Fragen. </p>
		<table id="tab2">
            <tr class="dark">
				<td><span style="margin-left: 35px;">Perceived Accuracy</span></td>
			</tr>
            <tr class="white">
				<td><span style="margin-left: 35px;">Inwieweit stimmen Sie den folgenden Aussage zu? </span></td>
			</tr>
            <tr class="white">
				<td><span style="margin-left: 35px;">1= stimme überhaupt nicht zu; 7=stimme vollkommen zu</span></td>
			</tr>
            <tr class="light" id="post1name">
                <td>
                    <span class="number">1.</span><span class="Ques">Die ausgewählten Designtechniken passen zum beschriebenen Szenario der Aufgabe.</span>
                    <span class="onelowde">
                        <span class="seclowde"><input type="radio" name="post1" value="1" ><label class="labpositionshort">1</label></span>
                        <span class="seclowde"><input type="radio" name="post1" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclowde"><input type="radio" name="post1" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclowde"><input type="radio" name="post1" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclowde"><input type="radio" name="post1" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclowde"><input type="radio" name="post1" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclowde"><input type="radio" name="post1" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white" id="post2name">
                <td>
                <span class="number">2.</span><span class="Ques">Die ausgewählten Designtechniken passen nicht zum beschriebenen  Szenario der Aufgabe.</span>
                <span class="onelowde">
                    <span class="seclowde"><input type="radio" name="post2" value="1" ><label class="labpositionshort">1</label></span>
                    <span class="seclowde"><input type="radio" name="post2" value="2"><label class="labpositionshort">2</label></span>
                    <span class="seclowde"><input type="radio" name="post2" value="3"><label class="labpositionshort">3</label></span>
                    <span class="seclowde"><input type="radio" name="post2" value="4"><label class="labpositionshort">4</label></span>
                    <span class="seclowde"><input type="radio" name="post2" value="5"><label class="labpositionshort">5</label></span>
                    <span class="seclowde"><input type="radio" name="post2" value="6"><label class="labpositionshort">6</label></span>
                    <span class="seclowde"><input type="radio" name="post2" value="7"><label class="labpositionshort">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light" id="post3name">
                <td>
                    <span class="number">3.</span><span class="Ques">Ich hatte das Gefühl, dass die Verwendung der Webseite die Auswahl geeigneter Designtechniken positiv beeinflusst.</span>
                    <span class="onelowde">
                        <span class="seclowde"><input type="radio" name="post3" value="1" ><label class="labpositionshort">1</label></span>
                        <span class="seclowde"><input type="radio" name="post3" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclowde"><input type="radio" name="post3" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclowde"><input type="radio" name="post3" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclowde"><input type="radio" name="post3" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclowde"><input type="radio" name="post3" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclowde"><input type="radio" name="post3" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
              <tr style="height: 35px; background-color: white;" >
				<td>
				</td>
			</tr>
            <tr class="dark">
				<td><span style="margin-left: 35px;">Decision Confidence</span></td>
			</tr>
            <tr class="white">
				<td><span style="margin-left: 35px;">Inwieweit stimmen Sie den folgenden Aussage zu?</span></td>
			</tr>
            <tr class="white">
				<td><span style="margin-left: 35px;">1= stimme überhaupt nicht zu; 7=stimme vollkommen zu</span></td>
			</tr>
            <tr class="light" id="post4name">
                <td>
                <span class="number">4.</span><span class="Ques">Die ausgewählten Designtechniken sind korrekt.</span>
                <span class="onelowde">
                    <span class="seclowde"><input type="radio" name="post4" value="1" ><label class="labpositionshort">1</label></span>
                    <span class="seclowde"><input type="radio" name="post4" value="2"><label class="labpositionshort">2</label></span>
                    <span class="seclowde"><input type="radio" name="post4" value="3"><label class="labpositionshort">3</label></span>
                    <span class="seclowde"><input type="radio" name="post4" value="4"><label class="labpositionshort">4</label></span>
                    <span class="seclowde"><input type="radio" name="post4" value="5"><label class="labpositionshort">5</label></span>
                    <span class="seclowde"><input type="radio" name="post4" value="6"><label class="labpositionshort">6</label></span>
                    <span class="seclowde"><input type="radio" name="post4" value="7"><label class="labpositionshort">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="white" id="post5name">
                <td>
                    <span class="number">5.</span><span class="Ques">Ich bin mir nicht sicher, ob die ausgewählten Designtechniken für die Aufgabe geeignet sind.</span>
                    <span class="onelowde">
                        <span class="seclowde"><input type="radio" name="post5" value="1" ><label class="labpositionshort">1</label></span>
                        <span class="seclowde"><input type="radio" name="post5" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclowde"><input type="radio" name="post5" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclowde"><input type="radio" name="post5" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclowde"><input type="radio" name="post5" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclowde"><input type="radio" name="post5" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclowde"><input type="radio" name="post5" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="light" id="post6name">
                <td>
                <span class="number">6.</span><span class="Ques">Ich bin nicht ganz sicher mit der Auswahl der Designtechniken.</span>
                <span class="onelowde">
                    <span class="seclowde"><input type="radio" name="post6" value="1" ><label class="labpositionshort">1</label></span>
                    <span class="seclowde"><input type="radio" name="post6" value="2"><label class="labpositionshort">2</label></span>
                    <span class="seclowde"><input type="radio" name="post6" value="3"><label class="labpositionshort">3</label></span>
                    <span class="seclowde"><input type="radio" name="post6" value="4"><label class="labpositionshort">4</label></span>
                    <span class="seclowde"><input type="radio" name="post6" value="5"><label class="labpositionshort">5</label></span>
                    <span class="seclowde"><input type="radio" name="post6" value="6"><label class="labpositionshort">6</label></span>
                    <span class="seclowde"><input type="radio" name="post6" value="7"><label class="labpositionshort">7</label></span>
                </span>
                </td>
            </tr>
		</table>
	</div>
    </form>
</body>
</html>