<!DOCTYPE html>
<html style="overflow-y: hidden;">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="{% static 'JS/index.js' %}"></script>
    <title>post-test 3</title>
</head>
<body>
<form method="post" action="{% url 'classification:Addpost3ADE' %}" onsubmit="return PosttestA()" class="longform">
    {% csrf_token %}

	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
	</div>

	<div class="bannder15">
		
	</div>


	  <div class="questionspage">
		<p>Bitte beantworten Sie die folgende Fragen. </p>
		<table id="tab2">
            <tr class="dark">
				<td><span style="margin-left: 35px;">Individual Task Performance</span></td>
			</tr>
            <tr class="white">
				<td><span style="margin-left: 35px;">Inwieweit stimmen Sie die folgende Aussagen zu? </span></td>
			</tr>
            <tr class="white">
				<td><span style="margin-left: 35px;">1= stimme überhaupt nicht zu; 7=stimme vollkommen zu</span></td>
			</tr>
            <tr class="light" id="post7name">
                <td>
                    <span class="number">7.</span><span class="Ques">Ich habe die im Szenario aufgeworfenen Probleme verstanden.</span>
                    <span class="onelowde">
                        <span class="seclowde"><input type="radio" name="post7" value="1" ><label class="labpositionshort">1</label></span>
                        <span class="seclowde"><input type="radio" name="post7" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclowde"><input type="radio" name="post7" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclowde"><input type="radio" name="post7" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclowde"><input type="radio" name="post7" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclowde"><input type="radio" name="post7" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclowde"><input type="radio" name="post7" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white" id="post8name">
                <td>
                <span class="number">8.</span><span class="Ques">Ich habe eine strukturierte Vorgehensweise bei der Auswahl von Designtechniken verfolgt.</span>
                <span class="onelowde">
                    <span class="seclowde"><input type="radio" name="post8" value="1" ><label class="labpositionshort">1</label></span>
                    <span class="seclowde"><input type="radio" name="post8" value="2"><label class="labpositionshort">2</label></span>
                    <span class="seclowde"><input type="radio" name="post8" value="3"><label class="labpositionshort">3</label></span>
                    <span class="seclowde"><input type="radio" name="post8" value="4"><label class="labpositionshort">4</label></span>
                    <span class="seclowde"><input type="radio" name="post8" value="5"><label class="labpositionshort">5</label></span>
                    <span class="seclowde"><input type="radio" name="post8" value="6"><label class="labpositionshort">6</label></span>
                    <span class="seclowde"><input type="radio" name="post8" value="7"><label class="labpositionshort">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light" id="post9name">
                <td>
                    <span class="number">9.</span><span class="Ques">Ich kann die Auswahl begründen.</span>
                    <span class="onelowde">
                        <span class="seclowde"><input type="radio" name="post9" value="1" ><label class="labpositionshort">1</label></span>
                        <span class="seclowde"><input type="radio" name="post9" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclowde"><input type="radio" name="post9" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclowde"><input type="radio" name="post9" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclowde"><input type="radio" name="post9" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclowde"><input type="radio" name="post9" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclowde"><input type="radio" name="post9" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white" id="post10name">
                <td>
                <span class="number">10.</span><span class="Ques">Die ausgewählten Designtechniken können die im Szenario beschriebenen Probleme lösen.</span>
                <span class="onelowde">
                    <span class="seclowde"><input type="radio" name="post10" value="1" ><label class="labpositionshort">1</label></span>
                    <span class="seclowde"><input type="radio" name="post10" value="2"><label class="labpositionshort">2</label></span>
                    <span class="seclowde"><input type="radio" name="post10" value="3"><label class="labpositionshort">3</label></span>
                    <span class="seclowde"><input type="radio" name="post10" value="4"><label class="labpositionshort">4</label></span>
                    <span class="seclowde"><input type="radio" name="post10" value="5"><label class="labpositionshort">5</label></span>
                    <span class="seclowde"><input type="radio" name="post10" value="6"><label class="labpositionshort">6</label></span>
                    <span class="seclowde"><input type="radio" name="post10" value="7"><label class="labpositionshort">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light" id="post11name">
                <td>
                    <span class="number">11.</span><span class="Ques">Die von mir gewählten Designtechniken können dazu beitragen, das in der Aufgabe artikulierte Ziel zu erreichen.</span>
                    <span class="onelowde">
                        <span class="seclowde"><input type="radio" name="post11" value="1" ><label class="labpositionshort">1</label></span>
                        <span class="seclowde"><input type="radio" name="post11" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclowde"><input type="radio" name="post11" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclowde"><input type="radio" name="post11" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclowde"><input type="radio" name="post11" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclowde"><input type="radio" name="post11" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclowde"><input type="radio" name="post11" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white" id="post12name">
                <td>
                <span class="number">12.</span><span class="Ques">Die ausgewählten Designtechniken orientierten sich an den Anforderungen der Aufgabenstellung.</span>
                <span class="onelowde">
                    <span class="seclowde"><input type="radio" name="post12" value="1" ><label class="labpositionshort">1</label></span>
                    <span class="seclowde"><input type="radio" name="post12" value="2"><label class="labpositionshort">2</label></span>
                    <span class="seclowde"><input type="radio" name="post12" value="3"><label class="labpositionshort">3</label></span>
                    <span class="seclowde"><input type="radio" name="post12" value="4"><label class="labpositionshort">4</label></span>
                    <span class="seclowde"><input type="radio" name="post12" value="5"><label class="labpositionshort">5</label></span>
                    <span class="seclowde"><input type="radio" name="post12" value="6"><label class="labpositionshort">6</label></span>
                    <span class="seclowde"><input type="radio" name="post12" value="7"><label class="labpositionshort">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light" id="post13name">
                <td>
                    <span class="number">13.</span><span class="Ques">Ich kann eine klare Empfehlung für die Auswahl der Designtechniken für das Szenario geben.</span>
                    <span class="onelowde">
                        <span class="seclowde"><input type="radio" name="post13" value="1" ><label class="labpositionshort">1</label></span>
                        <span class="seclowde"><input type="radio" name="post13" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclowde"><input type="radio" name="post13" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclowde"><input type="radio" name="post13" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclowde"><input type="radio" name="post13" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclowde"><input type="radio" name="post13" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclowde"><input type="radio" name="post13" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
             <tr style="height: 25px; background-color: white;" >
				<td>
				</td>
			</tr>
             <tr class="dark">
				<td><span style="margin-left: 35px;">Task Motivation</span></td>
			</tr>
            <tr class="white">
				<td><span style="margin-left: 35px;">Inwieweit stimmen Sie die folgende Aussagen zu?</span></td>
			</tr>
            <tr class="white">
				<td><span style="margin-left: 35px;">1= stimme überhaupt nicht zu; 7=stimme vollkommen zu</span></td>
			</tr>
            <tr class="light" id="post14name">
                <td>
                <span class="number">14.</span><span class="Ques">Ich habe nicht so gut gearbeitet wie ich konnte, weil ich wenig motiviert war, ein möglichst gutes Ergebnis bei der Durchführung der Aufgabe zu erzielen.</span>
                <span class="onelowde">
                    <span class="seclowde"><input type="radio" name="post14" value="1"><label class="labpositionshort">1</label></span>
                    <span class="seclowde"><input type="radio" name="post14" value="2"><label class="labpositionshort">2</label></span>
                    <span class="seclowde"><input type="radio" name="post14" value="3"><label class="labpositionshort">3</label></span>
                    <span class="seclowde"><input type="radio" name="post14" value="4"><label class="labpositionshort">4</label></span>
                    <span class="seclowde"><input type="radio" name="post14" value="5"><label class="labpositionshort">5</label></span>
                    <span class="seclowde"><input type="radio" name="post14" value="6"><label class="labpositionshort">6</label></span>
                    <span class="seclowde"><input type="radio" name="post14" value="7"><label class="labpositionshort">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="white" id="post15name">
                <td>
                    <span class="number">15.</span><span class="Ques">Ich wollte diese Aufgabe wirklich erfolgreich meistern.</span>
                    <span class="onelowde">
                        <span class="seclowde"><input type="radio" name="post15" value="1"><label class="labpositionshort">1</label></span>
                        <span class="seclowde"><input type="radio" name="post15" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclowde"><input type="radio" name="post15" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclowde"><input type="radio" name="post15" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclowde"><input type="radio" name="post15" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclowde"><input type="radio" name="post15" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclowde"><input type="radio" name="post15" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="light" id="post16name">
                <td>
                <span class="number">16.</span><span class="Ques">Ich würde mich freuen, diese Aufgabe auch in Zukunft durchzuführen.</span>
                <span class="onelowde">
                    <span class="seclowde"><input type="radio" name="post16" value="1"><label class="labpositionshort">1</label></span>
                    <span class="seclowde"><input type="radio" name="post16" value="2"><label class="labpositionshort">2</label></span>
                    <span class="seclowde"><input type="radio" name="post16" value="3"><label class="labpositionshort">3</label></span>
                    <span class="seclowde"><input type="radio" name="post16" value="4"><label class="labpositionshort">4</label></span>
                    <span class="seclowde"><input type="radio" name="post16" value="5"><label class="labpositionshort">5</label></span>
                    <span class="seclowde"><input type="radio" name="post16" value="6"><label class="labpositionshort">6</label></span>
                    <span class="seclowde"><input type="radio" name="post16" value="7"><label class="labpositionshort">7</label></span>
                </span>
                </td>
            </tr>
		</table>
          <input type="submit" class="tesinput" value="Weiter" onclick="" id="butt-next">
	</div>
    </form>
</body>
</html>