<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="../../CSS/body.css"  />
    <link rel="stylesheet" type="text/css" href="../../CSS/task.css"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="../../JS/myscript.js"></script>
    <script type="text/javascript">
    $(function(){
    	$('.bottoming').click(function(){
   			$('.showing').slideToggle(1000);
    	})
    })
	
</script>
    <title>Tag Cloud</title>
</head>
<body onload="time_funen()">
	<form method="post" action="" onsubmit="return checken()">
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="../../img/kit2.png">
				<p>Welcome to the Online Experiment</p>
			</div>
			<div class="timing">
 			<span>Time</span>	<span id="mytime">0 min 00 sec</span>
 			</div>
			<input type="submit" name="" value="Next" id="queren">
	</div>

	<div class="bannder7">
		
	</div>

	<div class="mainbody">
		<div class="Categories">  <!-- Taxonomy部分 -->
			<dl>	
				<dd style="font-size:10px">Data Collection</dd>
				<dd style="font-size:20px">Information Organization</dd>
				<dd style="font-size:17px">Evaluation</dd>
				<dd style="font-size:28px">User Research</dd>
				<dd style="font-size:10px">User simulation</dd>
				<dd style="font-size:17px">Expert participation</dd>
				<dd style="font-size:10px">Observation</dd>
				<dd style="font-size:10px">Flexible time length</dd>
				<dd style="font-size:15px">Product Evaluation</dd>
				<dd style="font-size:12px">Mid term duration</dd>
				<dd style="font-size:23px">Idea Generation</dd>
				<dd style="font-size:15px">Collaboration with stakeholders</dd>
				<dd style="font-size:10px">Feedback collection (online)</dd>
				<dd style="font-size:20px">Prototyping</dd>
				<dd style="font-size:15px">Short term duration</dd>
				<dd style="font-size:15px">UX Evaluation</dd>
				<dd style="font-size:12px">Relationship and Dependency</dd>
				<dd style="font-size:20px">Feedback Collection</dd>
				<dd style="font-size:15px">Long term duration</dd>
				<dd style="font-size:10px">User participation (user group)</dd>
				<dd style="font-size:15px">User participation</dd>
				<dd style="font-size:10px">Feedback collection (offline)</dd>
				<dd style="font-size:20px">Prototype evaluation</dd>
				<dd style="font-size:10px">Project Organization</dd>
			</dl> 	
		</div>	
		
		<div class="teches">	
				<div class="postcard">
					<div class="lantian">
					<h4 class="biaoti">3E- Expressing Emotion and Experience</h4><img class="topshow" src="../../img/plus1.png" 
							onclick="addtech(this)">
					</div>
					<div class="contented">
						<p>halkghkjlajaslajgfaijeiutoeytgusrh8470398wytugsdh</p>
						<div class="showed">
							<p>中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人</p>
						</div>
					</div>
				</div>
				<div class="postcard">
					<div class="lantian">
					<h4 class="biaoti">3E- Expressing Emotion and Experience</h4><img class="topshow" src="../../img/plus1.png" 
							onclick="addtech(this)">
					</div>
					<div class="contented">
						<p>halkghkjlajaslajgfaijeiutoeytgusrh8470398wytugsdh</p>
						<div class="showed">
							<p>中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人</p>
						</div>
					</div>
				</div>
				<div class="postcard">
					<div class="lantian">
					<h4 class="biaoti">3E- Expressing Emotion and Experience</h4><img class="topshow" src="../../img/plus1.png" 
							onclick="addtech(this)">
					</div>
					<div class="contented">
						<p>halkghkjlajaslajgfaijeiutoeytgusrh8470398wytugsdh</p>
						<div class="showed">
							<p>中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人</p>
						</div>
					</div>
				</div>
				<div class="postcard">
					<div class="lantian">
					<h4 class="biaoti">3E- Expressing Emotion and Experience</h4><img class="topshow" src="../../img/plus1.png" 
							onclick="addtech(this)">
					</div>
					<div class="contented">
						<p>halkghkjlajaslajgfaijeiutoeytgusrh8470398wytugsdh</p>
						<div class="showed">
							<p>中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人中国人</p>
						</div>
					</div>
				</div>
		</div>

		<div class="selected">  
 			<div class="taskdiscription">
 				<h4 class="aa">Task1</h4>
 				<p class="bb">You are at an early stage of the project. You can get a group of people from different backgrounds (e.g., users, stakeholders) to discuss the project. You plan to understand and analyze the relations between different roles and surroundings when using the App and generate some ideas.
				</p>
 			</div>
 			
 			<div class="biaoge">
 				<form method="post" action="">
 					<dl>
 					<dt>Please select 3 design techniques for task 1</dt>
					<dt class="tone">Please click on "+" and the selected design techniques will be appeared here.</dt>
					<dd id="sam1"><input type="textarea" id="same1" class="tijiao"><img id="same11" src="../../img/chacha3.png" 			onmouseover="changeImg(this,1);" onmouseout="changeImg(this,2);" onclick="Delete(1);"></dd>
					<dd id="sam2"><input type="text" id="same2" class="tijiao"><img id="same22" src="../../img/chacha3.png" 
						onmouseover="changeImg(this,1);" onmouseout="changeImg(this,2);" onclick="Delete(2);"></dd>
					<dd id="sam3"><input type="text" id="same3" class="tijiao"><img src="../../img/chacha3.png" id="same33" 
						onmouseover="changeImg(this,1);" onmouseout="changeImg(this,2);" onclick="Delete(3);"></dd>
					</dl>
				</form>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
	<div class="feet">
		
	</div>
</form>
</body>
</html>
