<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="../../CSS/body.css"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>TaskDetail1</title>
</head>
<body>
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="../../img/kit2.png">
				<p>Welcome to the Online Experiment</p>
			</div>
			<input type="button" name="" value="Next" onclick="" id="butt-next">
	</div>

	<div class="bannder12">
		
	</div>

	<div class="main">
	  <p>Task 1.<p>
	  <p>XXX</p>
	  <p>XXX</p>
	  <p>Please use the following UI to select three most appropriate design techniques for the scenario.</p>
	  <p>You have 3 min for this task.</p>
	  <p>The task is also appear on the following UI.</p>
	</div>
</body>
</html>