<!DOCTYPE html>
<html style="overflow:hidden;">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>TaskDetail1</title>
</head>
<body>
<form method="post" action="{% url 'classification:SwitchDE' %}" class="longform">
    {% csrf_token %}

	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
	</div>

	<div class="bannder12">
		
	</div>

	<div class="questionspage">
    <div class="index-instru" style="margin-top:8%;">
    <br/>
	  <h4>Sie arbeiten in einem Team in einem Entwicklungsprojekt für eine mobile App für den Kauf von Kinokarten.</h4>
        {% for task in taskdes  %}
            <h4>Task {{ task.id }}</h4>
	        <p>{{ task.Description }}</p><br/>
        {% endfor %}
	  <h4>Bitte benutzen Sie die folgende Webseite, um drei hierfür relevante Designtechniken für dieses Szenario auszuwählen.</h4>
	</div>
    <input type="submit" class="tesinput" value="Weiter" onclick="" id="butt-next">
    </div>
</form>
</body>
</html>