<!DOCTYPE html>
<html style="overflow-y: hidden">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/task.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <title>Blank</title>
</head>
<body onload="time_funde()">
<form method="post" action="{% url 'classification:B_Addtech2DE' %}" onsubmit="return checkde()">
    {% csrf_token %}

	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
			<div class="timing">
 			<span>Time</span>	<span id="mytime">0 min 00 sec</span>
 			</div>
			<input type="submit" name="" value="Next" id="butt-next" onclick="checkrepeat()">
	</div>

	<div class="bannder7">
		
	</div>

	<div class="mainbody">
		<div class="bottomup">  <!-- Taxonomy部分 -->
			<dl id="notshow">
				<dt>Participant</dt>
					<dd class="bottomin">User</dd>
					<dd class="bottomin">Stakeholder</dd>
					<dd class="bottomin">Expert</dd>
				</dl>
		</div> 
		
		<div class="teches">
            {% for tech in all_tech %}
                <div class="postcard">
                    <div class="lantian">
                    <h4 class="biaoti">{{ tech.Tech_Name }}</h4><img class="topshow" src="{% static 'img/plus1.png' %}"
                            onclick="addtechde(this)">
                    </div>
                    <div class="contented">
                        <p>{{ tech.Short_Description }}</p>
                        <div class="showed">
                            <p>{{ tech.Long_Description|linebreaksbr }}</p>
                        </div>
                    </div>
                    </div>
            {% endfor %}
		</div>

		<div class="selected">  
 			<div class="taskdiscription">
                {% for task in taskdes %}
                    <h4 class="aa">Aufgabe {{ task.id }}</h4>
 				    <p class="bb">{{ task.Description }}</p>
                {% endfor %}

 			</div>

 			<div class="biaoge">
 				<form method="post" action="">
 					<dl>
 					<dt>Bitte wählen Sie drei Designtechniken aus.</dt>
					<dt class="tone">Bitte klicken Sie auf "+" und die ausgewählten Designtechniken werden hier angezeigt.</dt>
					<dd id="sam1"><input type="text" id="same1" class="tijiao" name="selectedone"><img id="same11" src="{% static 'img/chacha3.png' %}" onclick="Delete(1);"></dd>
					<dd id="sam2"><input type="text" id="same2" class="tijiao" name="selectedtwo"><img id="same22" src="{% static 'img/chacha3.png' %}" onclick="Delete(2);"></dd>
					<dd id="sam3"><input type="text" id="same3" class="tijiao" name="selectedthree"><img src="{% static 'img/chacha3.png' %}" id="same33" onclick="Delete(3);"></dd>
					</dl>
				</form>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
    </form>
</body>
</html>
