<!DOCTYPE html>
<html style="overflow-y: hidden;">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <title>post-test 3</title>
</head>
<body>
<form method="post" action="{% url 'classification:DECheckblank' %}" class="longform">
    {% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
	</div>

	<div class="bannder10">
		
	</div>

	  <div class="questionspage">
          <br>
		<p>Bitte beantworten Sie die folgenden Fragen.</p>
		
		<table id="tab2">
			<tr class="dark">
				<td><span class="number">Nr.</span><span class="Ques">Fragen</span><td>
			</tr>

            <tr class="white">
                <td>
                    <span class="number">1.</span><span class="Ques">Was ist der Zweck dieser Aufgabe?</span>
                    <span class="onelowde">
                        <span class="seclowlong"><input type="radio" name="test1" value="1"><label class="labpositionlong">Wählen Sie Entwurfstechniken für ein Szenario</label></span>
                        <span class="seclowlong"><input type="radio" name="test1" value="2"><label class="labpositionlong">Beschreiben Sie ein Design-Szenario</label></span>
                    </span>
                </td>
            </tr>
            <tr class="light">
                <td>
                <span class="number">2.</span><span class="Ques">Wo sehen Sie die Beschreibung der Aufgabe auf der Website?</span>
                <span class="onelowde">
                    <span class="seclowlong"><input type="radio" name="test2" value="1"><label class="labpositionlong">Auf der linken Seite</label></span>
                    <span class="seclowlong"><input type="radio" name="test2" value="2"><label class="labpositionlong">Auf der rechten Seite</label></span>
                </span>
                </td>
            </tr>
            <tr class="white" style="height: 2px;">
                <td></td>
            </tr>
		</table>
          <input type="submit" class="tesinput" value="Weiter" onclick="jumpcn6();" id="butt-next">
	</div>
</form>
</body>
</html>