<!DOCTYPE html>
<html style="overflow-y: hidden">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/task.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <title>Top-Down</title>
</head>
<body onload="time_funde()">
<form method="post" action="{% url 'classification:T_Addtech1DE' %}" onsubmit="return checkde()">
            {% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
			<div class="timing">
 			<span>Zeit</span>	<span id="mytime">0 min 00 sec</span>
 			</div>
	</div>

	<div class="bannder13">
		
	</div>

	<div class="select-area">
		<div class="entop-down">  <!-- Taxonomy部分 -->
				<dl>
                    <dt id="dd3">Deisgnphase</dt>
                        <dd id="design1" data-select="0" name="design" >Plannung<img id="design1img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                        <dd id="design2" data-select="0" name="design" >Entwurfsprototyp<img id="design2img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                        <dd id="design3" data-select="0" name="design" >Detaillierter Prototyp<img id="design3img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                        <dd id="design4" data-select="0" name="design" >Launch<img id="design4img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd>

					<dt>Zeitabhängigkeit</dt>
                        <dd id="dependency1" data-select="0" name="dependency" >Echtzeit<img id="dependency1img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                        <dd id="dependency2" data-select="0" name="dependency" >Retrospektiv<img id="dependency2img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd>

					<dt>Zeitlicher Rahmen</dt>
                       <dd id="duration1" data-select="0" name="duration">Längerer Zeitraum<img id="duration1img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                       <dd id="duration2" data-select="0" name="duration">Kurzer Zeitraum<img id="duration2img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd>


                    <dt>Nutzereinbindung</dt>
                        <dd id="participant1" data-select="0" name="participant" >Nutzereinbindung<img id="participant1img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                        <dd id="participant2" data-select="0" name="participant" >Ohne reale Nutzer<img id="participant2img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd>


					<dt>Evaluationsart</dt>
                        <dd id="evaluation1" data-select="0" name="evaluation" >Fragebogen<img id="evaluation1img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                        <dd id="evaluation2" data-select="0" name="evaluation" >Interview<img id="evaluation2img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                        <dd id="evaluation3" data-select="0" name="evaluation" >Experiment<img id="evaluation3img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                        <dd id="evaluation4" data-select="0" name="evaluation" >Beobachtung<img id="evaluation4img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                        <dd id="evaluation5" data-select="0" name="evaluation" >Gruppendiskussion<img id="evaluation5img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd>
				</dl>
		</div>

		<div class="teches">
            {% for tech in all_techch %}
                <div class="postcard">
					<div class="lantian">
					<h4 class="biaoti">{{ tech.Tech_Name }}</h4><img class="topshow" src="{% static 'img/plus1.png' %}"
							onclick="addtechde(this)">
					</div>
					<div class="contented">
						<p>{{ tech.Short_Description }}</p>
						<div class="showed">
							<p>{{ tech.Long_Description|linebreaksbr }}</p>
						</div>
					</div>
				</div>
            {% endfor %}
		</div>

		<div class="selected">  
 			<div class="taskdiscription">
                {% for task in taskdes %}
                    <h4>Aufgabe {{ task.id }}</h4>
 				    <p class="bb">{{ task.Description }}</p>
                {% endfor %}
 			</div>
 			
 			<div class="biaoge">
                <dl>
                <dt>Bitte wählen Sie drei Designtechniken aus.</dt>
                <dt class="tone">Bitte klicken Sie auf "+" und die ausgewählten Designtechniken werden hier angezeigt.</dt>
                <dd id="sam1"><input type="text" id="same1" class="tijiao" name="selectedone"><img id="same11" src="{% static 'img/chacha3.png' %}" onclick="Delete(1);"></dd>
                <dd id="sam2"><input type="text" id="same2" class="tijiao" name="selectedtwo"><img id="same22" src="{% static 'img/chacha3.png'%}" onclick="Delete(2);"></dd>
                <dd id="sam3"><input type="text" id="same3" class="tijiao" name="selectedthree"><img src="{% static 'img/chacha3.png' %}" id="same33" onclick="Delete(3);"></dd>
                <input type="submit" class="tesinput" value="Weiter" id="butt-next-detail">
                </dl>
			</div>
		</div>
	</div>
    </form>
</body>
<script type="text/javascript">
         $(document).ready(function(){
             var dep1;
             var desp1;
             var dur1;
             var part1;
             var evalu1;
             var design1Value;
             var design2Value;
             var design3Value;
             var design4Value;
             var dependency1Value;
             var dependency2Value;
             var duration1Value;
             var duration2Value;
             var participant1Value;
             var participant2Value;
             var evaluation1Value;
             var evaluation2Value;
             var evaluation3Value;
             var evaluation4Value;
             var evaluation5Value;
             function AddElement(ElementA,ElementB,ElementC) {
                 var element = '<div class="postcard">' +'<div class="lantian">' + '<h4 class="biaoti">'+ ElementA + '</h4>' +
                     '<img class="topshow" src="/static/img/plus1.png" onclick="addtechde(this)">' + '</div>'+ '<div class="contented" id="content_{{ tech.pk }}">'
                     + '<p>' + ElementB + '</p>' + '<div class="showed">' +  '<p>' + ElementC + '</p>' + '</div>' + '</div>' + '</div>';
                 return element;
             }
            $("#design1").click(function (){
                design1Value = $('#design1').prop('data-select');
                if (design1Value == undefined || design1Value == 0 || design2Value == 1 || design3Value ==1 || design4Value == 1) {
                    design1Value = 1;
                    design2Value = 0;
                    design3Value = 0;
                    design4Value = 0;
                }else {
                    design1Value = 0;
                }
                if(design1Value == 1){
                    desp1 = $(this).text();
                    $("#design1img").css("display","inline");
                    $("#design2img").css("display","none");
                    $("#design3img").css("display","none");
                    $("#design4img").css("display","none");
                    $("#design1").css("background-color","#41C7DB");
                    $("#design1").css("font-weight","bold");
                    $("#design2").css("font-weight","normal");
                    $("#design3").css("font-weight","normal");
                    $("#design4").css("font-weight","normal");
                    $("#design2").css("background-color","white");
                    $("#design3").css("background-color","white");
                    $("#design4").css("background-color","white");
                }else {
                    desp1 = null;
                    $("#design1img").css("display","none");
                    $("#design1").css("font-weight","normal");
                    $("#design1").css("background-color","white");
                }
                 $('#design1').prop('data-select', design1Value);
                 if(design2Value == 0 && design1Value == 0 && design3Value == 0 && design4Value ==0){
                 $("#design1").prop('data-select',0);
                 $("#design2").prop('data-select',0);
                 $("#design3").prop('data-select',0);
                 $("#design4").prop('data-select',0);
               }
                $.post("{% url 'classification:Ajax_DE_Top_add' %}",{"desp1":desp1,"dep1":dep1,"evalu1":evalu1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });
            $("#design2").click(function (){
                design2Value = $('#design2').prop('data-select');
                if (design2Value == undefined || design2Value == 0 || design1Value == 1 || design3Value == 1 || design4Value == 1) {
                    design2Value = 1;
                    design1Value = 0;
                    design3Value = 0;
                    design4Value = 0;
                }else {
                    design2Value = 0;
                }
                if(design2Value == 1){
                    desp1 = $(this).text();
                    $("#design2img").css("display","inline");
                    $("#design1img").css("display","none");
                    $("#design3img").css("display","none");
                    $("#design4img").css("display","none");
                    $("#design2").css("background-color","#41C7DB");
                    $("#design2").css("font-weight","bold");
                    $("#design1").css("font-weight","normal");
                    $("#design3").css("font-weight","normal");
                    $("#design4").css("font-weight","normal");
                    $("#design1").css("background-color","white");
                    $("#design3").css("background-color","white");
                    $("#design4").css("background-color","white");
                }else{
                    desp1 = null;
                    $("#design2img").css("display","none");
                    $("#design2").css("font-weight","normal");
                    $("#design2").css("background-color","white");
                }
               $('#design2').prop('data-select', design2Value);
                 if(design2Value == 0 && design1Value == 0 && design3Value == 0 && design4Value == 0){
                 $("#design1").prop('data-select',0);
                 $("#design2").prop('data-select',0);
                 $("#design3").prop('data-select',0);
                 $("#design4").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_DE_Top_add' %}",{"desp1":desp1,"dep1":dep1,"evalu1":evalu1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });
            $("#design3").click(function (){
                design3Value = $('#design3').prop('data-select');
                if (design3Value == undefined || design3Value == 0 || design1Value == 1 || design2Value == 1 || design4Value == 1) {
                    design3Value = 1;
                    design1Value = 0;
                    design2Value = 0;
                    design4Value = 0;
                }else {
                    design3Value = 0;
                }
                if(design3Value == 1){
                    desp1 = $(this).text();
                    $("#design3img").css("display","inline");
                    $("#design1img").css("display","none");
                    $("#design2img").css("display","none");
                    $("#design4img").css("display","none");
                    $("#design3").css("background-color","#41C7DB");
                    $("#design3").css("font-weight","bold");
                    $("#design2").css("font-weight","normal");
                    $("#design1").css("font-weight","normal");
                    $("#design4").css("font-weight","normal");
                    $("#design1").css("background-color","white");
                    $("#design2").css("background-color","white");
                    $("#design4").css("background-color","white");
                }else{
                    desp1 = null;
                    $("#design3img").css("display","none");
                    $("#design3").css("font-weight","normal");
                    $("#design3").css("background-color","white");
                }
               $('#design3').prop('data-select', design3Value);
                 if(design2Value == 0 && design1Value == 0 && design3Value == 0 && design4Value == 0){
                 $("#design1").prop('data-select',0);
                 $("#design2").prop('data-select',0);
                 $("#design3").prop('data-select',0);
                 $("#design4").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_DE_Top_add' %}",{"desp1":desp1,"dep1":dep1,"evalu1":evalu1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });
            $("#design4").click(function (){
                var design4Value = $('#design4').prop('data-select');
                if (design4Value == undefined || design4Value == 0 || design1Value == 1 || design2Value == 1 || design3Value ==1) {
                    design4Value = 1;
                    design1Value = 0;
                    design2Value = 0;
                    design3Value = 0;
                }else {
                    design4Value = 0;
                }
               $('#design4').prop('data-select', design4Value);
                if(design4Value == 1){
                    $("#design4img").css("display","inline");
                    $("#design1img").css("display","none");
                    $("#design2img").css("display","none");
                    $("#design3img").css("display","none");
                    $("#design4").css("background-color","#41C7DB");
                    $("#design4").css("font-weight","bold");
                    $("#design2").css("font-weight","normal");
                    $("#design3").css("font-weight","normal");
                    $("#design1").css("font-weight","normal");
                    $("#design1").css("background-color","white");
                    $("#design3").css("background-color","white");
                    $("#design2").css("background-color","white");
                    desp1 = $(this).text();
                }else {
                    $("#design4img").css("display","none");
                    $("#design4").css("font-weight","normal");
                    $("#design4").css("background-color","white");
                    desp1 = null;
                }
                if(design2Value == 0 && design1Value == 0 && design3Value == 0 && design4Value ==0){
                 $("#design1").prop('data-select',0);
                 $("#design2").prop('data-select',0);
                 $("#design3").prop('data-select',0);
                 $("#design4").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_DE_Top_add' %}",{"desp1":desp1,"dep1":dep1,"evalu1":evalu1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });


            $("#dependency1").click(function (){
                dependency1Value = $('#dependency1').prop('data-select');
                if (dependency1Value == undefined || dependency1Value == 0 || dependency2Value == 1) {
                    dependency1Value = 1;
                    dependency2Value = 0;
                }else {
                    dependency1Value = 0;
                }
               $('#dependency1').prop('data-select', dependency1Value);
                if(dependency1Value == 1){
                    $("#dependency1img").css("display","inline");
                    $("#dependency2img").css("display","none");
                    $("#dependency1").css("background-color","#41C7DB");
                    $("#dependency1").css("font-weight","bold");
                    $("#dependency2").css("font-weight","normal");
                    $("#dependency2").css("background-color","white");
                    dep1 = $(this).text();
                }else {
                    $("#dependency1img").css("display","none");
                    $("#dependency1").css("font-weight","normal");
                    $("#dependency1").css("background-color","white");
                    dep1 = null;
                }
                if(dependency1Value == 0 && dependency2Value == 0){
                 $("#dependency1").prop('data-select',0);
                 $("#dependency2").prop('data-select',0);
                }
                $.post("{% url 'classification:Ajax_DE_Top_add' %}",{"desp1":desp1,"dep1":dep1,"evalu1":evalu1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });
            $("#dependency2").click(function (){
                dependency2Value = $('#dependency2').prop('data-select');
                if (dependency2Value == undefined || dependency2Value == 0 || dependency1Value == 1) {
                    dependency2Value = 1;
                    dependency1Value = 0;
                }else {
                    dependency2Value = 0;
                }
               $('#dependency2').prop('data-select', dependency2Value);
                if(dependency2Value == 1){
                    $("#dependency2img").css("display","inline");
                    $("#dependency1img").css("display","none");
                    $("#dependency2").css("background-color","#41C7DB");
                    $("#dependency2").css("font-weight","bold");
                    $("#dependency1").css("font-weight","normal");
                    $("#dependency1").css("background-color","white");
                    dep1 = $(this).text();
                }else {
                    $("#dependency2img").css("display","none");
                     $("#dependency2").css("font-weight","normal");
                    $("#dependency2").css("background-color","white");
                    dep1 = null;
                }
                if(dependency1Value == 0 && dependency2Value == 0){
                 $("#dependency1").prop('data-select',0);
                 $("#dependency2").prop('data-select',0);
                }
                $.post("{% url 'classification:Ajax_DE_Top_add' %}",{"desp1":desp1,"dep1":dep1,"evalu1":evalu1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });

            $("#duration1").click(function (){
                duration1Value = $('#duration1').prop('data-select');
                if (duration1Value == undefined || duration1Value == 0 || duration2Value == 1) {
                    duration1Value = 1;
                    duration2Value = 0;
                }else {
                    duration1Value = 0;
                }
               $('#duration1').prop('data-select', duration1Value);
                if(duration1Value == 1){
                    $("#duration1img").css("display","inline");
                    $("#duration2img").css("display","none");
                    $("#duration1").css("background-color","#41C7DB");
                    $("#duration1").css("font-weight","bold");
                    $("#duration2").css("font-weight","normal");
                    $("#duration2").css("background-color","white");
                    dur1 = $(this).text();
                }else {
                    $("#duration1img").css("display","none");
                    $("#duration1").css("font-weight","normal");
                    $("#duration1").css("background-color","white");
                    dur1 = null;
                }
                if(duration1Value == 0 && duration1Value == 0){
                 $("#duration1").prop('data-select',0);
                 $("#duration2").prop('data-select',0);
                }
                $.post("{% url 'classification:Ajax_DE_Top_add' %}",{"desp1":desp1,"dep1":dep1,"evalu1":evalu1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });
            $("#duration2").click(function (){
                duration2Value = $('#duration2').prop('data-select');
                if (duration2Value == undefined || duration2Value == 0 || duration1Value == 1) {
                    duration2Value = 1;
                    duration1Value = 0;
                }else {
                    duration2Value = 0;
                }
               $('#duration2').prop('data-select', duration2Value);
                if(duration2Value == 1){
                    $("#duration2img").css("display","inline");
                    $("#duration1img").css("display","none");
                    $("#duration2").css("background-color","#41C7DB");
                    $("#duration2").css("font-weight","bold");
                    $("#duration1").css("font-weight","normal");
                    $("#duration1").css("background-color","white");
                    dur1 = $(this).text();
                }else {
                    $("#duration2img").css("display","none");
                    $("#duration2").css("font-weight","normal");
                    $("#duration2").css("background-color","white");
                    dur1 = null;
                }
                if(duration2Value == 0 && duration1Value == 0){
                 $("#duration2").prop('data-select',0);
                 $("#duration2").prop('data-select',0);
                }
                $.post("{% url 'classification:Ajax_DE_Top_add' %}",{"desp1":desp1,"dep1":dep1,"evalu1":evalu1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });

            $("#participant1").click(function (){
                participant1Value = $('#participant1').prop('data-select');
                if (participant1Value == undefined || participant1Value == 0 || participant2Value == 1) {
                    participant1Value = 1;
                    participant2Value = 0;
                }else {
                    participant1Value = 0;
                }
               $('#participant1').prop('data-select', participant1Value);
                if(participant1Value == 1){
                    $("#participant1img").css("display","inline");
                    $("#participant2img").css("display","none");
                    $("#participant1").css("background-color","#41C7DB");
                    $("#participant1").css("font-weight","bold");
                    $("#participant2").css("font-weight","normal");
                    $("#participant2").css("background-color","white");
                    part1 = $(this).text();
                }else {
                    $("#participant1img").css("display","none");
                    $("#participant1").css("font-weight","normal");
                    $("#participant1").css("background-color","white");
                    part1 = null;
                }
                if(participant1Value == 0 && participant2Value == 0){
                 $("#participant1").prop('data-select',0);
                 $("#participant2").prop('data-select',0);
                }
                $.post("{% url 'classification:Ajax_DE_Top_add' %}",{"desp1":desp1,"dep1":dep1,"evalu1":evalu1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });
            $("#participant2").click(function (){
                participant2Value = $('#participant2').prop('data-select');
                if (participant2Value == undefined || participant2Value == 0 || participant1Value == 1) {
                    participant2Value = 1;
                    participant1Value = 0;
                }else {
                    participant2Value = 0;
                }
               $('#participant2').prop('data-select', participant2Value);
                if(participant2Value == 1){
                    $("#participant2img").css("display","inline");
                    $("#participant1img").css("display","none");
                    $("#participant2").css("background-color","#41C7DB");
                    $("#participant2").css("font-weight","bold");
                    $("#participant1").css("font-weight","normal");
                    $("#participant1").css("background-color","white");
                    part1 = $(this).text();
                }else {
                    $("#participant2img").css("display","none");
                    $("#participant2").css("font-weight","normal");
                    $("#participant2").css("background-color","white");
                    part1 = null;
                }
                if(participant1Value == 0 && participant2Value == 0){
                 $("#participant1").prop('data-select',0);
                 $("#participant2").prop('data-select',0);
                }
                $.post("{% url 'classification:Ajax_DE_Top_add' %}",{"desp1":desp1,"dep1":dep1,"evalu1":evalu1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });

            $("#evaluation1").click(function (){
                evaluation1Value = $('#evaluation1').prop('data-select');
                if (evaluation1Value == undefined || evaluation1Value == 0 || evaluation2Value == 1 || evaluation3Value ==1 || evaluation4Value == 1 || evaluation5Value == 1) {
                    evaluation1Value = 1;
                    evaluation2Value = 0;
                    evaluation3Value = 0;
                    evaluation4Value = 0;
                    evaluation5Value = 0;
                }else {
                    evaluation1Value = 0;
                }
                if(evaluation1Value == 1){
                    evalu1 = $(this).text();
                    $("#evaluation1img").css("display","inline");
                    $("#evaluation2img").css("display","none");
                    $("#evaluation3img").css("display","none");
                    $("#evaluation4img").css("display","none");
                    $("#evaluation5img").css("display","none");
                    $("#evaluation1").css("background-color","#41C7DB");
                    $("#evaluation1").css("font-weight","bold");
                    $("#evaluation2").css("font-weight","normal");
                    $("#evaluation3").css("font-weight","normal");
                    $("#evaluation4").css("font-weight","normal");
                    $("#evaluation5").css("font-weight","normal");
                    $("#evaluation2").css("background-color","white");
                    $("#evaluation3").css("background-color","white");
                    $("#evaluation4").css("background-color","white");
                    $("#evaluation5").css("background-color","white");
                }else {
                    evalu1 = null;
                    $("#evaluation1img").css("display","none");
                    $("#evaluation1").css("font-weight","normal");
                    $("#evaluation1").css("background-color","white");
                }
                 $('#evaluation1').prop('data-select', evaluation1Value);
                 if(evaluation1Value == 0 && evaluation2Value == 0 && evaluation3Value == 0 && evaluation4Value ==0 && evaluation5Value == 0){
                 $("#evaluation1").prop('data-select',0);
                 $("#evaluation2").prop('data-select',0);
                 $("#evaluation3").prop('data-select',0);
                 $("#evaluation4").prop('data-select',0);
                 $("#evaluation5").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_DE_Top_add' %}",{"desp1":desp1,"dep1":dep1,"evalu1":evalu1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });
            $("#evaluation2").click(function (){
                evaluation2Value = $('#evaluation2').prop('data-select');
                if (evaluation2Value == undefined || evaluation2Value == 0 || evaluation1Value == 1 || evaluation3Value ==1 || evaluation4Value == 1 || evaluation5Value == 1) {
                    evaluation2Value = 1;
                    evaluation1Value = 0;
                    evaluation3Value = 0;
                    evaluation4Value = 0;
                    evaluation5Value = 0;
                }else {
                    evaluation2Value = 0;
                }
                if(evaluation2Value == 1){
                    evalu1 = $(this).text();
                    $("#evaluation2img").css("display","inline");
                    $("#evaluation1img").css("display","none");
                    $("#evaluation3img").css("display","none");
                    $("#evaluation4img").css("display","none");
                    $("#evaluation5img").css("display","none");
                    $("#evaluation2").css("background-color","#41C7DB");
                    $("#evaluation2").css("font-weight","bold");
                    $("#evaluation1").css("font-weight","normal");
                    $("#evaluation3").css("font-weight","normal");
                    $("#evaluation4").css("font-weight","normal");
                    $("#evaluation5").css("font-weight","normal");
                    $("#evaluation1").css("background-color","white");
                    $("#evaluation3").css("background-color","white");
                    $("#evaluation4").css("background-color","white");
                    $("#evaluation5").css("background-color","white");
                }else {
                    evalu1 = null;
                    $("#evaluation2img").css("display","none");
                    $("#evaluation2").css("font-weight","normal");
                    $("#evaluation2").css("background-color","white");
                }
                 $('#evaluation2').prop('data-select', evaluation2Value);
                 if(evaluation1Value == 0 && evaluation2Value == 0 && evaluation3Value == 0 && evaluation4Value ==0 && evaluation5Value == 0){
                 $("#evaluation1").prop('data-select',0);
                 $("#evaluation2").prop('data-select',0);
                 $("#evaluation3").prop('data-select',0);
                 $("#evaluation4").prop('data-select',0);
                 $("#evaluation5").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_DE_Top_add' %}",{"desp1":desp1,"dep1":dep1,"evalu1":evalu1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });
            $("#evaluation3").click(function (){
                evaluation3Value = $('#evaluation3').prop('data-select');
                if (evaluation3Value == undefined || evaluation3Value == 0 || evaluation2Value == 1 || evaluation1Value ==1 || evaluation4Value == 1 || evaluation5Value == 1) {
                    evaluation3Value = 1;
                    evaluation2Value = 0;
                    evaluation1Value = 0;
                    evaluation4Value = 0;
                    evaluation5Value = 0;
                }else {
                    evaluation3Value = 0;
                }
                if(evaluation3Value == 1){
                    evalu1 = $(this).text();
                    $("#evaluation3img").css("display","inline");
                    $("#evaluation2img").css("display","none");
                    $("#evaluation1img").css("display","none");
                    $("#evaluation4img").css("display","none");
                    $("#evaluation5img").css("display","none");
                    $("#evaluation3").css("background-color","#41C7DB");
                    $("#evaluation3").css("font-weight","bold");
                    $("#evaluation2").css("font-weight","normal");
                    $("#evaluation1").css("font-weight","normal");
                    $("#evaluation4").css("font-weight","normal");
                    $("#evaluation5").css("font-weight","normal");
                    $("#evaluation2").css("background-color","white");
                    $("#evaluation1").css("background-color","white");
                    $("#evaluation4").css("background-color","white");
                    $("#evaluation5").css("background-color","white");
                }else {
                    evalu1 = null;
                    $("#evaluation3img").css("display","none");
                    $("#evaluation3").css("font-weight","normal");
                    $("#evaluation3").css("background-color","white");
                }
                 $('#evaluation3').prop('data-select', evaluation3Value);
                 if(evaluation1Value == 0 && evaluation2Value == 0 && evaluation3Value == 0 && evaluation4Value ==0 && evaluation5Value == 0){
                 $("#evaluation1").prop('data-select',0);
                 $("#evaluation2").prop('data-select',0);
                 $("#evaluation3").prop('data-select',0);
                 $("#evaluation4").prop('data-select',0);
                 $("#evaluation5").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_DE_Top_add' %}",{"desp1":desp1,"dep1":dep1,"evalu1":evalu1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });
            $("#evaluation4").click(function (){
                evaluation4Value = $('#evaluation4').prop('data-select');
                if (evaluation4Value == undefined || evaluation4Value == 0 || evaluation2Value == 1 || evaluation3Value ==1 || evaluation1Value == 1 || evaluation5Value == 1) {
                    evaluation4Value = 1;
                    evaluation2Value = 0;
                    evaluation3Value = 0;
                    evaluation1Value = 0;
                    evaluation5Value = 0;
                }else {
                    evaluation4Value = 0;
                }
                if(evaluation4Value == 1){
                    evalu1 = $(this).text();
                    $("#evaluation4img").css("display","inline");
                    $("#evaluation2img").css("display","none");
                    $("#evaluation3img").css("display","none");
                    $("#evaluation1img").css("display","none");
                    $("#evaluation5img").css("display","none");
                    $("#evaluation4").css("background-color","#41C7DB");
                    $("#evaluation4").css("font-weight","bold");
                    $("#evaluation2").css("font-weight","normal");
                    $("#evaluation3").css("font-weight","normal");
                    $("#evaluation1").css("font-weight","normal");
                    $("#evaluation5").css("font-weight","normal");
                    $("#evaluation2").css("background-color","white");
                    $("#evaluation3").css("background-color","white");
                    $("#evaluation1").css("background-color","white");
                    $("#evaluation5").css("background-color","white");
                }else {
                    evalu1 = null;
                    $("#evaluation4img").css("display","none");
                    $("#evaluation4").css("font-weight","normal");
                    $("#evaluation4").css("background-color","white");
                }
                 $('#evaluation4').prop('data-select', evaluation4Value);
                 if(evaluation1Value == 0 && evaluation2Value == 0 && evaluation3Value == 0 && evaluation4Value ==0 && evaluation5Value == 0){
                 $("#evaluation1").prop('data-select',0);
                 $("#evaluation2").prop('data-select',0);
                 $("#evaluation3").prop('data-select',0);
                 $("#evaluation4").prop('data-select',0);
                 $("#evaluation5").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_DE_Top_add' %}",{"desp1":desp1,"dep1":dep1,"evalu1":evalu1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });
            $("#evaluation5").click(function (){
                evaluation5Value = $('#evaluation5').prop('data-select');
                if (evaluation5Value == undefined || evaluation5Value == 0 || evaluation2Value == 1 || evaluation3Value ==1 || evaluation4Value == 1 || evaluation1Value == 1) {
                    evaluation5Value = 1;
                    evaluation2Value = 0;
                    evaluation3Value = 0;
                    evaluation4Value = 0;
                    evaluation1Value = 0;
                }else {
                    evaluation5Value = 0;
                }
                if(evaluation5Value == 1){
                    evalu1 = $(this).text();
                    $("#evaluation5img").css("display","inline");
                    $("#evaluation2img").css("display","none");
                    $("#evaluation3img").css("display","none");
                    $("#evaluation4img").css("display","none");
                    $("#evaluation1img").css("display","none");
                    $("#evaluation5").css("background-color","#41C7DB");
                    $("#evaluation5").css("font-weight","bold");
                    $("#evaluation2").css("font-weight","normal");
                    $("#evaluation3").css("font-weight","normal");
                    $("#evaluation4").css("font-weight","normal");
                    $("#evaluation1").css("font-weight","normal");
                    $("#evaluation2").css("background-color","white");
                    $("#evaluation3").css("background-color","white");
                    $("#evaluation4").css("background-color","white");
                    $("#evaluation1").css("background-color","white");
                }else {
                    evalu1 = null;
                    $("#evaluation5img").css("display","none");
                    $("#evaluation5").css("font-weight","normal");
                    $("#evaluation5").css("background-color","white");
                }
                 $('#evaluation5').prop('data-select', evaluation5Value);
                 if(evaluation1Value == 0 && evaluation2Value == 0 && evaluation3Value == 0 && evaluation4Value ==0 && evaluation5Value == 0){
                 $("#evaluation1").prop('data-select',0);
                 $("#evaluation2").prop('data-select',0);
                 $("#evaluation3").prop('data-select',0);
                 $("#evaluation4").prop('data-select',0);
                 $("#evaluation5").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_DE_Top_add' %}",{"desp1":desp1,"dep1":dep1,"evalu1":evalu1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });
            });
    </script>
</html>