<!DOCTYPE html>
<html style="height: 100%">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/enlanguage.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>end</title>
</head>
<body>
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
	</div>

	<div class="bannder15">
		
	</div>

	<div class="main" style="margin-left: 30%;">
	  <h2>***** Thanks a lot for your participantion! *****</h2>
	</div>
</body>
</html>