<!DOCTYPE html>
<html style="height: 100%">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>post-test 3</title>
</head>
<body>
<form action="{% url 'classification:AddPost3BEn' %}" method="post">
    {% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
			<input type="submit" name="" value="Next" onclick="" id="butt-next">
	</div>

	<div class="bannder14">
		
	</div>

	<div class="mainbody">
	  <div class="opptions">
          <br/>
		<p>Please answer the following questions.</p>
		<table id="tab2">
            <tr class="dark">
				<td><span style="margin-left: 35px;">Individual Task Performance</span><td>
			</tr>
             <tr class="white">
				<td><span style="margin-left: 35px;">To what extent do you agree or disagree with the following statement?</span><td>
			</tr>
			<tr class="white">
				<td><span style="margin-left: 35px;">1= extremely disagree; 7=extremely agree</span><td>
			</tr>
            <tr class="light">
                <td>
                    <span class="number">7.</span><span class="Ques">I understood the problems in the scenario of the task.</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="post7" value="1"><label class="labpositionshort">1</label></span>
                        <span class="seclow"><input type="radio" name="post7" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="post7" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="post7" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="post7" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="post7" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="post7" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white">
                <td>
                <span class="number">8.</span><span class="Ques">I had a structured solution for selecting the design techniques.</span>
                <span class="onelow">
                    <span class="seclow"><input type="radio" name="post8" value="1"><label class="labpositionshort">1</label></span>
                    <span class="seclow"><input type="radio" name="post8" value="2"><label class="labpositionshort">2</label></span>
                    <span class="seclow"><input type="radio" name="post8" value="3"><label class="labpositionshort">3</label></span>
                    <span class="seclow"><input type="radio" name="post8" value="4"><label class="labpositionshort">4</label></span>
                    <span class="seclow"><input type="radio" name="post8" value="5"><label class="labpositionshort">5</label></span>
                    <span class="seclow"><input type="radio" name="post8" value="6"><label class="labpositionshort">6</label></span>
                    <span class="seclow"><input type="radio" name="post8" value="7"><label class="labpositionshort">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light">
                <td>
                    <span class="number">9.</span><span class="Ques">I can explain the reasons for making the selection.</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="post9" value="1"><label class="labpositionshort">1</label></span>
                        <span class="seclow"><input type="radio" name="post9" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="post9" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="post9" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="post9" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="post9" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="post9" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white">
                <td>
                <span class="number">10.</span><span class="Ques">The selected design techniques can solve the identified problem in the scenario.</span>
                <span class="onelow">
                    <span class="seclow"><input type="radio" name="post10" value="1"><label class="labpositionshort">1</label></span>
                    <span class="seclow"><input type="radio" name="post10" value="2"><label class="labpositionshort">2</label></span>
                    <span class="seclow"><input type="radio" name="post10" value="3"><label class="labpositionshort">3</label></span>
                    <span class="seclow"><input type="radio" name="post10" value="4"><label class="labpositionshort">4</label></span>
                    <span class="seclow"><input type="radio" name="post10" value="5"><label class="labpositionshort">5</label></span>
                    <span class="seclow"><input type="radio" name="post10" value="6"><label class="labpositionshort">6</label></span>
                    <span class="seclow"><input type="radio" name="post10" value="7"><label class="labpositionshort">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light">
                <td>
                    <span class="number">11.</span><span class="Ques">The design techniques that I selected positively impact the task goal achievement.</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="post11" value="1"><label class="labpositionshort">1</label></span>
                        <span class="seclow"><input type="radio" name="post11" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="post11" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="post11" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="post11" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="post11" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="post11" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white">
                <td>
                <span class="number">12.</span><span class="Ques">The selected design techniques focused on the requirements of the task.</span>
                <span class="onelow">
                    <span class="seclow"><input type="radio" name="post12" value="1"><label class="labpositionshort">1</label></span>
                    <span class="seclow"><input type="radio" name="post12" value="2"><label class="labpositionshort">2</label></span>
                    <span class="seclow"><input type="radio" name="post12" value="3"><label class="labpositionshort">3</label></span>
                    <span class="seclow"><input type="radio" name="post12" value="4"><label class="labpositionshort">4</label></span>
                    <span class="seclow"><input type="radio" name="post12" value="5"><label class="labpositionshort">5</label></span>
                    <span class="seclow"><input type="radio" name="post12" value="6"><label class="labpositionshort">6</label></span>
                    <span class="seclow"><input type="radio" name="post12" value="7"><label class="labpositionshort">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light">
                <td>
                    <span class="number">13.</span><span class="Ques">I can provid a clear recommendation for the selection of design techniques for the scenario.</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="post13" value="1"><label class="labpositionshort">1</label></span>
                        <span class="seclow"><input type="radio" name="post13" value="2"><label class="labpositionshort">2</label></span>
                        <span class="seclow"><input type="radio" name="post13" value="3"><label class="labpositionshort">3</label></span>
                        <span class="seclow"><input type="radio" name="post13" value="4"><label class="labpositionshort">4</label></span>
                        <span class="seclow"><input type="radio" name="post13" value="5"><label class="labpositionshort">5</label></span>
                        <span class="seclow"><input type="radio" name="post13" value="6"><label class="labpositionshort">6</label></span>
                        <span class="seclow"><input type="radio" name="post13" value="7"><label class="labpositionshort">7</label></span>
                    </span>
                </td>
            </tr>
		</table>
	</div>
	</div>
    </form>
</body>
</html>