<!DOCTYPE html>
<html style="height: 100%">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>post-test 3</title>
</head>
<body>
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
			<input type="submit" name="" value="Next" onclick="" id="butt-next">
	</div>

	<div class="bannder14">
		
	</div>

	<div class="mainbody">
	  <div class="opptions">
		<p>Please answer the following question</p>
		<table id="tab2">
			<tr class="dark">
				<td><span style="margin-left: 35px;">您同意或不同意以下声明的程度如何？ 1 =极不赞同; 7 =非常赞同</span><td>
			</tr>
            {% que in qus %}
			<tr class="light">
				<td><form>
				<span class="number">1.</span><span class="Ques">我对设计技术非常了解。</span>
				<span class="onelow">
				<span class="seclow"><input type="radio" name="sex" value="" checked><label class="labposition">1  </label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">2</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">3</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">4</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">5</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">6</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">7</label></span>
				</span>
				</form> </td>
			</tr>
			<tr class="white">
				<td><form >
				<span class="number">2.</span><span class="Ques">在一个团队中，我是使用设计技术的专家之一。</span>
				<span class="onelow">
				<span class="seclow"><input type="radio" name="sex" value="" checked><label class="labposition">1  </label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">2</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">3</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">4</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">5</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">6</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">7</label></span>
				</span>
				</form></td>
			</tr>
			<tr class="light">
				<td><form>
				<span class="number">1.</span><span class="Ques">与团队中的大多数成员相比，我对设计技术知之甚少。</span>
				<span class="onelow">
				<span class="seclow"><input type="radio" name="sex" value="" checked><label class="labposition">1  </label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">2</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">3</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">4</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">5</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">6</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">7</label></span>
				</span>
				</form> </td>
			</tr>
			<tr class="white">
				<td><form >
				<span class="number">2.</span><span class="Ques">当使用设计技术时，我真的不知道很多。</span>
				<span class="onelow">
				<span class="seclow"><input type="radio" name="sex" value="" checked><label class="labposition">1  </label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">2</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">3</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">4</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">5</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">6</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">7</label></span>
				</span>
				</form></td>
			</tr>
			<tr class="light">
				<td><form>
				<span class="number">1.</span><span class="Ques">我对设计技术不是很了解。</span>
				<span class="onelow">
				<span class="seclow"><input type="radio" name="sex" value="" checked><label class="labposition">1  </label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">2</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">3</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">4</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">5</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">6</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">7</label></span>
				</span>
				</form> </td>
			</tr>
			<tr class="white">
				<td><form >
				<span class="number">2.</span><span class="Ques">我有很多设计技术的经验。</span>
				<span class="onelow">
				<span class="seclow"><input type="radio" name="sex" value="" checked><label class="labposition">1  </label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">2</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">3</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">4</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">5</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">6</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">7</label></span>
				</span>
				</form></td>
			</tr>
			<tr class="light">
				<td><form>
				<span class="number">1.</span><span class="Ques">我对设计技术很熟悉。</span>
				<span class="onelow">
				<span class="seclow"><input type="radio" name="sex" value="" checked><label class="labposition">1  </label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">2</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">3</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">4</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">5</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">6</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">7</label></span>
				</span>
				</form> </td>
			</tr>
			<tr class="white">
				<td><form >
				<span class="number">2.</span><span class="Ques">在解决问题时，我把重点放在对象，属性，类别上。</span>
				<span class="onelow">
				<span class="seclow"><input type="radio" name="sex" value="" checked><label class="labposition">1  </label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">2</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">3</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">4</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">5</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">6</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">7</label></span>
				</span>
				</form></td>
			</tr>
			<tr class="light">
				<td><form>
				<span class="number">1.</span><span class="Ques">在解决问题时，我运用基于类别的规则来预测和解释对象的行为。</span>
				<span class="onelow">
				<span class="seclow"><input type="radio" name="sex" value="" checked><label class="labposition">1  </label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">2</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">3</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">4</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">5</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">6</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">7</label></span>
				</span>
				</form> </td>
			</tr>
			<tr class="white">
				<td><form >
				<span class="number">2.</span><span class="Ques">我发现很容易学习类别。</span>
				<span class="onelow">
				<span class="seclow"><input type="radio" name="sex" value="" checked><label class="labposition">1  </label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">2</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">3</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">4</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">5</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">6</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">7</label></span>
				</span>
				</form></td>
			</tr>
			<tr class="light">
				<td><form>
				<span class="number">1.</span><span class="Ques">In what age group are you?</span>
				<span class="onelow">
				<span class="seclow"><input type="radio" name="sex" value="" checked><label class="labposition">1  </label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">2</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">3</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">4</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">5</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">6</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">7</label></span>
				</span>
				</form> </td>
			</tr>
			<tr class="white">
				<td><form >
				<span class="number">2.</span><span class="Ques">Gender</span>
				<span class="onelow">
				<span class="seclow"><input type="radio" name="sex" value="" checked><label class="labposition">1  </label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">2</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">3</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">4</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">5</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">6</label></span>
				<span class="seclow"><input type="radio" name="sex" value=""><label class="labposition">7</label></span>
				</span>
				</form></td>
			</tr>

		</table>
	</div>
	</div>
</body>
</html>