<!DOCTYPE html>
<html style="overflow-y: hidden;">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/enlanguage.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <title>TaskDetail1</title>
</head>
<body>
<form method="post" action="{% url 'classification:SwitchEN' %}" class="longform">
{% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">6
				<p>Welcome to the Online Experiment</p>
			</div>
			<input type="submit" name="" value="Next" onclick="jumpen3()" id="butt-next">
	</div>

	<div class="bannder12"></div>

	<div class="main-upen">
	  <h3>You are now working in a team for developing a mobile App for booking movie tickets.</h3>
        {% for task in taskdes  %}
            <h4>Task {{ task.id }}</h4>
	        <p>{{ task.Description }}</p>
        {% endfor %}
	  <h4>Please using the following website to select three design techniques for this scenario.</h4>
	</div>
    </form>
</body>
</html>