<!DOCTYPE html>
<html style="overflow-y: hidden;">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <title>post-test 3</title>
</head>
<body>
<form method="post" action="{% url 'classification:Checkup' %}" class="longform">
    {% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
			<input type="submit" name="" value="下一步" onclick="jumpcn6();" id="butt-next">
	</div>

	<div class="bannder10">
		
	</div>

	<div class="questionspage">
          <br>
		<p>请回答以下问题。</p>
		
		<table id="tab2">
			<tr class="dark">
				<td><span class="number">No.</span><span class="Ques">Question</span><td>
			</tr>

            <tr class="white">
                <td>
                    <span class="number">1.</span><span class="Ques">这项任务的目的是什么？</span>
                    <span class="onelowde">
                        <span class="seclowlong"><input type="radio" name="test1" value="1"><label class="labpositionlong">为场景选择合适的设计技术</label></span>
                        <span class="seclowlong"><input type="radio" name="test1" value="2"><label class="labpositionlong">描述一个设计场景</label></span>
                    </span>
                </td>
            </tr>
            <tr class="light">
                <td>
                <span class="number">2.</span><span class="Ques">你会在网页的哪个部分看到任务的描述？</span>
                <span class="onelowde">
                    <span class="seclowlong"><input type="radio" name="test2" value="1"><label class="labpositionlong">在页面的左边</label></span>
                    <span class="seclowlong"><input type="radio" name="test2" value="2"><label class="labpositionlong">在页面的右边</label></span>
                </span>
                </td>
            </tr>
            <tr class="white">
                <td>
                    <span class="number">3.</span><span class="Ques">你将在页面的哪个部分看到过滤的类别？</span>
                    <span class="onelowde">
                        <span class="seclowlong"><input type="radio" name="test3" value="1"><label class="labpositionlong">在页面的左边</label></span>
                        <span class="seclowlong"><input type="radio" name="test3" value="2"><label class="labpositionlong">在页面的右边</label></span>
                    </span>
                </td>
            </tr>
                  <tr class="white" style="height: 2px;">
                <td></td>
            </tr>
		</table>
	</div>
	</div>
</form>
</body>
</html>