form{
	height: 93%;
	width: 100%;
}
html{
	height: 100%;
}
body{
	height: 100%;
	overflow-y: hidden;
	margin:0px;
}

.languagechose{
	margin-top:15%;
}

.languagechose p{
	width:25%;
	margin:0 auto;
	text-align: center;
	line-height: 35px;
}

.intro{
	margin-left: 20%;
	margin-top: 150px;
	width: 750px;
	word-wrap:break-word;
}

.intro-en {
	margin-left: 23%;
	margin-top: 15%;
	width: 750px;
	word-wrap:break-word;
}

.intro-ch{
	margin:0 auto;
	width: 700px;
	top:40%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
	position: fixed;
	word-break:break-all;
}

.intro-ch p{
	margin-top: 25px;
}

.intro-de {
	margin:0 auto;
	width: 900px;
	top:50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
	position: fixed;
	word-wrap:break-word;
}

.header{
	height: 45px;
	display: flex;
	text-align: center;
	align-items: center;
	border-bottom: 2px gray solid;
	position:fixed;
	width: 100%;
	top:0px;
	background-color: white;
}

.header p{
	font-size: 23px;
	white-space:nowrap;
	margin-left: 5px;
	display:inline;
}

.timing{
	height: 45px;
	/*background-color: green;*/
	width: 150px;
	right: 10%;
	position: fixed;
	top:1.5em;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}

.timing span{
	text-align: center;
	line-height: 45px;
	margin:auto auto;
}

.header input{
	border-radius: 7px;
	/*margin-left: 20px;*/
	width: 60px;
	height: 30px;
	font-size: 15px;

}

.bannder1{
	background-color: #00CED1;
	height: 10px;
	width: 5.88%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder2{
	background-color: #00CED1;
	height: 10px;
	width: 11.76%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder3{
	background-color: #00CED1;
	height: 10px;
	width: 17.65%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder4{
	background-color: #00CED1;
	height: 10px;
	width: 23.53%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder5{
	background-color: #00CED1;
	height: 10px;
	width: 29.41%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder6{
	background-color: #00CED1;
	height: 10px;
	width: 35.29%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder7{
	background-color: #00CED1;
	height: 10px;
	width: 41.18%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder8{
	background-color: #00CED1;
	height: 10px;
	width: 47.06%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder9{
	background-color: #00CED1;
	height: 10px;
	width: 52.94%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder10{
	background-color: #00CED1;
	height: 10px;
	width: 58.82%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder11{
	background-color: #00CED1;
	height: 10px;
	width: 64.7%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder12{
	background-color: #00CED1;
	height: 10px;
	width: 70.59%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder13{
	background-color: #00CED1;
	height: 10px;
	width: 76.47%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder14{
	background-color: #00CED1;
	height: 10px;
	width: 82.35%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder15{
	background-color: #00CED1;
	height: 10px;
	width: 88.23%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder16{
	background-color: #00CED1;
	height: 10px;
	width: 94.12%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.bannder17{
	background-color: #00CED1;
	height: 10px;
	width: 100%;
	margin-top: 0.3px;
	position:fixed;
	top:47px;
}

.feet{
	height: 30px;
	width: 100%;
	background-color: gray;
}

.tab{
	top:52%;
	/*bottom: 120px;*/
	width: 300px;
	padding-right: 10px;
	position: fixed;
}

.tab td{
	text-align:center;
	width: 80px;
	padding-right: 20px;
	padding-left: 20px;
}

.tab a{
	text-decoration: none;
	color: black;
}

.colored{
	border-left: 3px solid;
	border-right: 3px solid;
	border-color: #0099cc;
}

.instruction-ch{
	width: 800px;
	margin:0 auto;
	margin-top: 180px;
}

.instruction-ch p{
	margin:0 auto;
	width: 500px;
	margin-top: 20px;
}

.log_in-ch{
	width:900px;
	margin:0 auto;
}

.password{
	margin:0 auto;
	margin-left: 250px;
	width: 300px;
	height: 30px;
	margin-top: 15px;
	vertical-align:middle;
}

.instruction{
	width: 800px;
	margin:0 auto;
	margin-top: 120px;
	padding-left: 30px;
}

.instruction p,h9{
	margin:0 auto;
	width: 600px;
	margin-top: 10px;
	line-height:20px;
}

.instructionde{
	/*margin-left:10%;
	margin-top:3%;*/
	padding-left: 30px;
}

.instructionde p{
	/*margin:0 auto;
	width: 750px;
	line-height:25px;
	margin-left: 80px;
	line-height: 23px;
	margin-top:5px;
	margin-bottom: 1px;*/
	margin:0 auto;
}

.instructionde h9{
	/*margin:0 auto;*/
	width: 750px;
	margin-left: 80px;
	line-height:15px;
	margin-top:25px;
	margin-bottom:10px;
}

.instructionen{
	padding-top: 100px;
	margin:0 auto;
	width: 800px;
	height: 600px;
	padding-left: 30px;
}

.instructionen p{
	margin:0 auto;
	width: 800px;
	margin-left: 30px;
	margin-top: 10px;
	line-height:20px;
}
.instructionen h4{
	margin:0 auto;
	width: 800px;
	margin-left: 30px;
	margin-top: 25px;
	line-height:20px;
}

.light{
	width: 100%;
	background-color: #EEEEEE;
	vertical-align:middle;
	font-size: 1.0em;
	padding-bottom: 10px;
	padding-top: 10px;
}

.dark{
	background-color: #41C7DB;
	vertical-align:middle;
}

.white{
	vertical-align:middle;
	font-size: 1.0em;
	padding-bottom: 10px;
	padding-top: 10px;
}

.light td{
	vertical-align:middle;
}

.xiugai{
	display:inline-block;
	vertical-align: middle;
}

.labposition{
	display: inline-block;
	vertical-align: middle;
	width: 55px;
	font-size: 0.9em;
	padding: 0 auto;
}

.labpositionshort{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	font-size: 0.9em;
	padding: 0 auto;
}

.labpositionlong{
	display: inline-block;
	vertical-align: middle;
	width: 160px;
	font-size: 1em;
	padding: 0 auto;
}

.labpositionde{
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	font-size: 1em;
	padding: 0 auto;
}
.seclow{
	display:inline-block;
	vertical-align: middle;
	margin-right: 1px;
}

.seclowlong{
	display:inline-block;
	vertical-align: middle;
	margin-left: 80px;
}

.seclowde{
	display:inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

.introde-page{
	width:1300px;
	margin: 0 auto;
	overflow-y:hidden;
	height: 100%;
	margin-top: 55px;
	z-index: -9999;
}

.introde-page p{
	margin-left: 50px;
}

.introde-form{
	overflow-y: auto;
	height: 100%;
}

.longform{
	height: 98%;
	overflow-y: auto;
}

.number{
	width: 25px;
	display:inline-block;
	vertical-align:middle;
}

.Ques{
	width: 500px;
	display:inline-block;
	vertical-align:middle;
	font-size: 1.0em;
}

.onelow{
	margin-left: 10%;
	display:inline-block;
	vertical-align:middle;
}

.onelowde{
	width: 600px;
	margin-left: 55px;
	display:inline-block;
	vertical-align:middle;
}

.onelowdelong{
	width: 600px;
	margin-left: 60px;
	display:inline-block;
	vertical-align:middle;
}

.onelowen{
	margin-left: 10px;
	display:inline-block;
	vertical-align:middle;
}

.onelowen1{
	margin-left: 11%;
	display:inline-block;
	vertical-align:middle;
}

.kitlogo{
	float: left;
	display: flex;
	text-align: center;
	align-items: center;
	position: relative;
	/*background-color: yellow;*/
}

.kitlogo img{
	width: 100px;
	height: 35px;
}

#butt-next{
    margin-left: 50%;
    text-align: center;
    margin-top: 40px;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}

#butt-next-detail{
    margin-left: 20%;
    text-align: center;
    margin-top: 40px;
	visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}
.mainbody{
	overflow-x:hidden;
	height: 100%;
	margin-top: 55px;
	width: 100%;
	z-index: -9999;
}

.tesinput{
	border-radius: 7px;
	width: 75px;
	height: 40px;
	font-size: 1em;
}

.mainbodyde{
	overflow-x:hidden;
	height: 95%;
	margin-top: 55px;
	width: 100%;
	z-index: -9999;
}

.select-area{
	overflow-x:hidden;
	height: 98%;
	margin-top: 55px;
	width: 100%;
	z-index: -9999;
}

.mainbodyb{
	overflow-x: hidden;
	overflow-y: auto;
	height: 570px;
	margin-top: 60px;
	z-index: -9999;
}

.mainbodyb p{
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.mainbody p{
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main{
	margin-left: 40%;
	margin-top: 15%;
	padding-top:60px;
}

.main-de{
	margin-left: 15%;
	margin-top: 12%;
	width: 75%;
}

.main-de p{
	width: 60%;
     margin-left:20%;
    line-height: 25px;
}

.main-de h4{
	width: 60%;
     margin-left:20%;
    line-height: 25px;
}
.main-upen{
	width: 1200px;
	background-color: white;
	margin:0 auto;
	margin-top: 12%;
}

.maincn{
	margin-left: 28%;
	margin-top: 200px;
	width: 650px;
}

.maincn p,h3{
	margin-left: 20px;
	width:650px;
	margin-top:20px;
}

.mainde{

	width:auto;
}
.teches{
	position: relative;
	float: left;
	width: 67%;
	border-radius: 7px 7px 0px 0px;
	height: 100%;
}

.teches1{
	position: relative;
	float: left;
	width: 67%;
	border-radius: 7px 7px 0px 0px;
	height: 450px;
	margin-top:10px;
}
.selected{

	float: right;
	width: 18%;
	height: 100%;
	position: relative;
	/*position: fixed;
	top:7%;
	right:2%;*/
}

.taskdiscription{
	width: 90%;
	margin-top: 0;

}

.taskdiscription p{
	margin-top: 5px;
	line-height: 25px;
	font-size: 15px;
	margin-left: 5px;
}

.taskdiscription h4{
	margin-bottom: 2px;
	margin-top: 15px;
}

.taskdiscriptionen{
	margin-left:5%;
	width: 90%;
	margin-top: 0;

}

.taskdiscriptionen p{
	margin-top: 5px;
	line-height: 23px;
	font-size: 15px;
	margin-left: 5px;
}

.taskdiscriptionen h4{
	margin-bottom: 2px;
	margin-top: 15px;
}

.tasks{
	position: relative;
	width: 100%;
	height: 50px;
	/*background-color: yellow;*/
	margin:0 auto;
	overflow: auto;
	border-bottom: 1px gray solid;
}

.testes{
	position: relative;
	width: 90%;
	height: 100%;
	float: left;
	margin-left: 5%;
	border:2px solid black;
    background-color: green;
    overflow: auto;
}

.top-down{
	width: 15%;
	float: left;
	margin: 0 auto;
	overflow:auto;
}

.top-down dl{
	padding-top: 3px;
}

.top-down dt{
	margin-bottom:10px;
	margin-top: 0px;
	font-size: 18px;
	margin-left: 15px;
	font-weight: bold;
}

.top-down dd{
	display:inline-block;
	border-radius: 15px;
	font-size: 16px;
	height: 30px;
	width: auto;
	font-weight: bold;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 15px;
	margin-left: 30px;
}

#top1{
	margin-left: 15px;
	display: inline-block;
	vertical-align:middle;
    visibility: hidden;
}

#top2{
    margin-left: 15px;
	display: inline-block;
	vertical-align:middle;
    visibility: hidden;
}

.hiddeimg{
	right: 5px;
	visibility: hidden;
}

.hiddeimga{
	margin-left: 15px;
	display:none;
}

.top-down dd:hover{
	color: dodgerblue;
	font-weight: bold;
	cursor: pointer;
}

.top-down a{
	text-decoration: none;
	color: black;
}

.Categories{
	width: 15%;
	float: left;
	margin: 0 auto;
	overflow:hidden;
}

.Categories dl{
	position: relative;
	margin-top:3px;
	margin-left: 0px;
}

.Categories dt{
	margin-bottom: 10px;
}

.Categories dd{
	margin-top: 10px;
	width: auto;
	border-radius: 17px;
	float: left;
	margin-left: 0px;
	padding:1px 6px 1px 6px;
}

.Categories dd:hover{
	color: dodgerblue;
	font-weight: bold;
	cursor: pointer;
}


.Categoriesen{
	width: 15%;
	float: left;
	margin: 0 auto;
	overflow:hidden;
}

.Categoriesen dl{
	position: relative;
	margin-top:3px;
	margin-left: 0px;
}

.Categoriesen dt{
	margin-bottom: 10px;
}

.Categoriesen dd{
	margin-top: 10px;
	width: auto;
	border-radius: 17px;
	float: left;
	margin-left: 0px;
	padding:1px 6px 1px 6px;
}

.Categoriesen dd:hover{
	color: dodgerblue;
	font-weight: bold;
	cursor: pointer;
}

.Attribute{
	background-color: #ADADAD;
}

.tone{
	color: #41C7DB;
	font-weight: bold;
	line-height: 30px;
}
.entone{
	color: #41C7DB;
	font-weight: bold;
	line-height: 20px;
}

table{
	width: 1200px;
	margin:0 auto;
}

.questionspage{
	width: 1200px;
	background-color: white;
	margin:0 auto;
	margin-top: 58px;
}
.teches td{
	/*cursor: pointer;*/
	width: 25%;
	height: 300px;
	position: relative;

}

.tech{
	width: 100%;
	height: 8000px;
	cursor:hand;
	border: 1.5px solid gray;
	border-radius: 7px 7px 0px 0px;
}

.tech h4{
	margin-top: 0px;
	font-size: 14px;
	height: 50px;
	border-radius: 8px 8px 0 0;
	width: 85%;
	display:inline-block;
	vertical-align:middle;
	margin-left: 3px;
}

.contenting{
	margin-top: 0px;
	height: 260px;
	overflow: hidden;
	position:relative;
}

.contenting p{
	font-size: 15px;
	margin: 0 auto;
	width: 98%;
	padding-left: 5px;
	margin-top: 0px;
	/*text-align: center;   保留的话对齐方式不一样，最终根据描述的长度看哪种样式好看*/
}

.sstyle{
	background-color: #6495ED;
	height: 40px;
	/*border-radius: 7px 7px 0px 0px;*/
}

.showing{
	top: 0px;
	position:absolute;
	overflow-y: scroll;
	height: 260px;
	overflow-x: hidden;
	background-color: #ADD8E6;
    opacity: 0;
    display: block;
    font-size: 12px;
    transition: 0.3s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}

.showing p{
	font-size: 15px;
	margin: 0 auto;
	width: 98%;
	padding-left: 5px;
	margin-top: 0px;
	/*color: white;
	text-align: center;   保留的话对齐方式不一样，最终根据描述的长度看哪种样式好看*/
}

.contenting:hover  .showing{
  	color: #656e73;
    opacity: 1;
}

#colorshow{
	color:#0099CC;
}

.biaoge{
	left:2%;
	width: 90%;
}

.biaoge form{

	width: 95%;
}
.biaoge dl{
	position: relative;
	margin-top: 20px;
}

.biaoge dt{
	margin-bottom: 10px;
	font-size: 15px;
}

.biaoge dd{
	width: auto;
	max-width: 220px;
	height: auto;
	background-color: #41C7DB;
	border-radius: 17px;
	margin-top:5px;
	padding:5px 5px 5px 5px;
	float: left;
	margin-left: 0%;
	display: none;
	font-size: 11px;
}

.biaoge img{
	float: right;
	vertical-align:middle;
}



#butt-next:hover{
	background-color: #41C7DB;
	cursor: pointer;
}

#butt-next-detail:hover{
	background-color: #41C7DB;
	cursor: pointer;
}

.bbotton:hover{
	cursor: pointer;
	background-color: #41C7DB;
}

.choice{
	height: 500px;
	display: table;
	text-align: center;
}

.choice span{
	display: table-cell;
	vertical-align: middle;
}

.flag{
	width: 100%;
	height: 200px;
	display: inline-block;
	float: left;
	margin-left: 15%;
}

.flag img{
	width: 250px;
	height: 180px;
	margin-left: 25px;
}

.flag p{
	margin-top:30px;
}

.log{
	width: 100%;
	height: 450px;
	display: table;
	text-align: center;
}

.log span{
	display: table-cell;
	vertical-align: middle;
}

.log-in{
	margin:0 auto;
	margin-top: 15%;
	width: 1200px;
}

.log-in-ch{
	margin:0 auto;
	margin-top: 13%;
	width: 1200px;
}

.log-in p{
	width: 800px;
}
.log-in-ch p{
	line-height: 45px;
	margin:0 auto;
	width: 550px;
}

.logp{
	margin: 0 auto;
	min-width: 500px;
	max-width: 800px;
}

.log_in{
	margin:0 auto;
	width: 1200px;
}

.log_inp{
	width: 800px;
	margin:0 auto;
	text-align: center;
}

.log_input{
	margin:0 auto;
	text-align: center;
}

input[type="radio"] {
            width: 15px;
            height: 15px;
        }

.log_in input{
	border:1px solid;
	padding-right:5px;
	margin:0 auto;
	height: 25px;
    margin-top: 25px;
	width: 300px;
	vertical-align:middle;
}

.inputtext{
	border: 3px solid;
}
.log_inde input{
	height: 25px;
    margin-top: 25px;
	width: 300px;
	vertical-align:middle;
	margin-left:20%;
}

#backpng{
	width: 50%;
	height: 50%;
}

.back-blank{
	margin:0 auto;
	overflow: hidden;
	width: 1200px;
	width: 1200px;
	height: 500px;
	background-image: url(../img/CH-Blank.png);
}

.back-blanking{
	margin:0 auto;
	width: 1200px;
	height: 500px;
	background-image: url(../img/CH-Blank.png);
}

.back-bottom{
	margin:0 auto;
	overflow: hidden;
	width: 1200px;
	width: 1200px;
	height: 500px;
	background-image: url(../img/CH-Bottom-up.png);
}

.indexbody{
	font-size:1.5em;
	text-align: center;
	width: 1000px;
	margin:0 auto;
	background-color: white;
	position: fixed;
	top:50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}

.endpage{
	margin:0 auto;
	text-align: center;
	width: 1000px;
	height: 100%;
}

.endpage h2{
	width: 1000px;
	text-align: center;
	margin-top:30%;
}

.index{
	margin:0 auto;
	margin-top:12%;
	width: 700px;
}

.index p{
	line-height: 30px;
}

.index-instru{
	margin:0 auto;
	margin-top:5%;
	width: 700px;
}

.index-instruch {
	margin: 0 auto;
	margin-top: 5%;
	width: 700px;
}

.index-instru p{
	line-height: 30px;
}

.index-instruch p{
	line-height: 20px;
}
.quest-input{
	width: 100px;
	margin-left: 20px;
	border-left: 2px groove;
	border-bottom: 2px groove;
	border-top: 2px groove;
	border-right: 2px groove;
	outline: none;
}
.index-table{
	margin: 0 auto;
	text-align: center;
}

.index-table td{
	text-align:center;
}

.index-table a{
	text-decoration: none;
}
.index-table table{
		margin: 0 auto;
		width:300px;
		padding-left:5px;
		text-align: center;
		margin-top:20px;
}
.back-tag{
	margin:0 auto;
	overflow: hidden;
	width: 1200px;
	height: 500px;
	background-image: url(../img/CH-Tag-Cloud.png);
}

.back-top{
	margin:0 auto;
	overflow: hidden;
	width: 1200px;
	width: 1200px;
	height: 500px;
	background-image: url(../img/CH-Top-down.png);
}

.backtesten{
	margin:0 auto;
	overflow: hidden;
	width: 1200px;
	height: 500px;
	background-image: url(../img/EN-Blank.png);
}

.backtesten p{
	margin-left: 50px;
}

.topen{
	margin:0 auto;
	overflow: hidden;
	width: 1200px;
	height: 500px;
	background-image: url(../img/EN-Top-down.png);
}

.bottomen{
	margin:0 auto;
	overflow: hidden;
	width: 1200px;
	height: 500px;
	background-image: url(../img/EN-Bottom-up.png);
}

.tagen{
	margin:0 auto;
	overflow: hidden;
	width: 1200px;
	height: 500px;
	background-image: url(../img/EN-Tag-Cloud.png);
}
#showbutton{
	width: 100px;
	height: 80px;
	background-color: #009ACD;
	display: inline-block;
	margin:180px 550px;
	border-radius: 7px;
	cursor: pointer;
}

#showbutttest{
	width: 150px;
	height: 80px;
	background-color: #009ACD;
	display: inline-block;
	margin:180px 520px;
	border-radius: 7px;
	cursor: pointer;
	visibility: visible;
}

#showbig{
	width: 200px;
	height: 160px;
	background-color: #009ACD;
	display: inline-block;
	margin:100px 550px;
	border-radius: 7px;
	cursor: pointer;
}

#showbuttonen{
	width: 150px;
	height: 80px;
	background-color: #009ACD;
	display: inline-block;
	margin:180px 550px;
	border-radius: 7px;
	cursor: pointer;
}

.touming{
	width: 1000px;
	height: 500px;
	background-color: gray;
	filter:alpha(Opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
}

.bbotton{
	width: 50px;
	height: 30px;
	border-radius: 7px;
}

#part1{
	background-color: #696969;
	position: relative;
	width: 160px;
	height: 460px;
	float: left;
	margin-top: -33%;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}

#part1cloud{
	background-color: #696969;
	position: relative;
	width: 160px;
	height: 460px;
	float: left;
	margin-top: -28%;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}

#part1cloud p{
	margin: 0 auto;
	padding-top: 25px;
	width: 90%;
	color: white;
}
#part1tag{
	background-color: #696969;
	position: relative;
	width: 160px;
	height: 460px;
	float: left;
	margin-top: -33%;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}
#part1tag p {
	margin: 0 auto;
	padding-top: 25px;
	width: 90%;
	color: white;
}

#part1img{
	background-color: #696969;
	position: relative;
	width: 160px;
	height: 465px;
	float: left;
	margin-top: -28%;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}

#pbutton1{
	width: 65px;
	height: 35px;
	margin-top: 250px;
	margin-left: 55%;
	filter:alpha(Opacity=100);
	-moz-opacity:1;
	opacity: 1;
}

#part1 p{
	margin: 0 auto;
	padding-top: 25px;
	width: 90%;
	color: white;
}

#part1img p{
	margin: 0 auto;
	padding-top: 25px;
	width: 90%;
	color: white;
}

#part2{
	margin-top: -33%;
	margin-left: 28px;
	background-color: #696969;
	position: relative;
	width: 760px;
	height: 450px;
	float:left;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}

#part2cloud{
	margin-top: -28%;
	margin-left: 28px;
	background-color: #696969;
	position: relative;
	width: 760px;
	height: 460px;
	float:left;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}
#part2cloud p{
	color: white;
	width: 90%;
	margin:0 auto;
	padding-top: 30px;
}

#part2tag{
	margin-top: -33%;
	margin-left: 28px;
	background-color: #696969;
	position: relative;
	width: 760px;
	height: 460px;
	float:left;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}

#part2tag p{
	color: white;
	width: 90%;
	margin:0 auto;
	padding-top: 30px;
}

#part2up{
	margin-top: -33%;
	margin-left: 28px;
	background-color: #696969;
	position: relative;
	width: 760px;
	height: 460px;
	float:left;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}

#part2up p{
	color: white;
	width: 90%;
	margin:0 auto;
	padding-top: 30px;
}

#part2B{
	margin-top: -33%;
	margin-left: 185px;
	background-color: #696969;
	position: relative;
	width: 760px;
	height: 460px;
	float:left;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}

#part2B p{
	color: white;
	width: 90%;
	margin:0 auto;
	padding-top: 30px;
}
#part2Bing{
	margin-top: -28%;
	margin-left: 185px;
	background-color: #696969;
	position: relative;
	width: 760px;
	height: 450px;
	float:left;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;

}

#part2Bing p{
	color: white;
	width: 90%;
	margin:0 auto;
	padding-top: 30px;
}

#pbutton2{
	width: 75px;
	height: 35px;
	margin-top: 250px;
	margin-left: 88%;
}

#part2 p{
	width: 90%;
	margin-left: 80px;
	margin-top: 30px;
	color: white;
}

#part2B p{
	width: 90%;
	margin-left: 80px;
	margin-top: 30px;
	color: white;
}

#part3{
	visibility: hidden;
	margin-top: -465px;
	background-color: #696969;
	width: 195px;
	height: 260px;
	float: left;
	margin-left: 975px;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
}

#part3 p{
	width: 90%;
	margin:0 auto;
	padding-top: 30px;
	color: white;
}

#part3T{
	visibility: hidden;
	margin-top: -465px;
	background-color: #696969;
	width: 195px;
	height: 250px;
	float: left;
	margin-left: 975px;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
}

#part3T p{
	width: 90%;
	margin:0 auto;
	padding-top: 30px;
	color: white;
}

#part3S{
	visibility: hidden;
	margin-top: -38%;
	background-color: #696969;
	width: 195px;
	height: 180px;
	float: left;
	margin-left: 975px;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
}

#part3S p{
	width: 90%;
	margin:0 auto;
	padding-top: 30px;
	color: white;
}

#part3Stag{
	visibility: hidden;
	margin-top: -38%;
	background-color: #696969;
	width: 195px;
	height: 180px;
	float: left;
	margin-left: 975px;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
}

#part3Stag p{
	width: 90%;
	margin:0 auto;
	padding-top: 30px;
	color: white;
}

#part3S p{
	width: 90%;
	margin:0 auto;
	padding-top: 30px;
	color: white;
}
#part4{
	background-color: #696969;
	width: 190px;
	height: 150px;
	float: left;
	margin-left: 980px;
	margin-top: -17%;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}

#part4 p{
	width: 90%;
	margin:0 auto;
	padding-top: 30px;
	color: white;
}

#part4tag{
	background-color: #696969;
	width: 190px;
	height: 150px;
	float: left;
	margin-left: 980px;
	margin-top: -16%;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}

#part4tag p {
	width: 90%;
	margin: 0 auto;
	padding-top: 30px;
	color: white;
}

#part4T{
	background-color: #696969;
	width: 190px;
	height: 165px;
	float: left;
	margin-left: 980px;
	margin-top: -170px;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}


#pbutton3{
	width: 70px;
	height: 30px;
	margin-top: 50px;
	margin-left: 60%;
}

#part4 p{
	width: 90%;
	margin:0 auto;
	padding-top: 20px;
	color: white;
}

#part4T p{
	width: 90%;
	margin:0 auto;
	padding-top: 20px;
	color: white;
}

.lang:link{
	color: green;
}

.lang:visited{
	color: green;
}

.lang:hover{
	color: #0099CC;
}

.lang:active{
	color: green;
}

.reminder{
	margin-top: 25%;
	margin-left: 25%;
	background-color: red;
	width: 300px;
	height: 80px;
}

#endshow{
	margin-top: 10%;
	margin-left: 20%;
}

.topshow:hover{
	cursor: pointer;
}

.bottomup{
	width: 15%;
	float: left;
	margin-top: 10px;
}

.bottomup dt{
	width: auto;
	margin-left: 5px;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: 600;
}

.bottomup dd{
	display: inline-block;
	margin-bottom: 10px;
	font-size: 16px;
	margin-left: 30px;
	width:auto;
	border-radius: 14px;
	padding: 3px 10px;
	font-weight: 600;
}

.bottomup dd:hover{
	color: dodgerblue;
	cursor: pointer;
	font-weight: bold;
}

.mainbody a{
	text-decoration: none;
	color: black;
}

.bottomup ul{
	margin-top: 0px;
}
.bottomup li{
	display: inline-block;
	border-radius: 13px;
	margin-left: 20px;
	margin-bottom: 5px;
	font-size: 16px;
	width: auto;
	padding: 3px 10px;
	font-weight: bold;
	list-style-type:none;
}

.bottomup li:hover{
	color: dodgerblue;
	cursor: pointer;
}

#notshow{
	visibility: hidden;
}
.tiankong{
	width: 100px;
	border-left: 2px groove;
	border-bottom: 2px groove;
	border-top: 2px groove;
	border-right: 2px groove;
	outline: none;
}

.tiankong1{
	width: 70px;
	border-left: 2px groove;
	border-bottom: 2px groove;
	border-top: 2px groove;
	border-right: 2px groove;
	background-color:transparent;
	outline: none;
	margin-left: 14px;
}


.kongge{
	width: 30px;
	border-left: 0px;
	border-bottom: 1px solid;
	border-top: 0px;
	border-right: 0px;
	outline: none;
	
}

.postcard{
	width: 23.5%;
	height: 280px;
	float: left;
	margin-right: 5px;
	margin-top: 10px;
	border: 2px solid;
	border-color: gray;
	border-radius: 9px 9px 0px 0px;
}

.postcard p{
	margin-top: 0px;
}

.biaotich{
	margin-top: 0px;
	font-size: 14px;
	height: 40px;
	width: 83%;
	display:inline-block;
	vertical-align:middle;	
	border-radius: 9px 9px 0px 0px;
}

.biaoti{
	margin-top: 0px;
	font-size: 13px;
	height: 40px;
	width: 83%;
	display:inline-block;
	vertical-align:middle;	
	border-radius: 9px 9px 0px 0px;
}

.lantian img{
	float: right;
	right:1px;
}

.lantian{
	background-color: #F2F2F2;
	height:40px; 
}

.contented{
	font-size: 14px;
	margin-top: 0px;
	height: 245px;
	width: 100%;
	position:relative;
	word-wrap:break-word;
}

.contenteden{
	font-size: 14px;
	margin-top: 0px;
	height: 245px;
	width: 100%;
	position:relative;
	word-wrap:break-word;
}

.contenteden p{
	margin-left: 3px;
	padding-top:3px;
	width: 98%;
	height: 100%;
	word-wrap:break-word;
}

.contented p{
	margin-left: 3px;
	padding-top:3px;
	width: 98%;
	height: 100%;
    font-size: 13px;
	word-wrap:break-word;
}

.showed{
	top: 0px;
	position:absolute;
	width: 100%;
	overflow-y: scroll;
	height: 240px;
	overflow-x: hidden;
    opacity: 0;
    display: block;
    font-size: 12px;
    transition: 0.3s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}

.showed p{
	font-size: 15px;
	margin: 0 auto;
	width: 95%;
	padding-left: 5px;
}

.contented:hover  .showed{
    opacity: 1;
    background-color: #CCCCCC;
}

.contenteden:hover  .showed{
    opacity: 1;
    background-color: #CCCCCC;
}
.tijiao{
	max-width: 150px;
	max-height: 50px;
	border:0px;
	background-color:transparent;
	outline: none;
	overflow: visible;
}

.biaoge input{
	max-width: 180px;
	max-height: 50px;
	overflow-y: visible;
	overflow-x: visible;
}

#enpart1{
	background-color: #696969;
	position: relative;
	width: 170px;
	height: 450px;
	float: left;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
	margin-top: -28%;
}

#Eenpart1{
	background-color: #696969;
	position: relative;
	width: 170px;
	height: 450px;
	float: left;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
	margin-top: -33%;
}

#Eenpart1 p{
	margin: 0 auto;
	padding-top: 25px;
	width: 90%;
	color: white;
}
#enpbutton1{
	width: 65px;
	height: 35px;
	margin-top: 180px;
	margin-left: 55%;
	filter:alpha(Opacity=100);
	-moz-opacity:1;
	opacity: 1;
}

#enpart1 p{
	margin: 0 auto;
	padding-top: 25px;
	width: 90%;
	color: white;
}

#enpart2{
	margin-left: 1%;
	display: inline-block;
	background-color: #696969;
	position: relative;
	width: 780px;
	height: 460px;
	float:left;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	margin-top:-28%;
	visibility: hidden;
	display: inline-block;
}

#Eenpart2{
	margin-left: 1%;
	background-color: #696969;
	position: relative;
	width: 780px;
	height: 460px;
	float:left;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	margin-top:-33%;
	visibility: hidden;
	display: inline;
}

#enpart2 p{
	width: 90%;
	margin-left: 40px;
	margin-top: 30px;
	color: white;
}

#Eenpart2 p{
	width: 90%;
	margin-left: 40px;
	margin-top: 30px;
	color: white;
}

#enpbutton2{
	width: 75px;
	height: 35px;
	margin-top: 150px;
	margin-left: 88%;
}

#enpart3{
	margin-top: -38%;
	background-color: #696969;
	width: 195px;
	height: 280px;
	float: left;
	margin-left: 975px;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}

#Eenpart3{
	margin-top: -38%;
	background-color: #696969;
	width: 195px;
	height: 280px;
	float: left;
	margin-left: 975px;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}

#enpart3 p{
	width: 90%;
	margin:0 auto;
	padding-top: 30px;
	color: white;
	margin-top: -15px;
}

#Eenpart3 p{
	width: 90%;
	margin:0 auto;
	padding-top: 30px;
	color: white;
	margin-top: -15px;
}

#enpart4{
	background-color: #696969;
	width: 190px;
	height: 165px;
	float: left;
	margin-left: 980px;
	margin-top: -14%;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}

#Eenpart4{
	background-color: #696969;
	width: 190px;
	height: 165px;
	float: left;
	margin-left: 980px;
	margin-top: -14%;
	filter:alpha(Opacity=90);
	-moz-opacity:0.3;
	opacity: 0.85;
	visibility: hidden;
}

#enpbutton3{
	width: 70px;
	height: 30px;
	margin-top: 30px;
	margin-left: 60%;
}

#enpart4 p{
	width: 90%;
	margin:0 auto;
	padding-top: 20px;
	color: white;
}

#Eenpart4 p{
	width: 90%;
	margin:0 auto;
	padding-top: 20px;
	color: white;
}

.active2 {
	background-color: #41C7DB; !important;
}

.reminding{
	vertical-align:middle;
	width: 800px;
	display:inline-block;
	height: 30px;
	padding-top: 30px;
	font-size: 14px;
    color: red;
    font-weight: bold;
}

.remindingen{
    margin:0 auto;
	margin-top: 10px;
	height: 60px;
	font-size: 16px;
	color: red;
	font-weight: bold;
}

.password{
	margin:0 auto;
	margin-left: 57px;
	width: 300px;
	height: 30px;
	margin-top: 15px;
	vertical-align:middle;
}

.passlable{
	margin-left: 180px;
	vertical-align:middle;
	display:inline-block;
}

.userlable{
	margin-left: 180px;
	vertical-align:middle;
	display:inline-block;
	margin-top: 35px;
}

.userinput{
	margin:0 auto;
	margin-left: 40px;
	width: 300px;
	height: 30px;
	margin-top: 35px;
	vertical-align:middle;
}



.Quesen{
	margin-left: 10px;
	width: 550px;
	display:inline-block;
	vertical-align:middle;
	font-size: 14px;
}

.Quesde{
	margin-left: 10px;
	width: 630px;
	display:inline-block;
	vertical-align:middle;
	font-size: 14px;
}

.seclowen{
	display:inline-block;
	vertical-align: middle;
	margin-left: 6px;
}

.seclowen1{
	display:inline-block;
	vertical-align: middle;
}
#sti{
	font-size: 16px;
	font-weight: bold;
}

.main p{
	width: 800px;
     margin-left:20px;
    line-height: 25px;
}

.main-upen p{
	width: 800px;
    margin:0 auto;
    line-height: 25px;
}
.main h4{
    margin-left:20px;
    width:800px;
    margin-bottom: 20px;
}

.main-upen h4{
    margin:0 auto;
    width:800px;
    margin-top: 20px;
	margin-bottom: 20px;
}

.main-upen h3{
    margin:0 auto;
    width:800px;
    margin-bottom: 20px;
}

.bottomupen{
	width: 15%;
	float: left;
	height: auto;
	margin: 0 auto;
	overflow-x:hidden;
}

.bottomupen dt{
	width: auto;
	margin-left: 5px;
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: 600;
}

.bottomupen a{
	text-decoration: none;
	color: black;
}

.bottomupen dd{
	display: inline-block;
	margin-bottom: 10px;
	font-size: 16px;
	margin-left: 16px;
	width: auto;
	border-radius: 14px;
	padding: 3px 10px;
}

.bottomupen dd:hover{
	color: dodgerblue;
	cursor: pointer;
	font-weight: bold;
}

.bottomupen ul{
	margin-top: 0px;
}

.bottomupen li{
	display: inline-block;
	border-radius: 13px;
	margin-left: 20px;
	margin-bottom: 5px;
	font-size: 16px;
	width: auto;
	padding: 3px 10px;
	list-style-type:none;
}

.bottomupen li:hover{
	color: dodgerblue;
	cursor: pointer;
	font-weight: bold;
}

.taskdiscriptionen{
	margin-left:5%;
	width: 90%;
	margin-top: 0;
}

.taskdiscriptionen p{
	margin-top: 5px;
	font-size: 15px;
	margin-left: 5px;
}

.taskdiscriptionen h4{
	margin-bottom: 2px;
	margin-top: 15px;
}

.toneen{
	color: #41C7DB;
	font-weight: bold;
}

#endshowen{
	margin-left: 19%;
	margin-top:10%;
}

.entop-down{
	width: 15%;
	float: left;
	height: auto;
	margin: 0 auto;
	overflow-x: hidden;
}

.entop-down dt{
	margin-bottom:10px;
	margin-top: 23px;
	font-size: 18px;
	margin-left: 15px;
	font-weight: bold;
}

.entop-down dd{
	display: inline-block;
	margin-left: 35px;
	margin-top: 5px;
	border-radius: 15px;
	font-size: 16px;
	width: auto;
	padding: 3px 10px;
}

.entop-down dd:hover{
	color: dodgerblue;
	cursor: pointer;
	font-weight: bold;
}

.biaogeen{
	width: 90%;
}

.biaogeen form{
	margin-left: 5%;
	width: 95%;
}
.biaogeen dl{
	position: relative;
	margin-top: 10px;
}

.biaogeen dt{
	margin-bottom: 5px;
	font-size: 15px;
	margin-left: 6%;
}

.biaogeen dd{
	width: auto;
	height: auto;
	background-color: #41C7DB;
	border-radius: 17px;
	margin-top:5px;
	padding:5px 12px;
	float: left;
	margin-left: 10%;
	display: none;
	font-size: 11px;
}

.biaogeen img{
	float: right;
	vertical-align:middle;
}

.biaogeen input{
	width: 150px;
	width: 50px;
	overflow-y: visible;
	overflow-x: visible;
}

.instruction-en{
	padding-top: 8%;
	margin-left: 23%;
	margin-top:10%;
	width: 65%;
	height: 50%;
	padding-left: 50px;
}

#pronuname{
	border-top: 16px green solid;
}
