<!DOCTYPE html>
<html style="overflow-y: hidden">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/task.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <style type="text/css">
        #nopoint:hover{color: black;
	                    cursor: text;
                        font-weight: normal;
        }
</style>
    <title>Bottom-Up</title>
</head>
<body onload="time_funen()">
	<form method="post" action="{% url 'classification:U_Addtech1EN' %}" onsubmit="return checken()">
    {% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
			<div class="timing">
 			<span>Time</span> <span id="mytime">0 min 00 sec</span>
 			</div>
	</div>

	<div class="bannder13"></div>

	<div class="select-area">
		<div class="bottomupen">  <!-- Taxonomy部分 -->
			<dl>
				<dt>Design Phase</dt>
                    <dd id="design1" data-select="0" name="design">User Research<img id="design1img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                    <dd id="design2" data-select="0" name="design">Idea Generation<img id="design2img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                    <dd id="nopoint">Creation and Evaluation</dd><br/>
                        <ul>
                        <li id="design3" data-select="0" name="evaluation">Prototype Evaluation<img id="design3img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></li><br/>
                        <li id="design4" data-select="0" name="evaluation">Product Evaluation<img id="design4img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></li>
                        </ul>

				<dt >Design Data Collection</dt>
                    <dd  id="collect1" data-select="0" name="collect">Information Organization<img id="collect1img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                    <dd  id="collect2" data-select="0" name="collect">Observation<img id="collect2img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                    <dd  id="collect3" data-select="0" name="collect">User Simulation<img id="collect3img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                    <dd  id="collect4" data-select="0" name="collect">Relationship and Dependency<img id="collect4img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                    <dd  id="collect5" data-select="0" name="collect">Prototyping<img id="collect5img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                    <dd  id="collect6" data-select="0" name="collect">Feedback Collection<img id="collect6img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                    <dd  id="collect7" data-select="0" name="collect">UX Evaluation<img id="collect7img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd>

				<dt >Duration</dt>
                    <dd  id="duration1" data-select="0" name="duration">Short-term<img id="duration1img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                    <dd  id="duration2" data-select="0" name="duration">Long-term<img id="duration2img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                    <dd  id="duration3" data-select="0" name="duration">Flexible<img id="duration3img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd>

                <dt>Participant</dt>
                    <dd  id="participant1" data-select="0" name="participant">User<img id="participant1img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                    <dd  id="participant2" data-select="0" name="participant">Stakeholder<img id="participant2img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd><br/>
                    <dd  id="participant3" data-select="0" name="participant">Expert<img id="participant3img" class="hiddeimga" src="{% static 'img/chacha3.png' %}"></dd>
            </dl>
		</div> 
		
		<div class="teches">
            {% for tech in all_techch %}
                <div class="postcard">
				<div class="lantian">
				<h4 class="biaoti">{{tech.Tech_Name }}</h4><img class="topshow" src="{% static 'img/plus1.png' %}"
						onclick="addtechen(this)">
				</div>
				<div class="contenteden">
					<p>{{ tech.Short_Description }}</p>
					<div class="showed">
						<p>{{ tech.Long_Description|linebreaksbr }}</p>
					</div>
				</div>
			</div>
            {% endfor %}
		</div>

		<div class="selected">  
 			<div class="taskdiscriptionen">
                {% for task in taskdes %}
                    <h4 class="aa">Task {{ task.id }}</h4>
 				    <p >{{ task.Description }}</p>
                {% endfor %}

 			</div>
 			
 			<div class="biaoge">
                <dl>
                <dt>Please use the categories to narrow down the scope!</dt>
                <dt>Please select 3 design techniques.</dt>
                <dt class="toneen">Please click on "+" and the selected design techniques will be appeared here.</dt>
                <dd id="sam1"><input type="text" id="same1" name="selectedone" class="tijiao"><img id="same11" src="{% static 'img/chacha3.png' %}" onclick="Delete(1);"></dd>
                <dd id="sam2"><input type="text" id="same2" name="selectedtwo" class="tijiao"><img id="same22" src="{% static 'img/chacha3.png' %}" onclick="Delete(2);"></dd>
                <dd id="sam3"><input type="text" id="same3" name="selectedthree" class="tijiao"><img src="{% static 'img/chacha3.png' %}" id="same33" onclick="Delete(3);"></dd>
                <input type="submit" class="tesinput" name="" value="Next" id="butt-next-detail">
                </dl>
			</div>
		</div>
	</div>
</form>
</body>
<script type="text/javascript">
    $(document).ready(function(){
         var des1;
         var col1;
         var dur1;
         var part1;
         var design1Value;
         var design2Value;
         var design3Value;
         var design4Value;
         var collect1Value;
         var collect2Value;
         var collect3Value;
         var collect4Value;
         var collect5Value;
         var collect6Value;
         var collect7Value;
         var duration1Value;
         var duration2Value;
         var duration3Value;
         var participant1Value;
         var participant2Value;
         var participant3Value;
         function AddElement(ElementA,ElementB,ElementC) {
                 var element = '<div class="postcard">' +'<div class="lantian">' + '<h4 class="biaoti">'+ ElementA + '</h4>' +
                     '<img class="topshow" src="/static/img/plus1.png" onclick="addtechen(this)">' + '</div>'+ '<div class="contenteden" id="content_{{ tech.pk }}">'
                     + '<p>' + ElementB + '</p>' + '<div class="showed">' +  '<p>' + ElementC + '</p>' + '</div>' + '</div>' + '</div>';
                 return element;
             }
            $("#design1").click(function (){
            design1Value = $('#design1').prop('data-select');
            if (design1Value == undefined || design1Value == 0 || design2Value == 1 || design3Value ==1 || design4Value == 1) {
                design1Value = 1;
                design2Value = 0;
                design3Value = 0;
                design4Value = 0;
            }else {
                design1Value = 0;
            }
            if(design1Value == 1){
                des1 = $(this).text();
                $("#design1img").css("display","inline");
                $("#design2img").css("display","none");
                $("#design3img").css("display","none");
                $("#design4img").css("display","none");
                $("#design1").css("background-color","#41C7DB");
                $("#design1").css("font-weight","bold");
                $("#design2").css("font-weight","normal");
                $("#design3").css("font-weight","normal");
                $("#design4").css("font-weight","normal");
                $("#design2").css("background-color","white");
                $("#design3").css("background-color","white");
                $("#design4").css("background-color","white");
            }else {
                des1 = null;
                $("#design1img").css("display","none");
                $("#design1").css("font-weight","normal");
                $("#design1").css("background-color","white");
            }
             $('#design1').prop('data-select', design1Value);
             if(design2Value == 0 && design1Value == 0 && design3Value == 0 && design4Value ==0){
             $("#design1").prop('data-select',0);
             $("#design2").prop('data-select',0);
             $("#design3").prop('data-select',0);
             $("#design4").prop('data-select',0);
            }
            console.log(des1)
            $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
            function(tt){
                $('.teches').empty();
                $.each(tt,function(i,n){
                    var title = n.fields['Tech_Name'];
                    var showd = n.fields['Short_Description']
                    var contents = n.fields['Long_Description']
                    var reg = new RegExp(";","g");
                    var contents = contents.replace(reg,"<br>");
                    $('.teches').append(AddElement(title,showd,contents))
                })
            })
            });
            $("#design2").click(function (){
            design2Value = $('#design2').prop('data-select');
            if (design2Value == undefined || design2Value == 0 || design1Value == 1 || design3Value == 1 || design4Value == 1) {
                design2Value = 1;
                design1Value = 0;
                design3Value = 0;
                design4Value = 0;
            }else {
                design2Value = 0;
            }
            if(design2Value == 1){
                des1 = $(this).text();
                $("#design2img").css("display","inline");
                $("#design1img").css("display","none");
                $("#design3img").css("display","none");
                $("#design4img").css("display","none");
                $("#design2").css("background-color","#41C7DB");
                $("#design2").css("font-weight","bold");
                $("#design1").css("font-weight","normal");
                $("#design3").css("font-weight","normal");
                $("#design4").css("font-weight","normal");
                $("#design1").css("background-color","white");
                $("#design3").css("background-color","white");
                $("#design4").css("background-color","white");
            }else{
                des1 = null;
                $("#design2img").css("display","none");
                $("#design2").css("font-weight","normal");
                $("#design2").css("background-color","white");
            }
            $('#design2').prop('data-select', design2Value);
             if(design2Value == 0 && design1Value == 0 && design3Value == 0 && design4Value == 0){
             $("#design1").prop('data-select',0);
             $("#design2").prop('data-select',0);
             $("#design3").prop('data-select',0);
             $("#design4").prop('data-select',0);
            }
            console.log(design1Value);
            $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
            function(tt){
                $('.teches').empty();
                $.each(tt,function(i,n){
                    var title = n.fields['Tech_Name'];
                    var showd = n.fields['Short_Description']
                    var contents = n.fields['Long_Description']
                    var reg = new RegExp(";","g");
                    var contents = contents.replace(reg,"<br>");
                    $('.teches').append(AddElement(title,showd,contents))
                })
            })
            });
            $("#design3").click(function (){
            design3Value = $('#design3').prop('data-select');
            if (design3Value == undefined || design3Value == 0 || design1Value == 1 || design2Value == 1 || design4Value == 1) {
                design3Value = 1;
                design1Value = 0;
                design2Value = 0;
                design4Value = 0;
            }else {
                design3Value = 0;
            }
            if(design3Value == 1){
                des1 = $(this).text();
                $("#design3img").css("display","inline");
                $("#design1img").css("display","none");
                $("#design2img").css("display","none");
                $("#design4img").css("display","none");
                $("#design3").css("background-color","#41C7DB");
                $("#design3").css("font-weight","bold");
                $("#design1").css("font-weight","normal");
                $("#design2").css("font-weight","normal");
                $("#design4").css("font-weight","normal");
                $("#design1").css("background-color","white");
                $("#design2").css("background-color","white");
                $("#design4").css("background-color","white");
            }else{
                des1 = null;
                $("#design3img").css("display","none");
                $("#design3").css("font-weight","normal");
                $("#design3").css("background-color","white");
            }
            $('#design3').prop('data-select', design3Value);
             if(design2Value == 0 && design1Value == 0 && design3Value == 0 && design4Value == 0){
             $("#design1").prop('data-select',0);
             $("#design2").prop('data-select',0);
             $("#design3").prop('data-select',0);
             $("#design4").prop('data-select',0);
            }
            $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
            function(tt){
                $('.teches').empty();
                $.each(tt,function(i,n){
                    var title = n.fields['Tech_Name'];
                    var showd = n.fields['Short_Description']
                    var contents = n.fields['Long_Description']
                    var reg = new RegExp(";","g");
                    var contents = contents.replace(reg,"<br>");
                    $('.teches').append(AddElement(title,showd,contents))
                })
            })
            });
            $("#design4").click(function (){
                design4Value = $('#design4').prop('data-select');
                if (design4Value == undefined || design4Value == 0 || design1Value == 1 || design2Value == 1 || design3Value ==1) {
                    design4Value = 1;
                    design1Value = 0;
                    design2Value = 0;
                    design3Value = 0;
                }else {
                    design4Value = 0;
                }
               $('#design4').prop('data-select', design4Value);
                if(design4Value == 1){
                    $("#design4img").css("display","inline");
                    $("#design1img").css("display","none");
                    $("#design2img").css("display","none");
                    $("#design3img").css("display","none");
                    $("#design4").css("background-color","#41C7DB");
                    $("#design4").css("font-weight","bold");
                    $("#design1").css("font-weight","normal");
                    $("#design2").css("font-weight","normal");
                    $("#design3").css("font-weight","normal");
                    $("#design1").css("background-color","white");
                    $("#design3").css("background-color","white");
                    $("#design2").css("background-color","white");
                    des1 = $(this).text();
                }else {
                    $("#design4img").css("display","none");
                    $("#design4").css("font-weight","normal");
                    $("#design4").css("background-color","white");
                    des1 = null;
                }
                if(design2Value == 0 && design1Value == 0 && design3Value == 0 && design4Value ==0){
                 $("#design1").prop('data-select',0);
                 $("#design2").prop('data-select',0);
                 $("#design3").prop('data-select',0);
                 $("#design4").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description']
                        var contents = n.fields['Long_Description']
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents))
                    })
                })
                });

            $("#collect1").click(function (){
                collect1Value = $('#collect1').prop('data-select');
                if (collect1Value == undefined || collect1Value == 0 || collect2Value == 1 || collect3Value == 1 || collect4Value ==1 || collect5Value ==1 || collect6Value ==1 ||collect7Value ==1) {
                    collect1Value = 1;
                    collect2Value = 0;
                    collect3Value = 0;
                    collect4Value = 0;
                    collect5Value = 0;
                    collect6Value = 0;
                    collect7Value = 0;
                }else {
                    collect1Value = 0;
                }
               $('#collect1').prop('data-select', collect1Value);
                if(collect1Value == 1){
                    $("#collect1img").css("display","inline");
                    $("#collect2img").css("display","none");
                    $("#collect3img").css("display","none");
                    $("#collect4img").css("display","none");
                    $("#collect5img").css("display","none");
                    $("#collect6img").css("display","none");
                    $("#collect7img").css("display","none");
                    $("#collect1").css("background-color","#41C7DB");
                    $("#collect1").css("font-weight","bold");
                    $("#collect2").css("font-weight","normal");
                    $("#collect3").css("font-weight","normal");
                    $("#collect4").css("font-weight","normal");
                    $("#collect5").css("font-weight","normal");
                    $("#collect6").css("font-weight","normal");
                    $("#collect7").css("font-weight","normal");
                    $("#collect2").css("background-color","white");
                    $("#collect3").css("background-color","white");
                    $("#collect4").css("background-color","white");
                    $("#collect5").css("background-color","white");
                    $("#collect6").css("background-color","white");
                    $("#collect7").css("background-color","white");
                    col1 = $(this).text();
                }else {
                    $("#collect1img").css("display","none");
                    $("#collect1").css("font-weight","normal");
                    $("#collect1").css("background-color","white");
                    col1 = null;
                }
                if(collect1Value == 0 && collect2Value == 0 && collect3Value == 0 && collect4Value ==0 && collect5Value == 0 && collect6Value ==0 && collect7Value == 0){
                 $("#collect1").prop('data-select',0);
                 $("#collect2").prop('data-select',0);
                 $("#collect3").prop('data-select',0);
                 $("#collect5").prop('data-select',0);
                 $("#collect6").prop('data-select',0);
                 $("#collect7").prop('data-select',0);
                 $("#collect4").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description']
                        var contents = n.fields['Long_Description']
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents))
                    })
                })
                });
            $("#collect2").click(function (){
                collect2Value = $('#collect2').prop('data-select');
                if (collect2Value == undefined || collect2Value == 0 || collect1Value == 1 || collect3Value == 1 || collect4Value ==1 || collect5Value ==1 || collect6Value ==1 ||collect7Value ==1) {
                    collect2Value = 1;
                    collect1Value = 0;
                    collect3Value = 0;
                    collect4Value = 0;
                    collect5Value = 0;
                    collect6Value = 0;
                    collect7Value = 0;
                }else {
                    collect2Value = 0;
                }
               $('#collect2').prop('data-select', collect2Value);
                if(collect2Value == 1){
                    $("#collect2img").css("display","inline");
                    $("#collect1img").css("display","none");
                    $("#collect3img").css("display","none");
                    $("#collect4img").css("display","none");
                    $("#collect5img").css("display","none");
                    $("#collect6img").css("display","none");
                    $("#collect7img").css("display","none");
                    $("#collect2").css("background-color","#41C7DB");
                    $("#collect2").css("font-weight","bold");
                    $("#collect1").css("font-weight","normal");
                    $("#collect3").css("font-weight","normal");
                    $("#collect4").css("font-weight","normal");
                    $("#collect5").css("font-weight","normal");
                    $("#collect6").css("font-weight","normal");
                    $("#collect7").css("font-weight","normal");
                    $("#collect1").css("background-color","white");
                    $("#collect3").css("background-color","white");
                    $("#collect4").css("background-color","white");
                    $("#collect5").css("background-color","white");
                    $("#collect6").css("background-color","white");
                    $("#collect7").css("background-color","white");
                    col1 = $(this).text();
                }else {
                    $("#collect2img").css("display","none");
                    $("#collect2").css("font-weight","normal");
                    $("#collect2").css("background-color","white");
                    col1 = null;
                }
                if(collect1Value == 0 && collect2Value == 0 && collect3Value == 0 && collect4Value ==0 && collect5Value == 0 && collect6Value ==0 && collect7Value == 0){
                 $("#collect1").prop('data-select',0);
                 $("#collect2").prop('data-select',0);
                 $("#collect3").prop('data-select',0);
                 $("#collect5").prop('data-select',0);
                 $("#collect6").prop('data-select',0);
                 $("#collect7").prop('data-select',0);
                 $("#collect4").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description']
                        var contents = n.fields['Long_Description']
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents))
                    })
                })
                });
            $("#collect3").click(function (){
                collect3Value = $('#collect3').prop('data-select');
                if (collect3Value == undefined || collect3Value == 0 || collect2Value == 1 || collect1Value == 1 || collect4Value ==1 || collect5Value ==1 || collect6Value ==1 ||collect7Value ==1) {
                    collect3Value = 1;
                    collect2Value = 0;
                    collect1Value = 0;
                    collect4Value = 0;
                    collect5Value = 0;
                    collect6Value = 0;
                    collect7Value = 0;
                }else {
                    collect3Value = 0;
                }
               $('#collect3').prop('data-select', collect3Value);
                if(collect3Value == 1){
                    $("#collect3img").css("display","inline");
                    $("#collect2img").css("display","none");
                    $("#collect1img").css("display","none");
                    $("#collect4img").css("display","none");
                    $("#collect5img").css("display","none");
                    $("#collect6img").css("display","none");
                    $("#collect7img").css("display","none");
                    $("#collect3").css("background-color","#41C7DB");
                    $("#collect3").css("font-weight","bold");
                    $("#collect2").css("font-weight","normal");
                    $("#collect4").css("font-weight","normal");
                    $("#collect5").css("font-weight","normal");
                    $("#collect6").css("font-weight","normal");
                    $("#collect7").css("font-weight","normal");
                    $("#collect1").css("font-weight","normal");
                    $("#collect2").css("background-color","white");
                    $("#collect1").css("background-color","white");
                    $("#collect4").css("background-color","white");
                    $("#collect5").css("background-color","white");
                    $("#collect6").css("background-color","white");
                    $("#collect7").css("background-color","white");
                    col1 = $(this).text();
                }else {
                    $("#collect3img").css("display","none");
                    $("#collect3").css("font-weight","normal");
                    $("#collect3").css("background-color","white");
                    col1 = null;
                }
                if(collect1Value == 0 && collect2Value == 0 && collect3Value == 0 && collect4Value ==0 && collect5Value == 0 && collect6Value ==0 && collect7Value == 0){
                 $("#collect1").prop('data-select',0);
                 $("#collect2").prop('data-select',0);
                 $("#collect3").prop('data-select',0);
                 $("#collect5").prop('data-select',0);
                 $("#collect6").prop('data-select',0);
                 $("#collect7").prop('data-select',0);
                 $("#collect4").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description']
                        var contents = n.fields['Long_Description']
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents))
                    })
                })
                });
            $("#collect4").click(function (){
                collect4Value = $('#collect4').prop('data-select');
                if (collect4Value == undefined || collect4Value == 0 || collect2Value == 1 || collect3Value == 1 || collect1Value ==1 || collect5Value ==1 || collect6Value ==1 ||collect7Value ==1) {
                    collect4Value = 1;
                    collect2Value = 0;
                    collect3Value = 0;
                    collect1Value = 0;
                    collect5Value = 0;
                    collect6Value = 0;
                    collect7Value = 0;
                }else {
                    collect4Value = 0;
                }
               $('#collect4').prop('data-select', collect4Value);
                if(collect4Value == 1){
                    $("#collect4img").css("display","inline");
                    $("#collect2img").css("display","none");
                    $("#collect3img").css("display","none");
                    $("#collect1img").css("display","none");
                    $("#collect5img").css("display","none");
                    $("#collect6img").css("display","none");
                    $("#collect7img").css("display","none");
                    $("#collect4").css("background-color","#41C7DB");
                    $("#collect4").css("font-weight","bold");
                    $("#collect2").css("font-weight","normal");
                    $("#collect3").css("font-weight","normal");
                    $("#collect5").css("font-weight","normal");
                    $("#collect6").css("font-weight","normal");
                    $("#collect7").css("font-weight","normal");
                    $("#collect1").css("font-weight","normal");
                    $("#collect2").css("background-color","white");
                    $("#collect3").css("background-color","white");
                    $("#collect1").css("background-color","white");
                    $("#collect5").css("background-color","white");
                    $("#collect6").css("background-color","white");
                    $("#collect7").css("background-color","white");
                    col1 = $(this).text();
                }else {
                    $("#collect4img").css("display","none");
                    $("#collect4").css("font-weight","normal");
                    $("#collect4").css("background-color","white");
                    col1 = null;
                }
                if(collect1Value == 0 && collect2Value == 0 && collect3Value == 0 && collect4Value ==0 && collect5Value == 0 && collect6Value ==0 && collect7Value == 0){
                 $("#collect1").prop('data-select',0);
                 $("#collect2").prop('data-select',0);
                 $("#collect3").prop('data-select',0);
                 $("#collect5").prop('data-select',0);
                 $("#collect6").prop('data-select',0);
                 $("#collect7").prop('data-select',0);
                 $("#collect4").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description']
                        var contents = n.fields['Long_Description']
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents))
                    })
                })
                });
            $("#collect5").click(function (){
                collect5Value = $('#collect5').prop('data-select');
                if (collect5Value == undefined || collect5Value == 0 || collect2Value == 1 || collect3Value == 1 || collect4Value ==1 || collect1Value ==1 || collect6Value ==1 ||collect7Value ==1) {
                    collect5Value = 1;
                    collect2Value = 0;
                    collect3Value = 0;
                    collect4Value = 0;
                    collect1Value = 0;
                    collect6Value = 0;
                    collect7Value = 0;
                }else {
                    collect5Value = 0;
                }
               $('#collect5').prop('data-select', collect5Value);
                if(collect5Value == 1){
                    $("#collect5img").css("display","inline");
                    $("#collect2img").css("display","none");
                    $("#collect3img").css("display","none");
                    $("#collect4img").css("display","none");
                    $("#collect1img").css("display","none");
                    $("#collect6img").css("display","none");
                    $("#collect7img").css("display","none");
                    $("#collect5").css("background-color","#41C7DB");
                    $("#collect5").css("font-weight","bold");
                    $("#collect2").css("font-weight","normal");
                    $("#collect3").css("font-weight","normal");
                    $("#collect4").css("font-weight","normal");
                    $("#collect6").css("font-weight","normal");
                    $("#collect7").css("font-weight","normal");
                    $("#collect1").css("font-weight","normal");
                    $("#collect2").css("background-color","white");
                    $("#collect3").css("background-color","white");
                    $("#collect4").css("background-color","white");
                    $("#collect1").css("background-color","white");
                    $("#collect6").css("background-color","white");
                    $("#collect7").css("background-color","white");
                    col1 = $(this).text();
                }else {
                    $("#collect5img").css("display","none");
                    $("#collect5").css("font-weight","normal");
                    $("#collect5").css("background-color","white");
                    col1 = null;
                }
                if(collect1Value == 0 && collect2Value == 0 && collect3Value == 0 && collect4Value ==0 && collect5Value == 0 && collect6Value ==0 && collect7Value == 0){
                 $("#collect1").prop('data-select',0);
                 $("#collect2").prop('data-select',0);
                 $("#collect3").prop('data-select',0);
                 $("#collect5").prop('data-select',0);
                 $("#collect6").prop('data-select',0);
                 $("#collect7").prop('data-select',0);
                 $("#collect4").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description']
                        var contents = n.fields['Long_Description']
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents))
                    })
                })
                });
            $("#collect6").click(function (){
                collect6Value = $('#collect6').prop('data-select');
                if (collect6Value == undefined || collect6Value == 0 || collect2Value == 1 || collect3Value == 1 || collect4Value ==1 || collect5Value ==1 || collect1Value ==1 ||collect7Value ==1) {
                    collect6Value = 1;
                    collect2Value = 0;
                    collect3Value = 0;
                    collect4Value = 0;
                    collect5Value = 0;
                    collect1Value = 0;
                    collect7Value = 0;
                }else {
                    collect6Value = 0;
                }
               $('#collect6').prop('data-select', collect6Value);
                if(collect6Value == 1){
                    $("#collect6img").css("display","inline");
                    $("#collect2img").css("display","none");
                    $("#collect3img").css("display","none");
                    $("#collect4img").css("display","none");
                    $("#collect5img").css("display","none");
                    $("#collect1img").css("display","none");
                    $("#collect7img").css("display","none");
                    $("#collect6").css("background-color","#41C7DB");
                    $("#collect6").css("font-weight","bold");
                    $("#collect2").css("font-weight","normal");
                    $("#collect3").css("font-weight","normal");
                    $("#collect4").css("font-weight","normal");
                    $("#collect5").css("font-weight","normal");
                    $("#collect7").css("font-weight","normal");
                    $("#collect1").css("font-weight","normal");
                    $("#collect2").css("background-color","white");
                    $("#collect3").css("background-color","white");
                    $("#collect4").css("background-color","white");
                    $("#collect5").css("background-color","white");
                    $("#collect1").css("background-color","white");
                    $("#collect7").css("background-color","white");
                    col1 = $(this).text();
                }else {
                    $("#collect6img").css("display","none");
                    $("#collect6").css("font-weight","normal");
                    $("#collect6").css("background-color","white");
                    col1 = null;
                }
                if(collect1Value == 0 && collect2Value == 0 && collect3Value == 0 && collect4Value ==0 && collect5Value == 0 && collect6Value ==0 && collect7Value == 0){
                 $("#collect1").prop('data-select',0);
                 $("#collect2").prop('data-select',0);
                 $("#collect3").prop('data-select',0);
                 $("#collect5").prop('data-select',0);
                 $("#collect6").prop('data-select',0);
                 $("#collect7").prop('data-select',0);
                 $("#collect4").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description']
                        var contents = n.fields['Long_Description']
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents))
                    })
                })
                });
            $("#collect7").click(function (){
                collect7Value = $('#collect7').prop('data-select');
                if (collect7Value == undefined || collect7Value == 0 || collect2Value == 1 || collect3Value == 1 || collect4Value ==1 || collect5Value ==1 || collect6Value ==1 ||collect1Value ==1) {
                    collect7Value = 1;
                    collect2Value = 0;
                    collect3Value = 0;
                    collect4Value = 0;
                    collect5Value = 0;
                    collect6Value = 0;
                    collect1Value = 0;
                }else {
                    collect7Value = 0;
                }
               $('#collect7').prop('data-select', collect7Value);
                if(collect7Value == 1){
                    $("#collect7img").css("display","inline");
                    $("#collect2img").css("display","none");
                    $("#collect3img").css("display","none");
                    $("#collect4img").css("display","none");
                    $("#collect5img").css("display","none");
                    $("#collect6img").css("display","none");
                    $("#collect1img").css("display","none");
                    $("#collect7").css("background-color","#41C7DB");
                    $("#collect7").css("font-weight","bold");
                    $("#collect2").css("font-weight","normal");
                    $("#collect3").css("font-weight","normal");
                    $("#collect4").css("font-weight","normal");
                    $("#collect5").css("font-weight","normal");
                    $("#collect6").css("font-weight","normal");
                    $("#collect1").css("font-weight","normal");
                    $("#collect2").css("background-color","white");
                    $("#collect3").css("background-color","white");
                    $("#collect4").css("background-color","white");
                    $("#collect5").css("background-color","white");
                    $("#collect6").css("background-color","white");
                    $("#collect1").css("background-color","white");
                    col1 = $(this).text();
                }else {
                    $("#collect7img").css("display","none");
                    $("#collect7").css("font-weight","normal");
                    $("#collect7").css("background-color","white");
                    col1 = null;
                }
                if(collect1Value == 0 && collect2Value == 0 && collect3Value == 0 && collect4Value ==0 && collect5Value == 0 && collect6Value ==0 && collect7Value == 0){
                 $("#collect1").prop('data-select',0);
                 $("#collect2").prop('data-select',0);
                 $("#collect3").prop('data-select',0);
                 $("#collect5").prop('data-select',0);
                 $("#collect6").prop('data-select',0);
                 $("#collect7").prop('data-select',0);
                 $("#collect4").prop('data-select',0);
             }
                $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });

         $("#duration1").click(function (){
                duration1Value = $('#duration1').prop('data-select');
                if (duration1Value == undefined || duration1Value == 0 || duration2Value == 1 || duration3Value == 1) {
                    duration1Value = 1;
                    duration2Value = 0;
                    duration3Value = 0;
                }else {
                    duration1Value = 0;
                }
               $('#duration1').prop('data-select', duration1Value);
                if(duration1Value == 1){
                    $("#duration1img").css("display","inline");
                    $("#duration2img").css("display","none");
                    $("#duration3img").css("display","none");
                    $("#duration1").css("background-color","#41C7DB");
                    $("#duration1").css("font-weight","bold");
                    $("#duration2").css("font-weight","normal");
                    $("#duration3").css("font-weight","normal");
                    $("#duration2").css("background-color","white");
                    $("#duration3").css("background-color","white");
                    dur1 = $(this).text();
                }else {
                    $("#duration1img").css("display","none");
                    $("#duration1").css("font-weight","normal");
                    $("#duration1").css("background-color","white");
                    dur1 = null;
                }
                if(duration1Value == 0 && duration2Value == 0 && duration3Value == 0){
                 $("#duration1").prop('data-select',0);
                 $("#duration2").prop('data-select',0);
                 $("#duration3").prop('data-select',0);
                }
                $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });
         $("#duration2").click(function (){
                duration2Value = $('#duration2').prop('data-select');
                if (duration2Value == undefined || duration2Value == 0 || duration1Value == 1 || duration3Value == 1) {
                    duration2Value = 1;
                    duration1Value = 0;
                    duration3Value = 0;
                }else {
                    duration2Value = 0;
                }
               $('#duration2').prop('data-select', duration2Value);
                if(duration2Value == 1){
                    $("#duration2img").css("display","inline");
                    $("#duration1img").css("display","none");
                    $("#duration3img").css("display","none");
                    $("#duration2").css("background-color","#41C7DB");
                    $("#duration2").css("font-weight","bold");
                    $("#duration3").css("font-weight","normal");
                    $("#duration1").css("font-weight","normal");
                    $("#duration1").css("background-color","white");
                    $("#duration3").css("background-color","white");
                    dur1 = $(this).text();
                }else {
                    $("#duration2img").css("display","none");
                    $("#duration2").css("font-weight","normal");
                    $("#duration2").css("background-color","white");
                    dur1 = null;
                }
                if(duration1Value == 0 && duration2Value == 0 && duration3Value == 0){
                 $("#duration1").prop('data-select',0);
                 $("#duration2").prop('data-select',0);
                 $("#duration3").prop('data-select',0);
                }
                $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents))
                    })
                })
                });
         $("#duration3").click(function (){
                duration3Value = $('#duration3').prop('data-select');
                if (duration3Value == undefined || duration3Value == 0 || duration2Value == 1 || duration1Value == 1) {
                    duration3Value = 1;
                    duration2Value = 0;
                    duration1Value = 0;
                }else {
                    duration3Value = 0;
                }
               $('#duration3').prop('data-select', duration3Value);
                if(duration3Value == 1){
                    $("#duration3img").css("display","inline");
                    $("#duration2img").css("display","none");
                    $("#duration1img").css("display","none");
                    $("#duration3").css("background-color","#41C7DB");
                    $("#duration3").css("font-weight","bold");
                    $("#duration2").css("font-weight","normal");
                    $("#duration1").css("font-weight","normal");
                    $("#duration2").css("background-color","white");
                    $("#duration1").css("background-color","white");
                    dur1 = $(this).text();
                }else {
                    $("#duration3img").css("display","none");
                    $("#duration3").css("font-weight","normal");
                    $("#duration3").css("background-color","white");
                    dur1 = null;
                }
                if(duration1Value == 0 && duration2Value == 0 && duration3Value == 0){
                 $("#duration1").prop('data-select',0);
                 $("#duration2").prop('data-select',0);
                 $("#duration3").prop('data-select',0);
                }
                $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });

         $("#participant1").click(function (){
                participant1Value = $('#participant1').prop('data-select');
                if (participant1Value == undefined || participant1Value == 0 || participant2Value == 1 || participant3Value == 1) {
                    participant1Value = 1;
                    participant2Value = 0;
                    participant3Value = 0;
                }else {
                    participant1Value = 0;
                }
               $('#participant1').prop('data-select', participant1Value);
                if(participant1Value == 1){
                    $("#participant1img").css("display","inline");
                    $("#participant2img").css("display","none");
                    $("#participant3img").css("display","none");
                    $("#participant1").css("background-color","#41C7DB");
                    $("#participant1").css("font-weight","bold");
                    $("#participant2").css("font-weight","normal");
                    $("#participant3").css("font-weight","normal");
                    $("#participant2").css("background-color","white");
                    $("#participant3").css("background-color","white");
                    part1 = $(this).text();
                }else {
                    $("#participant1img").css("display","none");
                    $("#participant1").css("font-weight","normal");
                    $("#participant1").css("background-color","white");
                    part1 = null;
                }
                if(participant1Value == 0 && participant2Value == 0 && participant3Value == 0){
                 $("#participant1").prop('data-select',0);
                 $("#participant2").prop('data-select',0);
                 $("#participant3").prop('data-select',0);
                }
                $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });
         $("#participant2").click(function (){
                participant2Value = $('#participant2').prop('data-select');
                if (participant2Value == undefined || participant2Value == 0 || participant3Value == 1 || participant1Value == 1) {
                    participant2Value = 1;
                    participant3Value = 0;
                    participant1Value = 0;
                }else {
                    participant2Value = 0;
                }
               $('#participant2').prop('data-select', participant2Value);
                if(participant2Value == 1){
                    $("#participant2img").css("display","inline");
                    $("#participant3img").css("display","none");
                    $("#participant1img").css("display","none");
                    $("#participant2").css("background-color","#41C7DB");
                    $("#participant2").css("font-weight","bold");
                     $("#participant1").css("font-weight","normal");
                    $("#participant3").css("font-weight","normal");
                    $("#participant3").css("background-color","white");
                    $("#participant1").css("background-color","white");
                    part1 = $(this).text();
                }else {
                    $("#participant2img").css("display","none");
                    $("#participant2").css("font-weight","normal");
                    $("#participant2").css("background-color","white");
                    part1 = null;
                }
                if(participant2Value == 0 && participant1Value == 0 && participant3Value == 0){
                 $("#participant1").prop('data-select',0);
                 $("#participant2").prop('data-select',0);
                 $("#participant3").prop('data-select',0);
                }
                $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });
         $("#participant3").click(function (){
                participant3Value = $('#participant3').prop('data-select');
                if (participant3Value == undefined || participant3Value == 0 || participant2Value == 1 || participant1Value == 1) {
                    participant3Value = 1;
                    participant2Value = 0;
                    participant1Value = 0;
                }else {
                    participant3Value = 0;
                }
               $('#participant3').prop('data-select', participant3Value);
                if(participant3Value == 1){
                    $("#participant3img").css("display","inline");
                    $("#participant2img").css("display","none");
                    $("#participant1img").css("display","none");
                    $("#participant3").css("background-color","#41C7DB");
                    $("#participant3").css("font-weight","bold");
                    $("#participant2").css("font-weight","normal");
                    $("#participant1").css("font-weight","normal");
                    $("#participant2").css("background-color","white");
                    $("#participant1").css("background-color","white");
                    part1 = $(this).text();
                }else {
                    $("#participant3img").css("display","none");
                    $("#participant3").css("font-weight","normal");
                    $("#participant3").css("background-color","white");
                    part1 = null;
                }
                if(participant1Value == 0 && participant2Value == 0 && participant3Value == 0){
                 $("#participant1").prop('data-select',0);
                 $("#participant2").prop('data-select',0);
                 $("#participant3").prop('data-select',0);
                }
                $.post("{% url 'classification:Ajax_EN_Up_add' %}",{"des1":des1,"col1":col1,"part1":part1,"dur1":dur1},
                function(tt){
                    $('.teches').empty();
                    $.each(tt,function(i,n){
                        var title = n.fields['Tech_Name'];
                        var showd = n.fields['Short_Description'];
                        var contents = n.fields['Long_Description'];
                        var reg = new RegExp(";","g");
                        var contents = contents.replace(reg,"<br>");
                        $('.teches').append(AddElement(title,showd,contents));
                    })
                })
                });
    })
</script>
</html>
