<!DOCTYPE html>
<html style="overflow-y: hidden;">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/enlanguage.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="{% static 'JS/index.js' %}"></script>
    <title>Introduction</title>
</head>
<body>
<form method="post" action="{% url 'classification:ENintroup' %}" onsubmit="return remindingenE()" class="introde-form">
    {% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
	</div>

	<div class="bannder11">
		
	</div>

	<div class="introde-page">
		<p>Do you really understand how to use this tool?</p>
		<p>Please click on <span id="sti">Read Again</span></p>
	  	<div class="bottomen">
	  		<div><input type="button" name="" value="Show the Instruction" id="showbutttest" onclick="removebuttonentop()"></div>
             <div style="margin-top:-35%;margin-left:-5%;">
              <input type="button" name="" value="Read Again" id="showbig" onclick="removebuttonbig()">
            </div>

	  		<div id="enpart1">
	  			<p>In this area, there are some categories which can help you to narrow down the scope when selecting design techniques.</p>
	  			<input type="button" name="" value="next" id="enpbutton1" class="bbotton" onclick="showpart2en()">
	  		</div>

	   		<div id="enpart2">
		  		<p>In this area, there are 50 design techniques. All design techniques are presented in a card format.</p>
				<p>Please just click on “+” and the design technique will be selected. The selected design techniques will appear at the bottom-down of the webpage.</p>
				<p>You should select three design techniques for each task.</p>
		  		<input type="button" name="" value="next" id="enpbutton2" class="bbotton" onclick="showpart4en()">
	  		</div>

	  		<div id="enpart3">
		  		<p>The task will appear in this area as a reminder. </p>
		  		<p>Before you come to the web page for selecting design techniques, the description of the task was already presented.</p>
	  		</div>
	  		
	  		<div id="enpart4">
		  		<p>The selected design techniques will appear in this area.</p>
                <input type="button" name="" value="next" style="margin-top: 25px;" id="enpbutton3" class="bbotton" onclick="showpart3en()">
	  		</div>
        </div>
        <input type="submit" class="tesinput" name="" value="Next" id="butt-next" >
	  </div>
    </form>
</body>
</html>