<!DOCTYPE html>
<html style="height: 100%">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/enlanguage.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="{% static 'JS/myscript.js' %}"></script>
    <title>TaskDetail2</title>
</head>
<body>
<form method="post" action="{% url 'classification:EnU_2' %}">
    {% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
			<input type="submit" name="" value="Next" id="butt-next">
	</div>

	<div class="bannder9">
		
	</div>

	<div class="main">
        {% for task in taskdes %}
            <h4>Task {{ task.id }}</h4>
	        <p>{{ task.Description }}</p>
        {% endfor %}

	  <p>Please use the following web page to select three design techniques for this scenario.</p>
	</div>
</form>
</body>
</html>