<!DOCTYPE html>
<html style="height: 100%">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/enlanguage.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>post-test 1</title>
</head>
<body>
<form method="post" action="{% url 'classification:B_Addpost1EN' %}">
    {% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
			<input type="button" name="" value="Next" onclick="" id="butt-next">
	</div>

	<div class="bannder8">
		
	</div>

	<div class="mainbody">
	  <div class="opptions">
		<p>Please answer the following questions.</p>
		<table id="tab2">
			<tr class="dark">
				<td><span style="margin-left: 35px;">To what extent do you agree or disagree with the following statement? 1= extremely disagree; 7=extremely agree</span><td>
			</tr>
			<tr class="light">
                <td>
                    <span class="number">1.</span><span class="Ques">The selected design techniques suit the scenario of the task.</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="post1" value="1"><label class="labposition">1</label></span>
                        <span class="seclow"><input type="radio" name="post1" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="post1" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="post1" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="post1" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="post1" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="post1" value="7"><label class="labposition">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white">
                <td>
                <span class="number">2.</span><span class="Ques">The selected design techniques do not suit the scenario of the task.</span>
                <span class="onelow">
                    <span class="seclow"><input type="radio" name="post2" value="1"><label class="labposition">1</label></span>
                    <span class="seclow"><input type="radio" name="post2" value="2"><label class="labposition">2</label></span>
                    <span class="seclow"><input type="radio" name="post2" value="3"><label class="labposition">3</label></span>
                    <span class="seclow"><input type="radio" name="post2" value="4"><label class="labposition">4</label></span>
                    <span class="seclow"><input type="radio" name="post2" value="5"><label class="labposition">5</label></span>
                    <span class="seclow"><input type="radio" name="post2" value="6"><label class="labposition">6</label></span>
                    <span class="seclow"><input type="radio" name="post2" value="7"><label class="labposition">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light">
                <td>
                    <span class="number">3.</span><span class="Ques">I felt using the web page for selecting affected the selection of suitable design techniques.</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="post3" value="1"><label class="labposition">1</label></span>
                        <span class="seclow"><input type="radio" name="post3" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="post3" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="post3" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="post3" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="post3" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="post3" value="7"><label class="labposition">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white">
                <td>
                <span class="number">4.</span><span class="Ques">The selected design techniques are correct ones.</span>
                <span class="onelow">
                    <span class="seclow"><input type="radio" name="post4" value="1"><label class="labposition">1</label></span>
                    <span class="seclow"><input type="radio" name="post4" value="2"><label class="labposition">2</label></span>
                    <span class="seclow"><input type="radio" name="post4" value="3"><label class="labposition">3</label></span>
                    <span class="seclow"><input type="radio" name="post4" value="4"><label class="labposition">4</label></span>
                    <span class="seclow"><input type="radio" name="post4" value="5"><label class="labposition">5</label></span>
                    <span class="seclow"><input type="radio" name="post4" value="6"><label class="labposition">6</label></span>
                    <span class="seclow"><input type="radio" name="post4" value="7"><label class="labposition">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light">
                <td>
                    <span class="number">5.</span><span class="Ques">I am not sure the selected design techniques for the task were appropriate.</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="post5" value="1"><label class="labposition">1</label></span>
                        <span class="seclow"><input type="radio" name="post5" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="post5" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="post5" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="post5" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="post5" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="post5" value="7"><label class="labposition">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white">
                <td>
                <span class="number">6.</span><span class="Ques">I am not confident about the selected design techniques for the task.</span>
                <span class="onelow">
                    <span class="seclow"><input type="radio" name="post6" value="1"><label class="labposition">1</label></span>
                    <span class="seclow"><input type="radio" name="post6" value="2"><label class="labposition">2</label></span>
                    <span class="seclow"><input type="radio" name="post6" value="3"><label class="labposition">3</label></span>
                    <span class="seclow"><input type="radio" name="post6" value="4"><label class="labposition">4</label></span>
                    <span class="seclow"><input type="radio" name="post6" value="5"><label class="labposition">5</label></span>
                    <span class="seclow"><input type="radio" name="post6" value="6"><label class="labposition">6</label></span>
                    <span class="seclow"><input type="radio" name="post6" value="7"><label class="labposition">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light">
                <td>
                    <span class="number">7.</span><span class="Ques">It was impossible to be certain when selecting most suitable design techniques for the task.</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="post7" value="1"><label class="labposition">1</label></span>
                        <span class="seclow"><input type="radio" name="post7" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="post7" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="post7" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="post7" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="post7" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="post7" value="7"><label class="labposition">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white">
                <td>
                <span class="number">8.</span><span class="Ques">I felt confident when selecting design techniques for the task.</span>
                <span class="onelow">
                    <span class="seclow"><input type="radio" name="post8" value="1"><label class="labposition">1</label></span>
                    <span class="seclow"><input type="radio" name="post8" value="2"><label class="labposition">2</label></span>
                    <span class="seclow"><input type="radio" name="post8" value="3"><label class="labposition">3</label></span>
                    <span class="seclow"><input type="radio" name="post8" value="4"><label class="labposition">4</label></span>
                    <span class="seclow"><input type="radio" name="post8" value="5"><label class="labposition">5</label></span>
                    <span class="seclow"><input type="radio" name="post8" value="6"><label class="labposition">6</label></span>
                    <span class="seclow"><input type="radio" name="post8" value="7"><label class="labposition">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light">
                <td>
                    <span class="number">9.</span><span class="Ques">I understood the problems in the scenario of the task.</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="post9" value="1"><label class="labposition">1</label></span>
                        <span class="seclow"><input type="radio" name="post9" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="post9" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="post9" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="post9" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="post9" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="post9" value="7"><label class="labposition">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white">
                <td>
                <span class="number">10.</span><span class="Ques">I had a structured solution for solving the problems by selecting design techniques.</span>
                <span class="onelow">
                    <span class="seclow"><input type="radio" name="post10" value="1"><label class="labposition">1</label></span>
                    <span class="seclow"><input type="radio" name="post10" value="2"><label class="labposition">2</label></span>
                    <span class="seclow"><input type="radio" name="post10" value="3"><label class="labposition">3</label></span>
                    <span class="seclow"><input type="radio" name="post10" value="4"><label class="labposition">4</label></span>
                    <span class="seclow"><input type="radio" name="post10" value="5"><label class="labposition">5</label></span>
                    <span class="seclow"><input type="radio" name="post10" value="6"><label class="labposition">6</label></span>
                    <span class="seclow"><input type="radio" name="post10" value="7"><label class="labposition">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light">
                <td>
                    <span class="number">11.</span><span class="Ques">I can explain the reasons for making the selection.</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="post11" value="1"><label class="labposition">1</label></span>
                        <span class="seclow"><input type="radio" name="post11" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="post11" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="post11" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="post11" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="post11" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="post11" value="7"><label class="labposition">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white">
                <td>
                <span class="number">12.</span><span class="Ques">The selected design techniques can solve the identified problem in the scenario.</span>
                <span class="onelow">
                    <span class="seclow"><input type="radio" name="post12" value="1"><label class="labposition">1</label></span>
                    <span class="seclow"><input type="radio" name="post12" value="2"><label class="labposition">2</label></span>
                    <span class="seclow"><input type="radio" name="post12" value="3"><label class="labposition">3</label></span>
                    <span class="seclow"><input type="radio" name="post12" value="4"><label class="labposition">4</label></span>
                    <span class="seclow"><input type="radio" name="post12" value="5"><label class="labposition">5</label></span>
                    <span class="seclow"><input type="radio" name="post12" value="6"><label class="labposition">6</label></span>
                    <span class="seclow"><input type="radio" name="post12" value="7"><label class="labposition">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light">
                <td>
                    <span class="number">13.</span><span class="Ques">The design techniques that I selected can impact the task goal achievement.</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="post13" value="1"><label class="labposition">1</label></span>
                        <span class="seclow"><input type="radio" name="post13" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="post13" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="post13" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="post13" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="post13" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="post13" value="7"><label class="labposition">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white">
                <td>
                <span class="number">14.</span><span class="Ques">The selected design techniques focused on the requirements of the task.</span>
                <span class="onelow">
                    <span class="seclow"><input type="radio" name="post14" value="1"><label class="labposition">1</label></span>
                    <span class="seclow"><input type="radio" name="post14" value="2"><label class="labposition">2</label></span>
                    <span class="seclow"><input type="radio" name="post14" value="3"><label class="labposition">3</label></span>
                    <span class="seclow"><input type="radio" name="post14" value="4"><label class="labposition">4</label></span>
                    <span class="seclow"><input type="radio" name="post14" value="5"><label class="labposition">5</label></span>
                    <span class="seclow"><input type="radio" name="post14" value="6"><label class="labposition">6</label></span>
                    <span class="seclow"><input type="radio" name="post14" value="7"><label class="labposition">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light">
                <td>
                    <span class="number">15.</span><span class="Ques">I provided clearly recommendation for the selection of design techniques for the specific scenario.</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="post15" value="1"><label class="labposition">1</label></span>
                        <span class="seclow"><input type="radio" name="post15" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="post15" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="post15" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="post15" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="post15" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="post15" value="7"><label class="labposition">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white">
                <td>
                <span class="number">16.</span><span class="Ques">I did not perform as well as I could because I was not motivated to do well.</span>
                <span class="onelow">
                    <span class="seclow"><input type="radio" name="post16" value="1"><label class="labposition">1</label></span>
                    <span class="seclow"><input type="radio" name="post16" value="2"><label class="labposition">2</label></span>
                    <span class="seclow"><input type="radio" name="post16" value="3"><label class="labposition">3</label></span>
                    <span class="seclow"><input type="radio" name="post16" value="4"><label class="labposition">4</label></span>
                    <span class="seclow"><input type="radio" name="post16" value="5"><label class="labposition">5</label></span>
                    <span class="seclow"><input type="radio" name="post16" value="6"><label class="labposition">6</label></span>
                    <span class="seclow"><input type="radio" name="post16" value="7"><label class="labposition">7</label></span>
                </span>
                </td>
            </tr>
            <tr class="light">
                <td>
                    <span class="number">17.</span><span class="Ques">I really wanted to succeed in this task.</span>
                    <span class="onelow">
                        <span class="seclow"><input type="radio" name="post17" value="1"><label class="labposition">1</label></span>
                        <span class="seclow"><input type="radio" name="post17" value="2"><label class="labposition">2</label></span>
                        <span class="seclow"><input type="radio" name="post17" value="3"><label class="labposition">3</label></span>
                        <span class="seclow"><input type="radio" name="post17" value="4"><label class="labposition">4</label></span>
                        <span class="seclow"><input type="radio" name="post17" value="5"><label class="labposition">5</label></span>
                        <span class="seclow"><input type="radio" name="post17" value="6"><label class="labposition">6</label></span>
                        <span class="seclow"><input type="radio" name="post17" value="7"><label class="labposition">7</label></span>
                    </span>
                </td>
            </tr>
            <tr class="white">
                <td>
                <span class="number">18.</span><span class="Ques">I would look forward to conducting the same task in the future.</span>
                <span class="onelow">
                    <span class="seclow"><input type="radio" name="post18" value="1"><label class="labposition">1</label></span>
                    <span class="seclow"><input type="radio" name="post18" value="2"><label class="labposition">2</label></span>
                    <span class="seclow"><input type="radio" name="post18" value="3"><label class="labposition">3</label></span>
                    <span class="seclow"><input type="radio" name="post18" value="4"><label class="labposition">4</label></span>
                    <span class="seclow"><input type="radio" name="post18" value="5"><label class="labposition">5</label></span>
                    <span class="seclow"><input type="radio" name="post18" value="6"><label class="labposition">6</label></span>
                    <span class="seclow"><input type="radio" name="post18" value="7"><label class="labposition">7</label></span>
                </span>
                </td>
            </tr>

		</table>
	</div>
	</div>
    </form>
</body>
</html>