<!DOCTYPE html>
<html style="overflow-y: hidden;">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="{% static 'JS/index.js' %}"></script>
    <title>Introduction</title>
</head>
<body>
<form method="post" action="{% url 'classification:Chintrotag' %}" onsubmit="return remindingcnc()" class="introde-form" >
{% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
	</div>


	<div class="bannder9">
		
	</div>

	<div class="introde-page">
		<p>这个任务是关于为一个场景挑选合适的设计技术。 在开始任务之前，请点击<span id="sti">“显示介绍”</span>观看关于如何使用网页的介绍。</p>
		<div class="back-tag">
	  		<input type="button" name="" value="显示介绍" id="showbutttest" onclick="removebuttontag()">

	  		<div id="part1tag">
	  			<p>在这一区域，一些类别可以帮助您在选择设计技术时缩小范围。</p>
	  			<input type="button" name="" value="Next" id="pbutton1" class="bbotton" onclick="showpart2tag()">
	  		</div>

	   		<div id="part2tag">
		  		<p>在这一区域，包括50个设计技术。 所有设计技巧都以卡片形式呈现。<br/>
				请点击“+”，选择设计技巧。 所选的设计技术将出现在网页的底部。<br/>
				您只能为这个任务选择三种设计技术。</p>
		  		<input type="button" name="" value="Next" id="pbutton2" class="bbotton" onclick="showpart4tag()">
	  		</div>

	  		<div id="part3Stag">
		  		<p>任务将出现在这个区域作为提醒。 在您进入网页选择设计技术之前，该任务的描述就已经被介绍了。</p>  		
	  		</div>
	  		
	  		<div id="part4tag">
		  		<p>所选的设计技术将出现在这个区域。</p>
		  		<input type="button" name="" value="Next" id="pbutton3" class="bbotton" onclick="showpart3Stag()">
	  		</div>
        </div>
        <input type="submit" class="tesinput" name="" value="下一步" id="butt-next" >
    </div>
</form>
</body>
</html>