<!DOCTYPE html>
<html style="height: 100%">
{% load staticfiles %}
<head>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/body.css' %}"  />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>TaskDetail3</title>
</head>
<body>
<form action="{% url 'classification:C_3' %}" method="post">
{% csrf_token %}
	<div class="header">  <!-- logo部分 -->
			<div class="kitlogo"><img src="{% static 'img/kit2.png' %}">
				<p>Welcome to the Online Experiment</p>
			</div>
			<input type="submit" name="" value="下一步" onclick="" id="butt-next">
	</div>

	<div class="bannder12">
		
	</div>

	<div class="maincn">
        {% for task in taskdes %}
            <h3>任务 {{ task.id }}</h3>
	        <p>{{ task.Description }}</p>
        {% endfor %}
	  <h4>请使用以下网页为此任务选择三个设计技术。</h4>
	</div>
    </form>
</body>
</html>